Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$

feat(endpoints): migrate json fields to jsonb (#306)
  components/backend/alembic/versions/20260305_000000_json_to_jsonb_endpoints.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
Due: none

fix(migrations): correct down_revision chain for json_to_jsonb migration
  components/backend/alembic/versions/20260305_000000_json_to_jsonb_endpoints.py
Due: none

fix(migrations): correct down_revision chain for json_to_jsonb migration (#307)
  components/backend/alembic/versions/20260305_000000_json_to_jsonb_endpoints.py
Due: none

refactor(frontend): use data sources loading flag
  components/frontend/src/components/chat/chat-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(endpoints): switch to slug-based display
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_status.go
  cli/internal/output/output.go
Due: cli-gofmt, cli-govet

feat(backend): add POST /endpoints/health for per-endpoint health reporting
  components/backend/alembic/versions/20260302_000000_add_endpoint_health_fields.py
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/api/endpoints/organizations.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/models/organization.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/src/syfthub/services/organization_service.py
  components/backend/src/syfthub/services/user_service.py
Due: none

remove alembic migrations
  components/backend/alembic/versions/20260302_000000_add_endpoint_health_fields.py
Due: none

chore: add migrations
  components/backend/alembic/versions/20260302_000000_add_endpoint_health_fields.py
Due: none

test(backend): update health monitor tests and add endpoint health tests
  components/backend/tests/test_jobs/test_health_monitor.py
  components/backend/tests/test_services/test_endpoint_service.py
Due: none

Refactor/endpoint health api (#311)
  components/backend/alembic/versions/20260302_000000_add_endpoint_health_fields.py
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/api/endpoints/organizations.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/models/organization.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/src/syfthub/services/organization_service.py
  components/backend/src/syfthub/services/user_service.py
  components/backend/tests/test_jobs/test_health_monitor.py
  components/backend/tests/test_services/test_endpoint_service.py
Due: none

style: fix gofmt alignment in setup types, template test, and registry
  cli/internal/cmd/node_endpoint_setup.go
  cli/internal/cmd/node_endpoint_setup_init.go
  cli/internal/cmd/node_marketplace.go
  cli/internal/connectors/registry.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/nodeops/setup.go
  sdk/golang/syfthubapi/nodeops/setup_types.go
  sdk/golang/syfthubapi/setupflow/engine.go
  sdk/golang/syfthubapi/setupflow/handlers/exec.go
  sdk/golang/syfthubapi/setupflow/handlers/exec_test.go
  sdk/golang/syfthubapi/setupflow/handlers/http_test.go
  sdk/golang/syfthubapi/setupflow/handlers/mock_io_test.go
  sdk/golang/syfthubapi/setupflow/handlers/oauth2.go
  sdk/golang/syfthubapi/setupflow/handlers/oauth2_test.go
  sdk/golang/syfthubapi/setupflow/handlers/select.go
  sdk/golang/syfthubapi/setupflow/handlers/select_test.go
  sdk/golang/syfthubapi/setupflow/integration_test.go
  sdk/golang/syfthubapi/setupflow/lifecycle.go
  sdk/golang/syfthubapi/setupflow/lifecycle_test.go
  sdk/golang/syfthubapi/setupflow/template.go
  sdk/golang/syfthubapi/setupflow/template_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, cli-gofmt, cli-govet

feat(sdk): add declarative endpoint setup flow system
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/nodeops/endpoint.go
  sdk/golang/syfthubapi/nodeops/env.go
  sdk/golang/syfthubapi/nodeops/setup.go
  sdk/golang/syfthubapi/nodeops/setup_test.go
  sdk/golang/syfthubapi/nodeops/setup_types.go
  sdk/golang/syfthubapi/nodeops/types.go
  sdk/golang/syfthubapi/setupflow/context.go
  sdk/golang/syfthubapi/setupflow/engine.go
  sdk/golang/syfthubapi/setupflow/engine_test.go
  sdk/golang/syfthubapi/setupflow/env.go
  sdk/golang/syfthubapi/setupflow/handler.go
  sdk/golang/syfthubapi/setupflow/handlers/http.go
  sdk/golang/syfthubapi/setupflow/handlers/http_test.go
  sdk/golang/syfthubapi/setupflow/handlers/oauth2.go
  sdk/golang/syfthubapi/setupflow/handlers/oauth2_test.go
  sdk/golang/syfthubapi/setupflow/handlers/prompt.go
  sdk/golang/syfthubapi/setupflow/handlers/select.go
  sdk/golang/syfthubapi/setupflow/handlers/select_test.go
  sdk/golang/syfthubapi/setupflow/handlers/template.go
  sdk/golang/syfthubapi/setupflow/integration_test.go
  sdk/golang/syfthubapi/setupflow/io.go
  sdk/golang/syfthubapi/setupflow/lifecycle.go
  sdk/golang/syfthubapi/setupflow/lifecycle_test.go
  sdk/golang/syfthubapi/setupflow/result.go
  sdk/golang/syfthubapi/setupflow/template.go
  sdk/golang/syfthubapi/setupflow/template_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(cli): add setup flow commands and connector templates
  cli/internal/cmd/node_endpoint.go
  cli/internal/cmd/node_endpoint_setup.go
  cli/internal/cmd/node_endpoint_setup_init.go
  cli/internal/cmd/node_marketplace.go
  cli/internal/cmd/node_run.go
  cli/internal/cmd/setup_io.go
  cli/internal/connectors/anthropic.yaml
  cli/internal/connectors/custom-api.yaml
  cli/internal/connectors/github.yaml
  cli/internal/connectors/google-drive.yaml
  cli/internal/connectors/google-sheets.yaml
  cli/internal/connectors/notion.yaml
  cli/internal/connectors/openai.yaml
  cli/internal/connectors/postgres.yaml
  cli/internal/connectors/registry.go
  cli/internal/connectors/registry_test.go
  cli/internal/connectors/slack.yaml
  cli/internal/connectors/telegram.yaml
Due: cli-gofmt, cli-govet

feat(frontend): add URL-based query page and parser
  components/frontend/src/app.tsx
  components/frontend/src/pages/__tests__/query.test.ts
  components/frontend/src/pages/query.tsx
  sdk/typescript/src/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

feat(config): support VITE_DEFAULT_MODEL env var
  components/backend/uv.lock
  components/frontend/Dockerfile
  components/frontend/src/pages/query.tsx
  deploy/docker-compose.dev.yml
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(query page): remove abort ref and inline abort check
  components/frontend/src/pages/query.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(query): simplify state and guest mode
  components/frontend/src/pages/query.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(query-page): fix imports, lint warnings, and reduce complexity
  components/frontend/src/pages/__tests__/query.test.ts
  components/frontend/src/pages/query.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(go-sdk): remove unnecessary fmt.Sprintf (staticcheck S1039)
  sdk/golang/syfthubapi/setupflow/handlers/oauth2.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(frontend): add URL-based query page and parser (#313)
  components/backend/uv.lock
  components/frontend/Dockerfile
  components/frontend/src/app.tsx
  components/frontend/src/pages/__tests__/query.test.ts
  components/frontend/src/pages/query.tsx
  deploy/docker-compose.dev.yml
  sdk/golang/syfthubapi/setupflow/handlers/oauth2.go
  sdk/typescript/src/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(frontend): use || instead of ?? for VITE_DEFAULT_MODEL fallback and pass build-arg in CI
  .github/workflows/ci.yml
  components/frontend/src/pages/query.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add guest NATS tunneling support across backend and SDKs
  components/aggregator/src/aggregator/services/orchestrator.py
  components/backend/src/syfthub/api/endpoints/peer.py
  components/backend/src/syfthub/auth/peer_tokens.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/schemas/peer.py
  sdk/golang/syfthub/auth.go
  sdk/golang/syfthub/chat.go
  sdk/python/src/syfthub_sdk/auth.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/typescript/src/resources/auth.ts
  sdk/typescript/src/resources/chat.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(all): unify fallback handling and token fetch
  components/aggregator/src/aggregator/services/orchestrator.py
  components/backend/src/syfthub/api/endpoints/peer.py
  components/backend/src/syfthub/schemas/peer.py
  sdk/golang/syfthub/auth.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

ci: add workflow to trigger cross-service E2E tests on push to main
  .github/workflows/trigger-e2e.yml
Due: none

feat(api): add server-side query endpoint and simplify frontend
  components/aggregator/src/aggregator/api/endpoints/__init__.py
  components/aggregator/src/aggregator/api/endpoints/query.py
  components/aggregator/src/aggregator/api/router.py
  components/aggregator/src/aggregator/core/config.py
  components/aggregator/src/aggregator/templates/query_result.py
  components/frontend/src/pages/__tests__/query.test.ts
  components/frontend/src/pages/query.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(aggregator): add retrieval-only mode via aggregate
  components/aggregator/src/aggregator/api/endpoints/query.py
  components/aggregator/src/aggregator/schemas/requests.py
  components/aggregator/src/aggregator/services/orchestrator.py
Due: none

feat(frontend): shift theme palette from teal to blue
  components/frontend/src/styles/global.css
Due: frontend-prettier

feat(aggregator): add URL support for q param and url fetcher
  components/aggregator/src/aggregator/api/endpoints/query.py
  components/aggregator/src/aggregator/core/config.py
  components/aggregator/src/aggregator/schemas/internal.py
  components/aggregator/src/aggregator/schemas/requests.py
  components/aggregator/src/aggregator/services/orchestrator.py
  components/aggregator/src/aggregator/services/retrieval.py
Due: none

feat(aggregator): add URL support for q param and url fetcher (#321)
  components/aggregator/src/aggregator/api/endpoints/query.py
  components/aggregator/src/aggregator/core/config.py
  components/aggregator/src/aggregator/schemas/internal.py
  components/aggregator/src/aggregator/schemas/requests.py
  components/aggregator/src/aggregator/services/orchestrator.py
  components/aggregator/src/aggregator/services/retrieval.py
Due: none

fix(config): set url_fetcher_slug default to url-fetcher
  components/aggregator/src/aggregator/core/config.py
Due: none

feat: add feedback endpoint that creates Linear issues
  components/backend/src/syfthub/api/endpoints/feedback.py
  components/backend/src/syfthub/api/router.py
  components/backend/src/syfthub/core/config.py
Due: none

chore: fix lint errors
  components/backend/src/syfthub/api/endpoints/feedback.py
  components/backend/src/syfthub/api/router.py
  components/backend/tests/test_accounting_endpoints.py
Due: none

ci: wire LINEAR_API_KEY and LINEAR_TEAM_ID through deployment pipeline
  .github/workflows/ci.yml
  components/backend/src/syfthub/api/endpoints/feedback.py
  deploy/docker-compose.deploy.yml
Due: none

feat: add feedback endpoint for Linear issue creation (#322)
  .github/workflows/ci.yml
  components/backend/src/syfthub/api/endpoints/feedback.py
  components/backend/src/syfthub/api/router.py
  components/backend/src/syfthub/core/config.py
  components/backend/tests/test_accounting_endpoints.py
  deploy/docker-compose.deploy.yml
Due: none

config: set default SMTP sender to openmined.org
  .gitignore
  components/backend/src/syfthub/core/config.py
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
Due: none

fix(deps): patch 6 open Dependabot security vulnerabilities
  components/aggregator/pyproject.toml
  components/backend/pyproject.toml
  components/backend/uv.lock
  components/mcp/pyproject.toml
  components/mcp/uv.lock
Due: none

fix(deps): patch 6 open Dependabot security vulnerabilities (#324)
  components/aggregator/pyproject.toml
  components/backend/pyproject.toml
  components/backend/uv.lock
  components/mcp/pyproject.toml
  components/mcp/uv.lock
Due: none

refactor(backend): route layer fixes — access control, httpx pooling, accounting helpers, admin dedup
  components/backend/src/syfthub/api/endpoints/accounting.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/main.py
Due: none

refactor(backend): foundation layer fixes — logging, COUNT query, tag dedup, dead code removal
  components/backend/src/syfthub/auth/security.py
  components/backend/src/syfthub/repositories/base.py
  components/backend/src/syfthub/schemas/endpoint.py
Due: none
