Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$

fix(frontend): stop stripping the protocol from the API domain field
  components/frontend/src/components/settings/profile-settings-tab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(backend): close cluster policy validation gaps from PR review
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
Due: none

fix(frontend): key wallet balances by wallet identity, not credits_url
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/components/settings/profile-settings-tab.tsx
  components/frontend/src/hooks/use-collective-query-readiness.ts
  components/frontend/src/hooks/use-xendit-precheck.ts
  components/frontend/src/lib/query-keys.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(dev): wildcard station DNS, randomUUID polyfill, SDK build in dev image
  components/frontend/Dockerfile.dev
  components/frontend/package-lock.json
  components/frontend/vite.config.ts
  deploy/docker-compose.dev.yml
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(backend): gate wallet identity to verified cluster policies
  components/backend/src/syfthub/services/collective_service.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_collective_billing.py
  components/backend/tests/test_endpoints.py
Due: none

fix(frontend): gate wallet identity to verified cluster policies
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/hooks/use-xendit-precheck.ts
  components/frontend/src/lib/__tests__/wallet-identity.test.ts
  components/frontend/src/lib/xendit-client.ts
  components/frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(auth): add allow_signup flag to Google sign-in
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/schemas/auth.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/tests/test_services/test_auth_service.py
Due: none

fix(mcp): pin mcp<2.0 so the prod image resolves a working fastmcp
  components/mcp/Dockerfile
  components/mcp/pyproject.toml
  components/mcp/uv.lock
Due: none

fix(mcp): stop the prod image resolving mcp 2.x against fastmcp 3.x
  components/mcp/Dockerfile
  components/mcp/pyproject.toml
  components/mcp/uv.lock
Due: none

refactor(mcp): constrain CVE floors instead of overriding them
  components/mcp/pyproject.toml
  components/mcp/uv.lock
Due: none

refactor(mcp): drop unused deps, keep only real floors as constraints
  components/mcp/pyproject.toml
  components/mcp/uv.lock
Due: none

fix(otp): read RETURNING cursor before committing
  components/backend/src/syfthub/repositories/otp.py
Due: none

refactor(ui): extract the resend cooldown into a hook
  components/frontend/src/components/auth/verify-otp-modal.tsx
  components/frontend/src/hooks/use-resend-cooldown.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(users): add public_id and pending_email columns
  components/backend/alembic/versions/20260818_000000_add_user_public_id.py
  components/backend/alembic/versions/20260818_000100_add_user_pending_email.py
  components/backend/src/syfthub/models/user.py
Due: none

feat(auth): require verification to change an email address
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/database/dependencies.py
  components/backend/src/syfthub/domain/exceptions.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/schemas/auth.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/email_change_service.py
  components/backend/src/syfthub/services/email_service.py
  components/backend/src/syfthub/services/user_service.py
  components/backend/src/syfthub/templates/otp_email.html
  components/backend/tests/test_auth_users.py
  components/backend/tests/test_email_change_endpoints.py
  components/backend/tests/test_services/test_email_change_service.py
  components/backend/tests/test_services/test_user_service.py
Due: none

feat(sdk): add the email-change calls
  sdk/typescript/src/models/user.ts
  sdk/typescript/src/resources/auth.ts
  sdk/typescript/src/resources/users.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

feat(ui): show a pending email change in settings
  components/frontend/src/components/__tests__/pending-email-card.test.tsx
  components/frontend/src/components/settings/pending-email-card.tsx
  components/frontend/src/components/settings/profile-settings-tab.tsx
  components/frontend/src/context/auth-context.tsx
  components/frontend/src/lib/sdk-client.ts
  components/frontend/src/lib/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: Useless assignment to local variable
  components/frontend/src/components/settings/profile-settings-tab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: 'Missing call to superclass `__init__` during object initialization'
  components/backend/src/syfthub/domain/exceptions.py
Due: none

fix: 'An assert statement has a side-effect'
  components/backend/tests/test_email_change_endpoints.py
Due: none

refactor(ui): extract the resend cooldown into a hook
  components/frontend/src/components/auth/verify-otp-modal.tsx
  components/frontend/src/hooks/__tests__/use-resend-cooldown.test.ts
  components/frontend/src/hooks/use-resend-cooldown.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(users): add public_id for external identity
  components/backend/alembic/versions/20260818_000000_add_user_public_id.py
  components/backend/src/syfthub/models/user.py
Due: none

feat(auth): make email verification a claim, not a gate
  components/backend/alembic/versions/20260818_000000_add_user_public_id.py
  components/backend/alembic/versions/20260819_000000_replace_is_email_verified.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/database/dependencies.py
  components/backend/src/syfthub/domain/exceptions.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/schemas/auth.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/src/syfthub/services/email_service.py
  components/backend/src/syfthub/services/email_verification_service.py
  components/backend/src/syfthub/services/user_service.py
  components/backend/src/syfthub/templates/email_changed_notice.html
  components/backend/tests/test_auth_otp.py
  components/backend/tests/test_email_verification.py
  components/backend/tests/test_repositories/test_user.py
  components/backend/tests/test_services/test_admin_stats_service.py
  components/backend/tests/test_services/test_user_service.py
Due: none

feat(sdk): add email verification calls
  sdk/typescript/src/models/user.ts
  sdk/typescript/src/resources/auth.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

feat(ui): prompt to verify the email on the account
  components/frontend/src/components/__tests__/verify-email-banner.test.tsx
  components/frontend/src/components/auth/verify-email-banner.tsx
  components/frontend/src/components/profile-view.tsx
  components/frontend/src/components/settings/profile-settings-tab.tsx
  components/frontend/src/context/auth-context.tsx
  components/frontend/src/hooks/use-auth-config.ts
  components/frontend/src/layouts/main-layout.tsx
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/sdk-client.ts
  components/frontend/src/lib/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ui): make verification reachable and stop it nagging pointlessly
  components/backend/src/syfthub/services/email_service.py
  components/frontend/src/components/__tests__/email-verification-controls.test.tsx
  components/frontend/src/components/__tests__/profile-view-email.test.tsx
  components/frontend/src/components/__tests__/verify-email-banner.test.tsx
  components/frontend/src/components/auth/email-verification-controls.tsx
  components/frontend/src/components/auth/verify-email-banner.tsx
  components/frontend/src/components/profile-view.tsx
  components/frontend/src/components/settings/profile-settings-tab.tsx
  components/frontend/src/hooks/use-auth-config.ts
  components/frontend/src/hooks/use-email-verification.ts
  components/frontend/src/layouts/main-layout.tsx
  components/frontend/src/stores/verify-email-banner-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ui): a dismissed verify-email prompt must not survive logout
  components/frontend/src/context/__tests__/auth-context.test.tsx
  components/frontend/src/context/auth-context.tsx
  components/frontend/src/stores/__tests__/verify-email-banner-store.test.ts
  components/frontend/src/stores/verify-email-banner-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(collectives): add a member-only station URL
  components/backend/alembic/versions/20260820_000000_add_collective_station_url.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
  components/frontend/src/components/chat/__tests__/add-sources-modal.test.tsx
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ui): clear the query cache on logout
  components/frontend/src/context/__tests__/auth-context.test.tsx
  components/frontend/src/context/auth-context.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(collectives): type station_url as HttpUrl
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
Due: none

refactor(collectives): move the station URL to its own members-only route
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
  components/frontend/src/components/chat/__tests__/add-sources-modal.test.tsx
  components/frontend/src/context/__tests__/auth-context.test.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(collectives): make the station URL public for now
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/syfthub.db
  components/backend/tests/test_collectives.py
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(collectives): explain what the station URL is for
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(collectives): tighten the station URL copy
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(collectives): require sign-in to read the station URL
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(collectives): add a station URL to collectives (#487)
  components/backend/alembic/versions/20260820_000000_add_collective_station_url.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/syfthub.db
  components/backend/tests/test_collectives.py
  components/frontend/src/context/__tests__/auth-context.test.tsx
  components/frontend/src/context/auth-context.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(satellites): add the satellites table and domain types
  components/backend/alembic/versions/20260824_000000_add_satellites.py
  components/backend/src/syfthub/core/url_builder.py
  components/backend/src/syfthub/domain/__init__.py
  components/backend/src/syfthub/domain/base_url.py
  components/backend/src/syfthub/domain/satellite.py
  components/backend/src/syfthub/models/__init__.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/models/satellite.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/__init__.py
  components/backend/src/syfthub/repositories/satellite.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_domain/test_base_url.py
  components/backend/tests/test_domain/test_satellite.py
  components/backend/tests/test_repositories/test_satellite.py
Due: none

chore: stop tracking the dev sqlite db
  .gitignore
  components/backend/syfthub.db
Due: none

feat(satellites): add the /satellites API and the resolution rule
  components/backend/alembic/versions/20260824_000000_add_satellites.py
  components/backend/src/syfthub/api/endpoints/satellites.py
  components/backend/src/syfthub/api/router.py
  components/backend/src/syfthub/domain/__init__.py
  components/backend/src/syfthub/domain/satellite.py
  components/backend/src/syfthub/models/satellite.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/repositories/satellite.py
  components/backend/src/syfthub/schemas/satellite.py
  components/backend/src/syfthub/services/satellite_service.py
  components/backend/tests/test_domain/test_satellite.py
  components/backend/tests/test_repositories/test_satellite.py
  components/backend/tests/test_satellites.py
  components/backend/tests/test_services/conftest.py
  components/backend/tests/test_services/test_satellite_service.py
Due: none
