Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

feat(transaction-policy): unit 15 — MCP surfaces PAYMENT_REQUIRED as structured tool error
  components/mcp/pyproject.toml
  components/mcp/server.py
  components/mcp/syfthub_client.py
  components/mcp/test_payment_required.py
  components/mcp/uv.lock
Due: none

feat(transaction-policy): unit 14 — frontend paid-endpoint badge + payment history
  components/frontend/src/components/__tests__/settings-modal.test.tsx
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/settings/__tests__/payment-history-tab.test.tsx
  components/frontend/src/components/settings/payment-history-tab.tsx
  components/frontend/src/components/settings/settings-modal.tsx
  components/frontend/src/lib/__tests__/endpoint-pricing.test.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/stores/settings-modal-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(transaction-policy): unit 13 — frontend payment_required modal + chat handler
  components/frontend/src/components/__tests__/payment-required-modal.test.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/payment-required-modal.tsx
  components/frontend/src/hooks/__tests__/use-chat-workflow.payment.test.ts
  components/frontend/src/hooks/use-chat-workflow.ts
  components/frontend/src/lib/payment-stubs.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(transaction-policy): unit 11 — backend persists endpoint policies + exposes payment_required
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/tests/test_endpoint_policies.py
Due: none

feat(transaction-policy): unit 12 — frontend wallet context (browser-local key)
  components/frontend/package-lock.json
  components/frontend/package.json
  components/frontend/src/app.tsx
  components/frontend/src/context/tempo-wallet-context.tsx
  components/frontend/src/hooks/use-tempo-wallet.ts
  components/frontend/src/lib/__tests__/tempo-wallet-crypto.test.ts
  components/frontend/src/lib/__tests__/tempo-wallet-mpp.test.ts
  components/frontend/src/lib/tempo-wallet-crypto.ts
  components/frontend/src/lib/tempo-wallet-mpp.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(transaction-policy): unit 10 - aggregator PaymentNegotiator + SSE + /payment endpoint
  components/aggregator/src/aggregator/api/dependencies.py
  components/aggregator/src/aggregator/api/endpoints/__init__.py
  components/aggregator/src/aggregator/api/endpoints/chat.py
  components/aggregator/src/aggregator/api/endpoints/payment.py
  components/aggregator/src/aggregator/api/router.py
  components/aggregator/src/aggregator/clients/__init__.py
  components/aggregator/src/aggregator/clients/payment_negotiator.py
  components/aggregator/src/aggregator/main.py
  components/aggregator/tests/test_payment_negotiator.py
Due: none

refactor(syfthubapi): consolidate endpoint dispatch into UnifiedInvoker
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/endpoint_test.go
  sdk/golang/syfthubapi/invoker.go
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/processor_payment_test.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/session_payment_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

Added skill ingestion UI/UX
  cli/go.mod
  cli/go.sum
  cli/internal/cmd/node_endpoint_skill.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
  syfthub-desktop/frontend/src/components/tabs/SkillsSection.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/main.go
Due: desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

chore(deps): bump urllib3 to 2.7.0 and Mako to 1.3.12
  components/aggregator/pyproject.toml
  components/aggregator/uv.lock
  components/backend/pyproject.toml
  components/backend/requirements.txt
  components/backend/uv.lock
  components/mcp/pyproject.toml
  components/mcp/uv.lock
Due: none

feat: add collectives UI mock implementation
  components/frontend/src/app.tsx
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/collectives/collective-badge.tsx
  components/frontend/src/components/collectives/collective-card.tsx
  components/frontend/src/components/collectives/collective-stats.tsx
  components/frontend/src/components/sidebar.tsx
  components/frontend/src/lib/mock-data/collectives.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
  components/frontend/src/pages/collectives.tsx
  components/frontend/src/pages/create-collective.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

PR-1: attachments protocol — spec, types, schemas, dev compose
  components/aggregator/src/aggregator/schemas/agent.py
  components/aggregator/tests/test_attachment_schemas.py
  deploy/nats/nats.dev.conf
  docs/architecture/attachments.md
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/attachments.go
  sdk/golang/syfthubapi/attachments_test.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/session_manager.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

PR-2: attachments event plumbing — aggregator + HOST bridge (inline)
  components/aggregator/src/aggregator/api/endpoints/agent.py
  components/aggregator/src/aggregator/services/session_manager.py
  components/aggregator/src/aggregator/services/session_transport.py
  sdk/golang/syfthubapi/attachments.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/filemode/provider.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/transport/attachments_test.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

PR-3: runner protocols for attachments (filemode + containermode, inline)
  sdk/golang/syfthubapi/containermode/agent_handler.go
  sdk/golang/syfthubapi/containermode/runner/server.py
  sdk/golang/syfthubapi/containermode/runner/session.py
  sdk/golang/syfthubapi/containermode/runner/test_session_attachments.py
  sdk/golang/syfthubapi/filemode/agent_executor.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

PR-4: CLI --attach + CLIENT Go SDK + E2E test rig (inline)
  cli/internal/cmd/agent.go
  cli/internal/cmd/agent_attachments.go
  sdk/golang/syfthub/agent.go
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthub/agent_session_attachments_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, cli-gofmt, cli-govet

PR-5: Object Store transport + AttachmentEncryptor
  docs/architecture/attachments-vectors.json
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/attachments.go
  sdk/golang/syfthubapi/transport/attachment_encryptor.go
  sdk/golang/syfthubapi/transport/attachment_encryptor_test.go
  sdk/golang/syfthubapi/transport/attachment_object_store.go
  sdk/golang/syfthubapi/transport/attachment_uploader.go
  sdk/golang/syfthubapi/transport/attachment_uploader_test.go
  sdk/golang/syfthubapi/transport/attachment_vectors_test.go
  sdk/golang/syfthubapi/transport/crypto.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

PR-5 follow-up: trailing newline + gofmt on vectors test
  docs/architecture/attachments-vectors.json
  sdk/golang/syfthubapi/transport/attachment_vectors_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

PR-6: aggregator HTTP relay + Python crypto for attachments
  components/aggregator/pyproject.toml
  components/aggregator/src/aggregator/api/router.py
  components/aggregator/src/aggregator/attachment_crypto.py
  components/aggregator/src/aggregator/services/attachment_relay.py
  components/aggregator/src/aggregator/services/attachment_session_state.py
  components/aggregator/tests/test_attachment_crypto.py
  components/aggregator/tests/test_attachment_relay.py
  components/aggregator/uv.lock
Due: none

PR-7: CLIENT SDK HTTP transport + integration tests
  cli/internal/cmd/agent.go
  cli/internal/cmd/agent_attachments.go
  sdk/golang/syfthub/agent.go
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthub/agent_session_http_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, cli-gofmt, cli-govet

PR-8: Wails bindings + Desktop UI scaffolding for attachments
  syfthub-desktop/agent_operations.go
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/attachment_operations_test.go
  syfthub-desktop/frontend/src/components/chat/AttachmentChip.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/hooks/use-attachments.ts
  syfthub-desktop/frontend/src/lib/attachment-markdown.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
Due: desktop-gofmt, desktop-govet, desktop-gotest

follow-up: registry wire-up + session_attachment_key handshake
  components/aggregator/src/aggregator/api/endpoints/agent.py
  components/aggregator/src/aggregator/services/session_transport.py
  components/aggregator/tests/test_session_attachment_key_handshake.py
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/transport/attachment_handshake_test.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(frontend): link endpoint owner usernames to user profile
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Step 3: real JetStream Object Store + HOST object_store inbound
  components/aggregator/src/aggregator/api/endpoints/agent.py
  components/aggregator/src/aggregator/clients/nats_object_store.py
  components/aggregator/src/aggregator/services/attachment_relay.py
  components/aggregator/src/aggregator/services/session_manager.py
  components/aggregator/tests/test_attachment_relay.py
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/attachments.go
  sdk/golang/syfthubapi/transport/attachment_downloader.go
  sdk/golang/syfthubapi/transport/attachment_uploader.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(frontend): link endpoint owner usernames to user profile (#410)
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Step 4: regenerate Wails bindings via wails generate module
  syfthub-desktop/frontend/src/components/chat/AttachmentChip.tsx
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/frontend/wailsjs/runtime/package.json
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
Due: none

feat(uptime): add per-endpoint uptime + latency telemetry
  components/backend/alembic/versions/20260513_000000_add_endpoint_uptime_telemetry.py
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/models/__init__.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_jobs/test_health_monitor.py
Due: none

test(uptime): cover new telemetry paths to keep coverage >= 80%
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/tests/test_jobs/test_health_monitor.py
  components/backend/tests/test_repositories/test_endpoint_uptime.py
  components/backend/tests/test_services/test_endpoint_service.py
Due: none

feat(uptime): per-endpoint uptime + latency telemetry (#411)
  components/backend/alembic/versions/20260513_000000_add_endpoint_uptime_telemetry.py
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/models/__init__.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_jobs/test_health_monitor.py
  components/backend/tests/test_repositories/test_endpoint_uptime.py
  components/backend/tests/test_services/test_endpoint_service.py
Due: none

feat: claude-agent attachments + paperclip/drag-drop UI
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
Due: desktop-gofmt, desktop-govet, desktop-gotest

ui: refine attachment chips, drag overlay, and a11y (minimalist polish)
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/AttachmentChip.tsx
  syfthub-desktop/frontend/wailsjs/runtime/package.json
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
Due: none

fix: agent attachment download — materialize on receive, save to ~/Downloads
  syfthub-desktop/agent_operations.go
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/attachment_operations_test.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/AttachmentChip.tsx
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/runtime/package.json
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
Due: desktop-gofmt, desktop-govet, desktop-gotest

ui: saved attachment chips tint primary + button flips to Open
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/frontend/src/components/chat/AttachmentChip.tsx
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
Due: desktop-gofmt, desktop-govet, desktop-gotest

chore(uptime): drop latency from telemetry, keep uptime aggregates only
  components/backend/alembic/versions/20260513_120000_drop_endpoint_uptime_latency_fields.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_jobs/test_health_monitor.py
  components/backend/tests/test_repositories/test_endpoint_uptime.py
  components/backend/tests/test_services/test_endpoint_service.py
Due: none

chore(uptime): drop latency from telemetry, keep uptime aggregates only (#413)
  components/backend/alembic/versions/20260513_120000_drop_endpoint_uptime_latency_fields.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_jobs/test_health_monitor.py
  components/backend/tests/test_repositories/test_endpoint_uptime.py
  components/backend/tests/test_services/test_endpoint_service.py
Due: none

fix(attachments): align Go base64 alphabet with aggregator + drop dead crypto paths
  sdk/golang/syfthub/agent_session_http_test.go
  sdk/golang/syfthubapi/transport/attachment_downloader.go
  sdk/golang/syfthubapi/transport/attachment_encryptor.go
  sdk/golang/syfthubapi/transport/attachment_handshake_test.go
  sdk/golang/syfthubapi/transport/attachment_uploader.go
  sdk/golang/syfthubapi/transport/crypto.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

chore(attachments): strip narrating comments + use existing constants
  cli/internal/cmd/agent.go
  cli/internal/cmd/agent_attachments.go
  components/aggregator/src/aggregator/api/endpoints/agent.py
  components/aggregator/src/aggregator/clients/nats_object_store.py
  components/aggregator/src/aggregator/services/attachment_relay.py
  components/aggregator/src/aggregator/services/attachment_session_state.py
  components/aggregator/src/aggregator/services/session_manager.py
  components/aggregator/src/aggregator/services/session_transport.py
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/attachments.go
  sdk/golang/syfthubapi/containermode/agent_handler.go
  sdk/golang/syfthubapi/containermode/runner/server.py
  sdk/golang/syfthubapi/containermode/runner/session.py
  sdk/golang/syfthubapi/filemode/agent_executor.go
  sdk/golang/syfthubapi/transport/nats.go
  syfthub-desktop/agent_operations.go
  syfthub-desktop/frontend/src/components/chat/AttachmentChip.tsx
  syfthub-desktop/frontend/src/lib/attachment-markdown.ts
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

refactor(desktop): consolidate session-attachment file lookup
  syfthub-desktop/attachment_operations.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop): restructure endpoint detail into nav-grouped sections
  syfthub-desktop/frontend/src/components/EndpointDetail.tsx
  syfthub-desktop/frontend/src/components/tabs/CodeTab.tsx
  syfthub-desktop/frontend/src/components/tabs/DocsTab.tsx
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
  syfthub-desktop/frontend/src/components/tabs/SkillsSection.tsx
Due: none

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
