Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$

feat(desktop): add manual review Requests tab for endpoints
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
  syfthub-desktop/frontend/src/components/EndpointDetail.tsx
  syfthub-desktop/frontend/src/components/tabs/LogsTab.tsx
  syfthub-desktop/frontend/src/components/tabs/RequestsTab.tsx
  syfthub-desktop/frontend/src/lib/utils.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/go.mod
  syfthub-desktop/go.sum
  syfthub-desktop/manual_review_operations.go
  syfthub-desktop/manual_review_operations_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop): client-side manual review tracking (P0 + Phase 1)
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/agent_executor_test.go
  syfthub-desktop/docs/client-review-tracking-prd.md
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/SentReviewsView.tsx
  syfthub-desktop/frontend/src/components/chat/policy-notice.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/sent_reviews.go
  syfthub-desktop/sent_reviews_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

feat: redesign collectives UI with improved UX and trust signals (v1)
  COLLECTIVES_PURPOSE_AND_UX.md
  COLLECTIVES_UI_CONTEXT.md
  components/frontend/src/app.tsx
  components/frontend/src/components/collectives/collective-card.tsx
  components/frontend/src/lib/mock-data/collectives.ts
  components/frontend/src/pages/browse-collectives.tsx
  components/frontend/src/pages/collective-detail.tsx
  components/frontend/src/pages/collectives.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add collective membership badges to user profile and endpoint pages
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/user-profile/profile-hero.tsx
  components/frontend/src/lib/mock-data/collectives.ts
  components/frontend/src/pages/collectives.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor: simplify create collective form
  components/frontend/src/pages/create-collective.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: update collective URL format to subdomain structure
  components/frontend/src/pages/create-collective.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add member invitation to create collective form
  components/frontend/src/pages/create-collective.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: correct route order for collective admin page
  components/frontend/src/app.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: handle authentication gracefully in collective creation
  components/frontend/src/pages/create-collective.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor: remove subdomain field from create collective form
  components/frontend/src/pages/create-collective.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(backend): add Collectives — user-owned groupings of endpoints
  components/backend/alembic/versions/20260518_000000_add_collectives.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/api/router.py
  components/backend/src/syfthub/database/dependencies.py
  components/backend/src/syfthub/models/__init__.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/__init__.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
Due: none

fix(backend): make the 015 org-removal migration SQLite-compatible
  components/backend/alembic/versions/20260518_000000_remove_organization_entity.py
Due: none

feat(backend): email endpoint owners when invited to a collective
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/src/syfthub/services/email_service.py
  components/backend/src/syfthub/templates/collective_invitation_email.html
  components/backend/tests/test_collectives.py
Due: none

fix(backend): integrate Collectives with the Organization removal
  components/backend/alembic/versions/20260518_000000_add_collectives.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/services/collective_service.py
Due: none

style(backend): fix Ruff formatting in database dependencies
  components/backend/src/syfthub/database/dependencies.py
Due: none

feat(frontend): add the Collectives UI wired to the live API
  components/backend/alembic/versions/20260518_000100_add_collective_verified.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
  components/frontend/src/app.tsx
  components/frontend/src/components/collectives/collective-card.tsx
  components/frontend/src/components/sidebar.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/browse-collectives.tsx
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
  components/frontend/src/pages/collectives.tsx
  components/frontend/src/pages/create-collective.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(policies): support per-unit billing (request|document) from config
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/endpoint/bundle-picker.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/hooks/use-xendit-precheck.ts
  components/frontend/src/lib/xendit-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(nats): add NATS auth-callout service for P2P agent sessions
  components/backend/src/syfthub/api/endpoints/nats.py
  components/backend/src/syfthub/api/endpoints/peer.py
  components/backend/src/syfthub/auth/peer_tokens.py
  components/nats-auth/.gitignore
  components/nats-auth/Dockerfile
  components/nats-auth/README.md
  components/nats-auth/go.mod
  components/nats-auth/go.sum
  components/nats-auth/main.go
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
  deploy/nats/nats.dev.conf
  deploy/nats/nats.prod.conf
Due: none

refactor(sdk-golang): replace WSS agent client with direct P2P NATS transport
  sdk/golang/agenttypes/events.go
  sdk/golang/examples/file_based/main.go
  sdk/golang/go.mod
  sdk/golang/go.sum
  sdk/golang/syfthub/agent.go
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthub/agent_session_attachments_test.go
  sdk/golang/syfthub/agent_session_http_test.go
  sdk/golang/syfthub/auth.go
  sdk/golang/syfthub/client.go
  sdk/golang/syfthubapi/agentwire.go
  sdk/golang/syfthubapi/attachments.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/transport/agent_attachments.go
  sdk/golang/syfthubapi/transport/agent_dial.go
  sdk/golang/syfthubapi/transport/agent_dial_test.go
  sdk/golang/syfthubapi/transport/agent_integration_test.go
  sdk/golang/syfthubapi/transport/conn.go
  sdk/golang/syfthubapi/transport/crypto.go
  sdk/golang/syfthubapi/transport/crypto_session.go
  sdk/golang/syfthubapi/transport/crypto_session_test.go
  sdk/golang/syfthubapi/transport/crypto_test.go
  sdk/golang/syfthubapi/transport/nats.go
  sdk/golang/syfthubapi/transport/nats_test.go
  sdk/golang/syfthubapi/transport/transport.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(aggregator): remove agent session relay path
  components/aggregator/src/aggregator/api/endpoints/__init__.py
  components/aggregator/src/aggregator/api/endpoints/agent.py
  components/aggregator/src/aggregator/api/router.py
  components/aggregator/src/aggregator/clients/nats_object_store.py
  components/aggregator/src/aggregator/schemas/agent.py
  components/aggregator/src/aggregator/services/attachment_relay.py
  components/aggregator/src/aggregator/services/attachment_session_state.py
  components/aggregator/src/aggregator/services/session_manager.py
  components/aggregator/src/aggregator/services/session_transport.py
  components/aggregator/tests/test_attachment_crypto.py
  components/aggregator/tests/test_attachment_relay.py
  components/aggregator/tests/test_attachment_schemas.py
  components/aggregator/tests/test_session_attachment_key_handshake.py
  components/aggregator/tests/test_session_transport_tunnel_error.py
Due: none

refactor(cli): migrate agent commands to direct P2P NATS
  cli/go.mod
  cli/internal/cmd/agent.go
  cli/internal/cmd/agent_attachments.go
  cli/internal/cmd/node_run.go
Due: cli-gofmt, cli-govet

feat(sdk-typescript): P2P NATS agent client with session encryption
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/crypto.ts
  sdk/typescript/src/resources/agent.ts
  sdk/typescript/src/resources/auth.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

refactor(desktop): migrate agent chat to direct P2P NATS
  syfthub-desktop/agent_operations.go
  syfthub-desktop/app.go
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/docs/p2p-agent-direct-nats-design.md
  syfthub-desktop/go.mod
  syfthub-desktop/go.sum
  syfthub-desktop/internal/app/app.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

chore(desktop): remove shipped review-tracking PRD doc
  syfthub-desktop/docs/client-review-tracking-prd.md
Due: none

fix(ci): repair peer-token tests and Go SDK error string after desktop merge
  components/backend/tests/test_auth/test_peer_tokens.py
  sdk/golang/syfthubapi/config.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(ci): forward NATS auth-callout secrets to staging/production deploy
  .github/workflows/ci.yml
Due: none

fix(ci): build nats-auth as a GHCR image instead of building on the VM
  .github/workflows/ci.yml
  deploy/docker-compose.deploy.yml
Due: none

fix(deploy): give nats-auth the Redis password so token lookups work
  components/nats-auth/main.go
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
Due: none

fix(deploy): restart nginx proxy after all services are (re)created
  deploy/scripts/deploy.sh
Due: none

chore: add AGENTS.md for non-Claude AI agents and ignore MagicMock test artifacts
  .gitignore
  AGENTS.md
Due: none

feat(backend): extend Collectives with about field, search, owner_count, and endpoint-paths API
  components/backend/alembic/versions/20260518_000200_add_collective_about.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
Due: none

feat(frontend): enhance Collectives UI with about section, browse tab, and new components
  components/frontend/src/app.tsx
  components/frontend/src/components/browse-search-bar.tsx
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/chat/__tests__/add-sources-modal.test.tsx
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/collectives/collective-about.tsx
  components/frontend/src/components/collectives/collective-card.tsx
  components/frontend/src/components/collectives/collective-filters-modal.tsx
  components/frontend/src/components/collectives/collective-icon.tsx
  components/frontend/src/components/collectives/collectives-browse.tsx
  components/frontend/src/components/hero.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/hooks/use-endpoint-queries.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/sdk-client.ts
  components/frontend/src/lib/types.ts
  components/frontend/src/pages/browse-collectives.tsx
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
  components/frontend/src/pages/collectives.tsx
  components/frontend/src/pages/create-collective.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sdk/ts): expand collective/<slug> data-source paths in chat
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/src/resources/hub.ts
  sdk/typescript/tests/chat.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

fix(sdk/filemode): drop stale watch when a directory is renamed
  sdk/golang/syfthubapi/filemode/watcher.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop): rename endpoint folder from the UI
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/RenameEndpointDialog.tsx
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop/chat): show owner/slug in model selector
  syfthub-desktop/frontend/src/components/chat/model-selector.tsx
Due: none
