Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$

fix: handle logFile.Close() errors in startNodeDaemon
  cli/internal/cmd/node_init.go
Due: cli-gofmt, cli-govet

fix: check Write/Close errors in writeRequestLog
  cli/internal/cmd/node_run.go
Due: cli-gofmt, cli-govet

fix: remove unused initialPrompt state variable in agent-view
  components/frontend/src/components/agent/agent-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): restore password validation rules to match E2E tests
  components/frontend/src/lib/schemas.ts
  components/frontend/src/lib/validation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): restore password validation rules to match E2E tests (#349)
  components/frontend/src/lib/schemas.ts
  components/frontend/src/lib/validation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(frontend): hide agent endpoint UI behind TODO flags
  components/frontend/src/app.tsx
  components/frontend/src/components/browse-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): rename /endpoints route to /join and add dynamic OS-aware download button
  components/frontend/src/app.tsx
  components/frontend/src/components/participate-view.tsx
  components/frontend/src/components/sidebar.tsx
  components/frontend/src/pages/home.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(frontend): hide agent endpoint UI behind TODO flags (#351)
  components/frontend/src/app.tsx
  components/frontend/src/components/browse-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): rename /endpoints route to /join and add dynamic OS-aware download button (#352)
  components/frontend/src/app.tsx
  components/frontend/src/components/participate-view.tsx
  components/frontend/src/components/sidebar.tsx
  components/frontend/src/pages/home.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(sdk): consolidate hub clients, introduce EndpointInvoker, simplify filemode
  cli/internal/cmd/node_run.go
  sdk/golang/examples/file_based/endpoints/echo-model/README.md
  sdk/golang/examples/file_based/endpoints/sample-model/README.md
  sdk/golang/examples/file_based/endpoints/simple-search/README.md
  sdk/golang/examples/file_based/main.go
  sdk/golang/syfthubapi/agent_builder.go
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/api_test.go
  sdk/golang/syfthubapi/auth.go
  sdk/golang/syfthubapi/auth_test.go
  sdk/golang/syfthubapi/codec.go
  sdk/golang/syfthubapi/containermode/executor.go
  sdk/golang/syfthubapi/containermode/executor_test.go
  sdk/golang/syfthubapi/containermode/image.go
  sdk/golang/syfthubapi/containermode/image_test.go
  sdk/golang/syfthubapi/containermode/runner/server.py
  sdk/golang/syfthubapi/containermode/runner/session.py
  sdk/golang/syfthubapi/containermode/runtime.go
  sdk/golang/syfthubapi/containermode/runtime_test.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/endpoint_test.go
  sdk/golang/syfthubapi/errors.go
  sdk/golang/syfthubapi/errors_test.go
  sdk/golang/syfthubapi/filemode/executor_test.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/loader_test.go
  sdk/golang/syfthubapi/filemode/provider.go
  sdk/golang/syfthubapi/filemode/watcher.go
  sdk/golang/syfthubapi/filemode/watcher_test.go
  sdk/golang/syfthubapi/invoker.go
  sdk/golang/syfthubapi/invoker_agent.go
  sdk/golang/syfthubapi/middleware.go
  sdk/golang/syfthubapi/middleware_test.go
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/processor_test.go
  sdk/golang/syfthubapi/requestlog.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/transport/http_test.go
  syfthub-desktop/internal/app/app.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

feat(desktop): rename Marketplace to Library
  syfthub-desktop/app.go
  syfthub-desktop/endpoints/echo-model/README.md
  syfthub-desktop/endpoints/sample-model/README.md
  syfthub-desktop/endpoints/simple-search/README.md
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/LibraryView.tsx
  syfthub-desktop/frontend/src/components/Sidebar.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/library.go
  syfthub-desktop/types.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop): add agent session request logging and policy pre-check
  syfthub-desktop/agent_operations.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop): agent-only mode UI
  syfthub-desktop/frontend/src/components/AggregatorSection.tsx
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/CreateEndpointDialog.tsx
  syfthub-desktop/frontend/src/components/SettingsModal.tsx
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
Due: none

fix(cli): set IsConfigured flag on login and node config init
  cli/internal/cmd/login.go
  cli/internal/cmd/root.go
Due: cli-gofmt, cli-govet

chore: remove MPP_TODO.md and app.sh
  MPP_TODO.md
  app.sh
Due: none

chore: clean up backend scripts and update .gitignore
  .gitignore
  components/backend/scripts/README.md
  components/backend/scripts/backup.sh
  components/backend/scripts/entrypoint.sh
  components/backend/scripts/healthcheck.py
  components/backend/scripts/requirements.txt
  components/backend/scripts/run_seed.sh
  components/backend/scripts/seed_data.py
Due: none

chore: clean up backend scripts and update .gitignore (#356)
  .gitignore
  MPP_TODO.md
  app.sh
  components/backend/scripts/README.md
  components/backend/scripts/backup.sh
  components/backend/scripts/entrypoint.sh
  components/backend/scripts/healthcheck.py
  components/backend/scripts/requirements.txt
  components/backend/scripts/run_seed.sh
  components/backend/scripts/seed_data.py
Due: none

fix(desktop): restore missing frontend build config files
  .gitignore
  syfthub-desktop/frontend/index.html
  syfthub-desktop/frontend/package.json
  syfthub-desktop/frontend/tsconfig.json
  syfthub-desktop/frontend/tsconfig.node.json
  syfthub-desktop/frontend/vite.config.ts
Due: none

fix(desktop): restore missing wails.json config
  syfthub-desktop/wails.json
Due: none

feat(marketplace): add agent package type
  components/marketplace/models.go
  components/marketplace/store.go
  components/marketplace/validation.go
Due: none

feat(sdk/containermode+filemode): per-endpoint image resolution and container config
  sdk/golang/syfthubapi/containermode/executor.go
  sdk/golang/syfthubapi/containermode/executor_test.go
  sdk/golang/syfthubapi/containermode/image.go
  sdk/golang/syfthubapi/containermode/image_test.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/loader_test.go
  sdk/golang/syfthubapi/filemode/provider.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(sdk/nodeops): extract MergeEnvFile, add PackageConfigField, fix \n round-trip
  sdk/golang/syfthubapi/nodeops/env.go
  sdk/golang/syfthubapi/nodeops/types.go
  sdk/golang/syfthubapi/setupflow/env.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop): package config fields in install dialog and SSRF fix
  syfthub-desktop/frontend/src/components/LibraryView.tsx
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
  syfthub-desktop/frontend/src/lib/utils.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/go.mod
  syfthub-desktop/go.sum
  syfthub-desktop/library.go
  syfthub-desktop/types.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(desktop): synchronous endpoint deletion and slug path-traversal validation
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/internal/app/app.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(desktop): use authenticated user context in agent sessions
  syfthub-desktop/agent_operations.go
  syfthub-desktop/app.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop/endpoints): add research-agent example endpoint
  syfthub-desktop/endpoints/research-agent/.env.example
  syfthub-desktop/endpoints/research-agent/README.md
  syfthub-desktop/endpoints/research-agent/count_characters.py
  syfthub-desktop/endpoints/research-agent/policy/access-policy.yaml
  syfthub-desktop/endpoints/research-agent/pyproject.toml
  syfthub-desktop/endpoints/research-agent/runner.py
Due: none

feat(endpoint-service): rename bundle_subscription policy to xendit
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/endpoint/bundle-subscription-policy-content.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  sdk/golang/syfthubapi/policy_config.go
Due: frontend-eslint, frontend-prettier, frontend-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(endpoint-service): rename bundle_subscription policy to xendit (#358)
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/endpoint/bundle-subscription-policy-content.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  sdk/golang/syfthubapi/policy_config.go
Due: frontend-eslint, frontend-prettier, frontend-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(xendit): align credits_url key and bundle-usage URL path with syft-space
  COMPATIBILITY_ANALYSIS.md
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(syfthub): address compatibility issues 4, 5, and 6 for multi-wallet-fr
  components/backend/alembic/versions/20260413_000000_add_archived_to_endpoints.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor: remove legacy bundle_tiers compat, use bundles format only
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: align credits_url test fixtures with Space PR's /bundles/ path
  components/backend/tests/test_endpoints.py
Due: none

docs: update compatibility analysis with correct findings and fix status
  COMPATIBILITY_ANALYSIS.md
Due: none

fix(ci): add missing archived field to test fixture and fix codecov input name
  .github/workflows/ci.yml
  components/backend/tests/test_services/test_endpoint_service.py
Due: none

fix(tests): add missing archived field to all Endpoint fixtures in test_main.py
  components/backend/tests/test_main.py
Due: none

fix: SyftHub compatibility with Syft Space multi-wallet-fr PR (#359)
  .github/workflows/ci.yml
  COMPATIBILITY_ANALYSIS.md
  components/backend/alembic/versions/20260413_000000_add_archived_to_endpoints.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
  components/backend/tests/test_main.py
  components/backend/tests/test_services/test_endpoint_service.py
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add alembic merge migration to resolve multiple heads
  components/backend/alembic/versions/20260428_000000_merge_wallet_and_archived_heads.py
  components/backend/src/syfthub/main.py
Due: none
