Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

feat(sdk): expand collective data-source paths in Go and Python SDKs
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/chat_test.go
  sdk/golang/syfthub/hub.go
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/hub.py
  sdk/python/tests/unit/test_chat.py
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(collectives): API pricing and settlement (#446)
  components/backend/pyproject.toml
  components/backend/scripts/seed_collective_demo.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collective_billing.py
  components/backend/tests/test_collectives.py
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/chat/prepaid-account-row.tsx
  components/frontend/src/components/collectives/__tests__/collective-price.test.ts
  components/frontend/src/components/collectives/collective-accounts-modal.tsx
  components/frontend/src/components/collectives/collective-endpoints-modal.tsx
  components/frontend/src/components/collectives/collective-price.tsx
  components/frontend/src/components/collectives/shared-endpoints-tab.tsx
  components/frontend/src/components/collectives/view-balances-button.tsx
  components/frontend/src/components/collectives/view-endpoints-button.tsx
  components/frontend/src/components/hero.tsx
  components/frontend/src/components/ui/modal.tsx
  components/frontend/src/hooks/use-collective-billing.ts
  components/frontend/src/hooks/use-collective-query-readiness.ts
  components/frontend/src/hooks/use-prepaid-wallet-balances.ts
  components/frontend/src/hooks/use-xendit-precheck.ts
  components/frontend/src/lib/__tests__/collective-billing.test.ts
  components/frontend/src/lib/collective-billing.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/chat_test.go
  sdk/golang/syfthub/hub.go
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/hub.py
  sdk/python/tests/unit/test_chat.py
Due: frontend-eslint, frontend-prettier, frontend-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(backend): add passwordless email-OTP sign-in
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/schemas/auth.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/src/syfthub/services/email_service.py
  components/backend/src/syfthub/templates/otp_email.html
  components/backend/tests/test_auth_otp.py
Due: none

feat(sdk/go): add email-OTP sign-in to the hub auth client
  sdk/golang/syfthub/auth.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop): passwordless email sign-in onboarding
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/components/OnboardingWizard.tsx
  syfthub-desktop/frontend/src/components/onboarding/AdvancedSettings.tsx
  syfthub-desktop/frontend/src/components/onboarding/OtpInput.tsx
  syfthub-desktop/frontend/src/lib/utils.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
  syfthub-desktop/onboarding.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

test(backend): include email_otp provider in admin stats assertions
  components/backend/tests/test_admin.py
  components/backend/tests/test_services/test_admin_stats_service.py
Due: none

feat(desktop): default to chat view and install-from-library UX
  syfthub-desktop/frontend/src/components/Sidebar.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
Due: none

chore(desktop): drop executable bit on wails runtime bindings
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
Due: none

feat(desktop): ship macOS as a notarized .dmg instead of a .zip
  .github/workflows/release-desktop.yml
  syfthub-desktop/internal/updater/install_darwin.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(backend): use real domain for collective invitation email links
  .env.deploy.example
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
Due: none

fix(backend): use real domain for collective invitation email links (#448)
  .env.deploy.example
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
Due: none

feat(frontend): align MPP policy card with prepaid-credits layout
  components/frontend/src/components/endpoint/mpp-policy-content.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): align MPP policy card with prepaid-credits layout (#449)
  components/frontend/src/components/endpoint/mpp-policy-content.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): recognize bare "mpp" policy type as pay-as-you-go
  components/frontend/src/components/endpoint/policy-item.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): recognize bare "mpp" policy type as pay-as-you-go (#450)
  components/frontend/src/components/endpoint/policy-item.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(backend): fall back to unique username on registration collision
  components/backend/src/syfthub/services/auth_service.py
  components/backend/tests/test_auth_endpoints.py
  components/backend/tests/test_services/test_auth_service.py
Due: none

fix(backend): fall back to unique username on registration collision (#451)
  components/backend/src/syfthub/services/auth_service.py
  components/backend/tests/test_auth_endpoints.py
  components/backend/tests/test_services/test_auth_service.py
Due: none

fix(frontend): bump vitest to ^4.1.8 to patch GHSA-5xrq-8626-4rwp
  components/frontend/package-lock.json
  components/frontend/package.json
Due: frontend-prettier

fix(frontend): bump vitest to ^4.1.8 to patch GHSA-5xrq-8626-4rwp (#452)
  components/frontend/package-lock.json
  components/frontend/package.json
Due: frontend-prettier

fix(backend): unify pay-as-you-go policy type to canonical "mpp"
  components/backend/alembic/versions/20260609_000000_unify_mpp_policy_type.py
  components/backend/scripts/seed_collective_demo.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collective_billing.py
Due: none

fix(frontend): treat "mpp" as the sole pay-as-you-go policy type
  components/frontend/src/components/endpoint/generic-policy-content.tsx
  components/frontend/src/components/endpoint/policy-format.ts
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/transaction-policy-content.tsx
  components/frontend/src/lib/__tests__/cost-utils.test.ts
  components/frontend/src/lib/cost-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(go-sdk): canonicalize pay-as-you-go policy type to "mpp"
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/loader_test.go
  sdk/golang/syfthubapi/policy_config.go
  sdk/golang/syfthubapi/schemas.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix: unify pay-as-you-go billing policy type to canonical "mpp" (#453)
  components/backend/alembic/versions/20260609_000000_unify_mpp_policy_type.py
  components/backend/scripts/seed_collective_demo.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collective_billing.py
  components/frontend/src/components/endpoint/generic-policy-content.tsx
  components/frontend/src/components/endpoint/policy-format.ts
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/transaction-policy-content.tsx
  components/frontend/src/lib/__tests__/cost-utils.test.ts
  components/frontend/src/lib/cost-utils.ts
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/loader_test.go
  sdk/golang/syfthubapi/policy_config.go
  sdk/golang/syfthubapi/schemas.go
Due: frontend-eslint, frontend-prettier, frontend-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(sdk): host egress broker, MCP bridge, and OAuth for container endpoints
  sdk/golang/go.mod
  sdk/golang/go.sum
  sdk/golang/syfthubapi/containermode/egress.go
  sdk/golang/syfthubapi/containermode/executor.go
  sdk/golang/syfthubapi/containermode/executor_test.go
  sdk/golang/syfthubapi/containermode/protocol_test.go
  sdk/golang/syfthubapi/containermode/runner/_protocol.py
  sdk/golang/syfthubapi/containermode/runner/_syft_audit.py
  sdk/golang/syfthubapi/containermode/runner/server.py
  sdk/golang/syfthubapi/egressbroker/broker.go
  sdk/golang/syfthubapi/egressbroker/broker_test.go
  sdk/golang/syfthubapi/egressbroker/credentials.go
  sdk/golang/syfthubapi/egressbroker/credentials_test.go
  sdk/golang/syfthubapi/egressbroker/proxy.go
  sdk/golang/syfthubapi/egressbroker/route_test.go
  sdk/golang/syfthubapi/filemode/egress.go
  sdk/golang/syfthubapi/filemode/egress_test.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/provider.go
  sdk/golang/syfthubapi/filemode/provider_test.go
  sdk/golang/syfthubapi/mcpbridge/README.md
  sdk/golang/syfthubapi/mcpbridge/bridge.go
  sdk/golang/syfthubapi/mcpbridge/bridge_test.go
  sdk/golang/syfthubapi/mcpbridge/env.go
  sdk/golang/syfthubapi/mcpbridge/env_test.go
  sdk/golang/syfthubapi/mcpbridge/http_test.go
  sdk/golang/syfthubapi/mcpbridge/rawhttp_test.go
  sdk/golang/syfthubapi/mcpoauth/discover.go
  sdk/golang/syfthubapi/mcpoauth/flow.go
  sdk/golang/syfthubapi/mcpoauth/handler.go
  sdk/golang/syfthubapi/mcpoauth/oauth_test.go
  sdk/golang/syfthubapi/mcpoauth/store.go
  sdk/golang/syfthubapi/mcpoauth/store_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(sdk): gate held-reply forwarding and detect policy substitution
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/agent_executor_test.go
  sdk/golang/syfthubapi/policy_config.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop): MCP server registry, OAuth, egress provisioning, and mounts
  syfthub-desktop/app.go
  syfthub-desktop/egress.go
  syfthub-desktop/egress_test.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/go.mod
  syfthub-desktop/go.sum
  syfthub-desktop/internal/app/app.go
  syfthub-desktop/mcp_claude_tokens.go
  syfthub-desktop/mcp_claude_tokens_test.go
  syfthub-desktop/mcp_host.go
  syfthub-desktop/mcp_oauth.go
  syfthub-desktop/mcp_oauth_route_test.go
  syfthub-desktop/mcp_oauth_test.go
  syfthub-desktop/mcp_operations.go
  syfthub-desktop/mcp_registry.go
  syfthub-desktop/mcp_reuse_test.go
  syfthub-desktop/mcp_test.go
  syfthub-desktop/mount_operations_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop/ui): MCP servers, mounts, and sandbox settings
  syfthub-desktop/frontend/src/components/SettingsModal.tsx
  syfthub-desktop/frontend/src/components/tabs/McpServersSection.tsx
  syfthub-desktop/frontend/src/components/tabs/MountsSection.tsx
  syfthub-desktop/frontend/src/components/tabs/SandboxModal.tsx
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
  syfthub-desktop/frontend/src/components/tabs/SkillsSection.tsx
  syfthub-desktop/frontend/src/components/ui/switch.tsx
  syfthub-desktop/frontend/src/components/ui/tabs.tsx
  syfthub-desktop/frontend/src/hooks/use-wails-dropzone.tsx
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
Due: none

feat(desktop): brokered MCP client for the research-agent endpoint
  syfthub-desktop/endpoints/research-agent/README.md
  syfthub-desktop/endpoints/research-agent/_mcp.py
  syfthub-desktop/endpoints/research-agent/_mcp_test.py
  syfthub-desktop/endpoints/research-agent/runner.py
Due: none

fix(backend): make uptime-sample tests use a rolling-window-relative bucket
  components/backend/tests/test_repositories/test_endpoint_uptime.py
Due: none

fix(backend): make uptime-sample tests use a rolling-window-relative bucket (#455)
  components/backend/tests/test_repositories/test_endpoint_uptime.py
Due: none

fix(desktop): align x402 pay-per-request policy to canonical "mpp" type
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/loader_test.go
  sdk/golang/syfthubapi/policy_config.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

release(sdk): bump Python and TypeScript SDKs to 0.2.0
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/typescript/CHANGELOG.md
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Due: none

style(sdk/typescript): apply prettier formatting to satisfy release gate
  sdk/typescript/src/index.ts
  sdk/typescript/src/resources/agent.ts
  sdk/typescript/src/resources/api-tokens.ts
  sdk/typescript/src/resources/auth.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/tests/chat.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

release(sdk): bump Python and TypeScript SDKs to 0.2.0 (#459)
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/typescript/CHANGELOG.md
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/index.ts
  sdk/typescript/src/resources/agent.ts
  sdk/typescript/src/resources/api-tokens.ts
  sdk/typescript/src/resources/auth.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/tests/chat.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

fix(frontend): make nested modals interactive inside Radix dialogs
  components/frontend/src/components/ui/modal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): make nested modals interactive inside Radix dialogs (#460)
  components/frontend/src/components/ui/modal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sdk): satellite-token auth + MPP payment for direct data-source queries; release 0.2.1
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/syftai.py
  sdk/typescript/CHANGELOG.md
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/resources/syftai.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

feat(sdk): satellite-token auth + MPP payment for direct data-source queries; release 0.2.1 (#461)
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/syftai.py
  sdk/typescript/CHANGELOG.md
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/resources/syftai.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

feat(sdk): symmetric client.search.query() for retrieval-only queries; release 0.3.0
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/auth.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/python/src/syfthub_sdk/search.py
  sdk/python/tests/unit/test_search.py
  sdk/python/uv.lock
  sdk/typescript/CHANGELOG.md
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/src/resources/search.ts
  sdk/typescript/tests/search.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

feat(sdk): symmetric client.search.query() for retrieval-only queries; release 0.3.0 (#462)
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/auth.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/python/src/syfthub_sdk/search.py
  sdk/python/tests/unit/test_search.py
  sdk/python/uv.lock
  sdk/typescript/CHANGELOG.md
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/src/resources/search.ts
  sdk/typescript/tests/search.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
