Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix, --config=backend/pyproject.toml]
        files: ^backend/
      - id: ruff-format
        args: [--config=backend/pyproject.toml]
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: [--config-file=backend/pyproject.toml]
        pass_filenames: false
        entry: sh -c 'cd backend && mypy src/'
        files: ^backend/.*\.py$
        additional_dependencies: [
          fastapi,
          uvicorn,
          pydantic,
          pydantic-settings,
          email-validator,
          httpx,
          sqlalchemy,
          alembic,
          types-sqlalchemy,
          types-markdown,
        ]

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: sh -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: frontend-prettier
        name: Prettier (frontend)
        entry: sh -c 'cd frontend && npx prettier --check src/'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript check (frontend)
        entry: sh -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

feat: add useLocation to hide context bar on /chat page in context-bar.tsx
  frontend/src/components/context-bar.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: remove deprecated advanced panel and related components from chat UI
  frontend/src/components/chat/advanced-panel.tsx
  frontend/src/components/chat/chat-view.tsx
  frontend/src/components/chat/cost-estimation-panel.tsx
  frontend/src/components/chat/model-display.tsx
  frontend/src/components/chat/source-card.tsx
  frontend/src/components/chat/suggestion-item.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: replace user.type with fireEvent.change in model-selector.test.tsx for search input
  frontend/src/components/__tests__/model-selector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update Makefile to include aggregator tests and separate unit and integration test commands
  Makefile
Due: none

fix: track backend/uv.lock for reproducible CI builds
  .gitignore
  backend/uv.lock
Due: none

feat: add GitHub Actions workflow to sync main branch into dev, creating PR on conflicts
  .github/workflows/sync-main-to-dev.yml
Due: none

chore: update workflow trigger to run on successful CI workflow completion with token secrets
  .github/workflows/sync-main-to-dev.yml
Due: none

Revert "Merge pull request #127 from OpenMined/update-sync-main-to-dev"
  .github/workflows/sync-main-to-dev.yml
Due: none

feat: Remove contextSources prop; integrate context sources via useChatWorkflow's additionalSources for cleaner source management and navigation flow
  frontend/src/components/chat/chat-view.tsx
  frontend/src/components/context-bar.tsx
  frontend/src/hooks/use-chat-workflow.ts
  frontend/src/pages/chat.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: streamline message handling by adding user message on submit and assistant response on completion
  frontend/src/components/chat/chat-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update ChatView to include optional pre-selected contextSources for data sources
  frontend/src/components/chat/chat-view.tsx
  frontend/src/components/chat/endpoint-confirmation.tsx
  frontend/src/components/chat/no-match-message.tsx
  frontend/src/components/chat/source-search-loader.tsx
  frontend/src/components/hero.tsx
  frontend/src/components/workflow/workflow-display.tsx
  frontend/src/hooks/__tests__/use-chat-workflow.reducer.test.ts
  frontend/src/hooks/__tests__/use-chat-workflow.test.ts
  frontend/src/hooks/use-chat-workflow.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add onboarding callout component for guided user onboarding
  frontend/src/components/balance/balance-indicator.tsx
  frontend/src/components/chat/add-sources-modal.tsx
  frontend/src/components/chat/chat-view.tsx
  frontend/src/components/chat/sources-section.tsx
  frontend/src/components/onboarding/chat-empty-state.tsx
  frontend/src/components/onboarding/index.ts
  frontend/src/components/onboarding/onboarding-callout.tsx
  frontend/src/components/onboarding/welcome-overlay.tsx
  frontend/src/layouts/main-layout.tsx
  frontend/src/stores/onboarding-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add navigation to /chat after successful registration and onboarding start; integrate showQueryInputStep in chat view and store
  frontend/src/components/auth/register-modal.tsx
  frontend/src/components/chat/chat-view.tsx
  frontend/src/stores/onboarding-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: optimistically add user message immediately upon query submission in chat view
  frontend/src/components/chat/chat-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add pagination controls and server-side paginated endpoint fetching
  frontend/src/components/browse-view.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/hooks/use-endpoint-queries.ts
  frontend/src/lib/endpoint-utils.ts
  frontend/src/lib/query-keys.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: include isDataSourceEndpoint utility and enhance endpoint type matching logic in client and resources
  frontend/src/components/chat/add-sources-modal.tsx
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/tests/unit/test_chat.py
  sdk/typescript/src/resources/chat.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add external link icon and make source items link to detail pages, with sorted selected sources at the top
  frontend/src/components/chat/add-sources-modal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add _build_public_select method to support querying both user and organization owned endpoints
  backend/src/syfthub/repositories/endpoint.py
  frontend/src/lib/endpoint-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add HTML error page detection and user-friendly unreachable messages for data sources and model endpoints
  aggregator/src/aggregator/clients/data_source.py
  aggregator/src/aggregator/clients/model.py
Due: none

feat: replace ORM get with core-level UPDATE in EndpointHealthMonitor and update related tests
  backend/src/syfthub/jobs/health_monitor.py
  backend/tests/test_jobs/test_health_monitor.py
Due: none

feat: replace getTypeStyles and getTypeLabel with getTypeIcon for better icon representation; refactor header and tab layout for clarity
  frontend/src/components/browse-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: collect and pass message history for multi-turn context in chat view
  aggregator/src/aggregator/schemas/requests.py
  aggregator/src/aggregator/services/orchestrator.py
  aggregator/src/aggregator/services/prompt_builder.py
  frontend/src/components/chat/chat-view.tsx
  frontend/src/hooks/use-chat-workflow.ts
  sdk/python/src/syfthub_sdk/chat.py
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/resources/chat.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add user aggregator management system
  backend/src/syfthub/api/endpoints/user_aggregators.py
  backend/src/syfthub/api/router.py
  backend/src/syfthub/database/dependencies.py
  backend/src/syfthub/models/__init__.py
  backend/src/syfthub/models/user.py
  backend/src/syfthub/models/user_aggregator.py
  backend/src/syfthub/repositories/user_aggregator.py
  backend/src/syfthub/schemas/user.py
  backend/src/syfthub/services/user_aggregator_service.py
  frontend/__tests__/smoke.test.ts
  frontend/index.html
  frontend/src/components/settings/aggregator-settings-tab.tsx
  frontend/src/lib/types.ts
  frontend/src/stores/user-aggregators-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: remove deprecated UniqueConstraint on (user_id, is_default) due to SQLite limitations; enforce one default per user at application level
  backend/src/syfthub/models/user_aggregator.py
  backend/tests/conftest.py
  backend/tests/test_repositories/test_user_aggregator.py
  backend/tests/test_services/test_user_aggregator_service.py
  backend/tests/test_user_aggregator_endpoints.py
Due: none

fix: wrap id parameter with String() in fetch URLs for consistency and prevent potential issues
  frontend/src/components/settings/aggregator-settings-tab.tsx
  frontend/src/stores/user-aggregators-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): align UI components with design system
  frontend/src/components/browse-view.tsx
  frontend/src/components/chat/chat-view.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/styles/global.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: Add AggregatorsResource class for managing user aggregator configurations
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/aggregators.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/python/src/syfthub_sdk/users.py
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/models/user.ts
  sdk/typescript/src/resources/aggregators.ts
  sdk/typescript/src/resources/users.ts
Due: none

chore: add google-auth dependency for Google OAuth support
  backend/pyproject.toml
  backend/src/syfthub/auth/router.py
  backend/src/syfthub/core/config.py
  backend/src/syfthub/models/user.py
  backend/src/syfthub/repositories/user.py
  backend/src/syfthub/schemas/auth.py
  backend/src/syfthub/schemas/user.py
  backend/src/syfthub/services/auth_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/components/auth/login-modal.tsx
  frontend/src/components/auth/register-modal.tsx
  frontend/src/context/auth-context.tsx
  frontend/src/lib/sdk-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add google-auth to pre-commit hooks and fix import statements in auth_service.py
  .pre-commit-config.yaml
  backend/src/syfthub/services/auth_service.py
Due: none

chore: add build-args for VITE_GOOGLE_CLIENT_ID in CI workflow
  .github/workflows/ci.yml
  CLAUDE.md
  docker-compose.deploy.yml
  frontend/.interface-design/system.md
  frontend/Dockerfile
Due: frontend-prettier

chore: update Content-Security-Policy to include Google Accounts domains for enhanced security
  nginx/nginx.prod.conf
Due: none

chore: update google-auth to support urllib3, modify auth service to use urllib3's Request, and include types-urllib3 in pre-commit
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/src/syfthub/services/auth_service.py
Due: none

chore: remove deprecated system design documentation
  frontend/.interface-design/system.md
  frontend/src/components/chat/add-sources-modal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update .gitignore to exclude LLM-related and interface design files; remove CLAUDE.md documentation
  .gitignore
  CLAUDE.md
Due: none

Added build script for creating standalone syft CLI binaries
  .github/workflows/ci.yml
  .github/workflows/release-cli.yml
  .pre-commit-config.yaml
  cli/README.md
  cli/install.sh
  cli/pyproject.toml
  cli/scripts/build.py
  cli/src/syfthub_cli/__init__.py
  cli/src/syfthub_cli/commands/__init__.py
  cli/src/syfthub_cli/commands/auth.py
  cli/src/syfthub_cli/commands/config_cmd.py
  cli/src/syfthub_cli/commands/discovery.py
  cli/src/syfthub_cli/commands/management.py
  cli/src/syfthub_cli/commands/query.py
  cli/src/syfthub_cli/commands/update_cmd.py
  cli/src/syfthub_cli/commands/utils.py
  cli/src/syfthub_cli/completion.py
  cli/src/syfthub_cli/config.py
  cli/src/syfthub_cli/main.py
  cli/src/syfthub_cli/output.py
  cli/src/syfthub_cli/py.typed
  cli/src/syfthub_cli/update.py
  cli/tests/__init__.py
  cli/tests/conftest.py
  cli/tests/test_auth.py
  cli/tests/test_completion.py
  cli/tests/test_config.py
  cli/tests/test_discovery.py
  cli/tests/test_management.py
  cli/tests/test_query.py
  cli/tests/test_utils.py
  cli/uv.lock
Due: none

chore: disable unused-ignore warnings in pyproject.toml and suppress type errors for data_sources in query.py
  cli/pyproject.toml
  cli/src/syfthub_cli/commands/query.py
Due: none

fix: add missing syft.spec and update macOS runner to macos-15
  .github/workflows/release-cli.yml
  .gitignore
  cli/syft.spec
Due: none

fix: add workflows permission to sync-main-to-dev workflow
  .github/workflows/sync-main-to-dev.yml
Due: none

chore: update GitHub Actions workflow to reflect removal of darwin-x64 build, note Intel Macs run arm64 via Rosetta, and clarify binary platform handling
  .github/workflows/release-cli.yml
  cli/install.sh
  cli/src/syfthub_cli/update.py
Due: none
