Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

chore: update license to Apache-2.0 in LICENSE file with full license text
  LICENSE
  aggregator/pyproject.toml
  backend/pyproject.toml
  frontend/LICENSE
  frontend/package.json
  sdk/python/pyproject.toml
Due: frontend-prettier

chore: add logging options with max-size and max-file to multiple services in docker-compose.deploy.yml
  docker-compose.deploy.yml
Due: none

feat: add delete endpoint by slug API, service method, and comprehensive tests
  backend/src/syfthub/api/endpoints/endpoints.py
  backend/src/syfthub/services/endpoint_service.py
  backend/tests/test_endpoints.py
  backend/tests/test_services/test_endpoint_service.py
Due: none

feat: add HTML sanitizer for safe markdown rendering and SSRF protection with domain validation
  backend/pyproject.toml
  backend/src/syfthub/core/html_sanitizer.py
  backend/src/syfthub/core/ssrf_protection.py
  backend/src/syfthub/main.py
Due: none

fix: move SSRF domain validation to after building invocation URL for better security placement; add corresponding mock patch in tests
  backend/src/syfthub/main.py
  backend/tests/test_main.py
Due: none

chore: update license to Apache-2.0 in package-lock.json
  frontend/package-lock.json
  frontend/src/components/auth/login-modal.tsx
  frontend/src/components/auth/register-modal.tsx
  frontend/src/components/balance/balance-indicator.tsx
  frontend/src/components/browse-view.tsx
  frontend/src/components/build-view.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/cost-estimation-panel.tsx
  frontend/src/components/chat/markdown-message.tsx
  frontend/src/components/chat/model-selector.tsx
  frontend/src/components/chat/sources-section.tsx
  frontend/src/components/chat/status-indicator.tsx
  frontend/src/components/connection-card.tsx
  frontend/src/components/endpoint-detail.tsx
  frontend/src/components/hero.tsx
  frontend/src/components/participate-view.tsx
  frontend/src/components/profile-view.tsx
  frontend/src/components/recent-models.tsx
  frontend/src/components/recent-sources.tsx
  frontend/src/components/settings/danger-zone-tab.tsx
  frontend/src/components/settings/payment-settings-tab.tsx
  frontend/src/components/settings/profile-settings-tab.tsx
  frontend/src/components/settings/security-settings-tab.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/layouts/main-layout.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/not-found.tsx
  frontend/src/types/lucide-react.d.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: Add HTML sanitization and SSRF protection (#24)
  backend/pyproject.toml
  backend/src/syfthub/core/html_sanitizer.py
  backend/src/syfthub/core/ssrf_protection.py
  backend/src/syfthub/main.py
  backend/tests/test_main.py
Due: none

chore: refactor build-view components to use lazy loading and memoization for syntax highlighter and subcomponents
  frontend/src/components/build-view.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/markdown-message.tsx
  frontend/src/context/auth-context.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update meta theme color, license, accessibility labels, focus handling, and global styles for reduced motion and touch optimization
  frontend/index.html
  frontend/package-lock.json
  frontend/src/components/auth/login-modal.tsx
  frontend/src/components/auth/register-modal.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/hero.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/loading-spinner.tsx
  frontend/src/layouts/main-layout.tsx
  frontend/src/styles/global.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: refactor selectedIds to Set for better performance and update related code for consistency
  frontend/src/components/chat-view.tsx
  frontend/src/components/endpoint-detail.tsx
  frontend/src/components/hero.tsx
  frontend/src/components/settings/danger-zone-tab.tsx
  frontend/src/components/settings/security-settings-tab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update metadata description and keywords for SEO improvements
  frontend/_config.ts
  frontend/index.html
  frontend/src/components/browse-view.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/markdown-message.tsx
  frontend/src/components/chat/model-selector.tsx
  frontend/src/components/hero.tsx
  frontend/src/components/participate-view.tsx
  frontend/src/components/profile-view.tsx
  frontend/src/components/recent-models.tsx
  frontend/src/components/settings/profile-settings-tab.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/layouts/main-layout.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/browse.tsx
  frontend/src/styles/global.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: convert conditional rendering of stars count to ternary expressions for consistency
  frontend/src/components/browse-view.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/endpoint-detail.tsx
  frontend/src/components/profile-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add SDK release pipelines for PyPI and npm
  .github/workflows/release-python-sdk.yml
  .github/workflows/release-typescript-sdk.yml
  .github/workflows/release.yml
  RELEASING.md
  sdk/python/CHANGELOG.md
  sdk/typescript/CHANGELOG.md
  sdk/typescript/package.json
Due: none

feat: add SDK release pipelines for PyPI and npm (#27)
  .github/workflows/release-python-sdk.yml
  .github/workflows/release-typescript-sdk.yml
  .github/workflows/release.yml
  RELEASING.md
  sdk/python/CHANGELOG.md
  sdk/typescript/CHANGELOG.md
  sdk/typescript/package.json
Due: none

chore: add light/dark color scheme to html tag
  frontend/index.html
  frontend/src/components/auth/auth-utils.tsx
  frontend/src/components/auth/protected-route.tsx
  frontend/src/components/auth/register-modal.tsx
  frontend/src/components/balance/balance-indicator.tsx
  frontend/src/components/browse-view.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/cost-estimation-panel.tsx
  frontend/src/components/chat/model-selector.tsx
  frontend/src/components/chat/sources-section.tsx
  frontend/src/components/chat/status-indicator.tsx
  frontend/src/components/connection-card.tsx
  frontend/src/components/endpoint-detail.tsx
  frontend/src/components/participate-view.tsx
  frontend/src/components/profile-view.tsx
  frontend/src/components/recent-models.tsx
  frontend/src/components/recent-sources.tsx
  frontend/src/components/settings/danger-zone-tab.tsx
  frontend/src/components/settings/payment-settings-tab.tsx
  frontend/src/components/settings/profile-settings-tab.tsx
  frontend/src/components/settings/security-settings-tab.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/home.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: adjust argument parsing and output formatting for better readability
  sdk/python/examples/demo_workflow.py
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/_http.py
  sdk/python/src/syfthub_sdk/auth.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/python/src/syfthub_sdk/syftai.py
  sdk/python/tests/unit/test_chat.py
  sdk/python/tests/unit/test_syftai.py
Due: none

chore: update pre-commit config to include SDK-specific ruff and mypy hooks, and add type annotations in syftai.py
  .pre-commit-config.yaml
  sdk/python/src/syfthub_sdk/accounting.py
  sdk/python/src/syfthub_sdk/syftai.py
Due: none

fix: update test_chat.py to mock hub browse endpoint and test retrieval_info instead of sources
  .github/workflows/release-python-sdk.yml
  sdk/python/tests/unit/test_chat.py
Due: none

fix: sort imports in test_chat.py
  Untitled.ipynb
  docs/architecture/01-system-architecture.md
  docs/architecture/02-data-models.md
  docs/architecture/03-api-reference.md
  docs/architecture/04-authentication-security.md
  docs/architecture/05-workflows-sequences.md
  docs/architecture/06-services-business-logic.md
  docs/architecture/07-frontend-architecture.md
  docs/architecture/08-aggregator-rag.md
  docs/architecture/09-sdks-integration.md
  docs/architecture/10-deployment-operations.md
  scripts/run-chat-test.sh
  scripts/test-chat-workflow.sh
Due: none

Revert "fix: sort imports in test_chat.py"
  Untitled.ipynb
  docs/architecture/01-system-architecture.md
  docs/architecture/02-data-models.md
  docs/architecture/03-api-reference.md
  docs/architecture/04-authentication-security.md
  docs/architecture/05-workflows-sequences.md
  docs/architecture/06-services-business-logic.md
  docs/architecture/07-frontend-architecture.md
  docs/architecture/08-aggregator-rag.md
  docs/architecture/09-sdks-integration.md
  docs/architecture/10-deployment-operations.md
  scripts/run-chat-test.sh
  scripts/test-chat-workflow.sh
Due: none

fix: sort imports in test_chat.py
  sdk/python/tests/unit/test_chat.py
Due: none

chore: add external resource links for SDKs and documentation in build-view and participate-view components
  frontend/src/components/build-view.tsx
  frontend/src/components/participate-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor: replace conditional rendering with ternary expressions for optional components
  frontend/src/components/auth/auth-utils.tsx
  frontend/src/components/auth/register-modal.tsx
  frontend/src/components/balance/balance-indicator.tsx
  frontend/src/components/browse-view.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/cost-estimation-panel.tsx
  frontend/src/components/chat/model-selector.tsx
  frontend/src/components/chat/sources-section.tsx
  frontend/src/components/chat/status-indicator.tsx
  frontend/src/components/connection-card.tsx
  frontend/src/components/endpoint-detail.tsx
  frontend/src/components/participate-view.tsx
  frontend/src/components/profile-view.tsx
  frontend/src/components/settings/danger-zone-tab.tsx
  frontend/src/components/settings/payment-settings-tab.tsx
  frontend/src/components/settings/profile-settings-tab.tsx
  frontend/src/components/settings/security-settings-tab.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/page-header.tsx
  frontend/src/pages/home.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update SDKs to use POST for starring and slug-based endpoint operations; remove deprecated env vars and resolve endpoint IDs dynamically
  sdk/python/README.md
  sdk/python/examples/demo_workflow.py
  sdk/python/examples/simple_example.py
  sdk/python/src/syfthub_sdk/accounting.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/src/syfthub_sdk/hub.py
  sdk/python/src/syfthub_sdk/my_endpoints.py
  sdk/typescript/README.md
  sdk/typescript/package-lock.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/resources/hub.ts
  sdk/typescript/src/resources/my-endpoints.ts
Due: none

fix: Corrected the loop to iterate over 'response.retrieval_info' instead of 'response.sources' and updated comment for clarity
  mcp/server.py
Due: none

fix: Corrected the loop to iterate over 'response.retrieval_info' instead of 'response.sources' and updated comment for clarity (#28)
  mcp/server.py
Due: none

chore: Update meta theme color and enhance accessibility (#26)
  frontend/_config.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/src/components/auth/auth-utils.tsx
  frontend/src/components/auth/login-modal.tsx
  frontend/src/components/auth/protected-route.tsx
  frontend/src/components/auth/register-modal.tsx
  frontend/src/components/balance/balance-indicator.tsx
  frontend/src/components/browse-view.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/cost-estimation-panel.tsx
  frontend/src/components/chat/markdown-message.tsx
  frontend/src/components/chat/model-selector.tsx
  frontend/src/components/chat/sources-section.tsx
  frontend/src/components/chat/status-indicator.tsx
  frontend/src/components/connection-card.tsx
  frontend/src/components/endpoint-detail.tsx
  frontend/src/components/hero.tsx
  frontend/src/components/participate-view.tsx
  frontend/src/components/profile-view.tsx
  frontend/src/components/recent-models.tsx
  frontend/src/components/recent-sources.tsx
  frontend/src/components/settings/danger-zone-tab.tsx
  frontend/src/components/settings/payment-settings-tab.tsx
  frontend/src/components/settings/profile-settings-tab.tsx
  frontend/src/components/settings/security-settings-tab.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/loading-spinner.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/layouts/main-layout.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/browse.tsx
  frontend/src/pages/home.tsx
  frontend/src/styles/global.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: improve endpoint visibility logic to include inactive endpoints for owners and clarify public endpoints filtering
  backend/src/syfthub/repositories/endpoint.py
Due: none

feat: Update lucide-react imports to direct ESM paths (#25)
  frontend/src/components/auth/auth-utils.tsx
  frontend/src/components/auth/login-modal.tsx
  frontend/src/components/auth/register-modal.tsx
  frontend/src/components/balance/balance-indicator.tsx
  frontend/src/components/browse-view.tsx
  frontend/src/components/build-view.tsx
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/cost-estimation-panel.tsx
  frontend/src/components/chat/markdown-message.tsx
  frontend/src/components/chat/model-selector.tsx
  frontend/src/components/chat/sources-section.tsx
  frontend/src/components/chat/status-indicator.tsx
  frontend/src/components/connection-card.tsx
  frontend/src/components/endpoint-detail.tsx
  frontend/src/components/hero.tsx
  frontend/src/components/participate-view.tsx
  frontend/src/components/profile-view.tsx
  frontend/src/components/recent-models.tsx
  frontend/src/components/recent-sources.tsx
  frontend/src/components/settings/danger-zone-tab.tsx
  frontend/src/components/settings/payment-settings-tab.tsx
  frontend/src/components/settings/profile-settings-tab.tsx
  frontend/src/components/settings/security-settings-tab.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/page-header.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/context/auth-context.tsx
  frontend/src/layouts/main-layout.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/not-found.tsx
  frontend/src/types/lucide-react.d.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: Update OAuth login modal with new frontend design, colors, and improved accessibility
  mcp/server.py
Due: none

fix: Register languages for PrismLight syntax highlighter
  frontend/package-lock.json
  frontend/src/components/build-view.tsx
  frontend/src/components/chat/markdown-message.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: Register languages for PrismLight syntax highlighter (#29)
  frontend/package-lock.json
  frontend/src/components/build-view.tsx
  frontend/src/components/chat/markdown-message.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: Add custom aggregator URL configuration for users
  backend/src/syfthub/models/user.py
  backend/src/syfthub/repositories/user.py
  backend/src/syfthub/schemas/user.py
  backend/tests/test_auth_users.py
  frontend/src/components/chat-view.tsx
  frontend/src/components/settings/aggregator-settings-tab.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/context/settings-modal-context.tsx
  frontend/src/lib/types.ts
  sdk/python/src/syfthub_sdk/chat.py
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/resources/chat.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: Add custom aggregator URL configuration for users (#30)
  backend/src/syfthub/models/user.py
  backend/src/syfthub/repositories/user.py
  backend/src/syfthub/schemas/user.py
  backend/tests/test_auth_users.py
  frontend/src/components/chat-view.tsx
  frontend/src/components/settings/aggregator-settings-tab.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/context/settings-modal-context.tsx
  frontend/src/lib/types.ts
  sdk/python/src/syfthub_sdk/chat.py
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/resources/chat.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: replace soft delete with hard delete in endpoint repository and update related tests
  backend/src/syfthub/repositories/endpoint.py
  backend/tests/test_database/test_repositories.py
Due: none

fix: replace soft delete with hard delete in endpoint repository and update related tests (#31)
  backend/src/syfthub/repositories/endpoint.py
  backend/tests/test_database/test_repositories.py
Due: none

fix: Add aggregatorUrl field to SDK User models to persist custom aggregator URL
  frontend/src/context/auth-context.tsx
  frontend/src/lib/sdk-client.ts
  sdk/python/src/syfthub_sdk/models.py
  sdk/typescript/src/models/user.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: Add aggregatorUrl field to SDK User models to persist custom aggregator URL (#32)
  frontend/src/context/auth-context.tsx
  frontend/src/lib/sdk-client.ts
  sdk/python/src/syfthub_sdk/models.py
  sdk/typescript/src/models/user.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: Update CSP to allow connections to external HTTPS URLs
  nginx/nginx.prod.conf
Due: none

feat: Add aggregator URL field for RAG workflows (#33)
  nginx/nginx.prod.conf
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
