Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$

feat(admin): user-overview stats API, last-login tracking, CSV export
  components/backend/alembic/versions/20260529_000000_add_user_last_login_at.py
  components/backend/src/syfthub/api/endpoints/admin.py
  components/backend/src/syfthub/api/router.py
  components/backend/src/syfthub/database/dependencies.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/schemas/admin.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/admin_stats_service.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/tests/test_admin.py
  components/backend/tests/test_repositories/test_user.py
  components/backend/tests/test_services/test_admin_stats_service.py
Due: none

feat(admin): admin dashboard UI (KPIs, signup trend, users table, CSV export)
  components/frontend/src/app.tsx
  components/frontend/src/components/admin/admin-dashboard.tsx
  components/frontend/src/components/admin/kpi-card.tsx
  components/frontend/src/components/admin/last-login-section.tsx
  components/frontend/src/components/admin/mini-chart.tsx
  components/frontend/src/components/admin/overview-section.tsx
  components/frontend/src/components/admin/signup-trend-card.tsx
  components/frontend/src/components/admin/users-table.tsx
  components/frontend/src/components/auth/__tests__/role-based-route.test.tsx
  components/frontend/src/components/auth/role-based-route.tsx
  components/frontend/src/hooks/use-admin-api.ts
  components/frontend/src/lib/types.ts
  components/frontend/src/lib/utils.ts
  components/frontend/src/pages/admin.tsx
  components/frontend/src/styles/global.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): stop CI hang from playwright install in postinstall
  components/frontend/package.json
Due: frontend-prettier

fix(ci): drop dead Playwright browser install from frontend-test
  .github/workflows/ci.yml
Due: none

fix(frontend): stop CI hang from playwright install in postinstall (#437)
  .github/workflows/ci.yml
  components/frontend/package.json
Due: frontend-prettier

feat(admin): user-overview dashboard (stats API + admin UI, CSV export) (#436)
  components/backend/alembic/versions/20260529_000000_add_user_last_login_at.py
  components/backend/src/syfthub/api/endpoints/admin.py
  components/backend/src/syfthub/api/router.py
  components/backend/src/syfthub/database/dependencies.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/schemas/admin.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/admin_stats_service.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/tests/test_admin.py
  components/backend/tests/test_repositories/test_user.py
  components/backend/tests/test_services/test_admin_stats_service.py
  components/frontend/src/app.tsx
  components/frontend/src/components/admin/admin-dashboard.tsx
  components/frontend/src/components/admin/kpi-card.tsx
  components/frontend/src/components/admin/last-login-section.tsx
  components/frontend/src/components/admin/mini-chart.tsx
  components/frontend/src/components/admin/overview-section.tsx
  components/frontend/src/components/admin/signup-trend-card.tsx
  components/frontend/src/components/admin/users-table.tsx
  components/frontend/src/components/auth/__tests__/role-based-route.test.tsx
  components/frontend/src/components/auth/role-based-route.tsx
  components/frontend/src/hooks/use-admin-api.ts
  components/frontend/src/lib/types.ts
  components/frontend/src/lib/utils.ts
  components/frontend/src/pages/admin.tsx
  components/frontend/src/styles/global.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Remove redundant 'no custom shared endpoints' empty state
  components/frontend/src/components/collectives/shared-endpoints-tab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Unify collective Requests + Invitations into one Pending tab
  components/frontend/src/pages/collective-admin.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Add searchable, batch invite flow for collectives
  components/frontend/src/components/collectives/invite-combobox.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/pages/collective-admin.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Streamline collective admin: unified Pending tab + searchable batch invite (#439)
  components/frontend/src/components/collectives/invite-combobox.tsx
  components/frontend/src/components/collectives/shared-endpoints-tab.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/pages/collective-admin.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sdk): cancellable attachment uploads + hard-cap enforcement + orphan cleanup
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/attachments.go
  sdk/golang/syfthubapi/transport/agent_attachments.go
  sdk/golang/syfthubapi/transport/attachment_cancel_test.go
  sdk/golang/syfthubapi/transport/attachment_handshake_test.go
  sdk/golang/syfthubapi/transport/attachment_object_store.go
  sdk/golang/syfthubapi/transport/attachment_object_store_memory_test.go
  sdk/golang/syfthubapi/transport/attachment_uploader.go
  sdk/golang/syfthubapi/transport/attachment_uploader_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(sdk): fail closed when attachment capability requested without a store
  sdk/golang/syfthubapi/transport/agent_dial.go
  sdk/golang/syfthubapi/transport/agent_dial_attachment_key_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(sdk): only ack user attachments the runtime actually accepted
  sdk/golang/syfthubapi/transport/nats.go
  sdk/typescript/src/models/agent.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(sdk): relay inbound attachments across the agent policy boundary
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/agent_executor_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(sdk/runner): materialize attachments under sanitized friendly names
  sdk/golang/syfthubapi/containermode/runner/server.py
Due: none

feat(sdk): clearer downloader errors for pre-cutover peer wire format
  sdk/golang/syfthubapi/transport/attachment_downloader.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop): validate queued attachments before the session is live
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/attachment_operations_test.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/hooks/use-attachments.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
Due: desktop-gofmt, desktop-govet, desktop-gotest

refactor(desktop/ui): extract shared RunningSpinner for tool views
  syfthub-desktop/frontend/src/components/chat/tool-views/CodeToolView.tsx
  syfthub-desktop/frontend/src/components/chat/tool-views/RunningSpinner.tsx
  syfthub-desktop/frontend/src/components/chat/tool-views/TerminalToolView.tsx
Due: none

chore: vendor tool-ui agent skill + lockfile
  .agents/skills/tool-ui/SKILL.md
  skills-lock.json
Due: none

refactor(sdk): add NowISO() helper; collapse 7 timestamp call sites
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/manualreview/wire.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(sdk/transport): simplify encryptor, relay loop, and agent session
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/transport/attachment_encryptor.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(desktop): simplify agent ops and review schema migration
  syfthub-desktop/agent_operations.go
  syfthub-desktop/manual_review_operations.go
  syfthub-desktop/sent_reviews.go
  syfthub-desktop/sent_reviews_apply.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop): in-place signed auto-update on macOS
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/components/MustUpdateModal.tsx
  syfthub-desktop/frontend/src/contexts/UpdateContext.tsx
  syfthub-desktop/install.go
  syfthub-desktop/internal/updater/install.go
  syfthub-desktop/internal/updater/install_darwin.go
  syfthub-desktop/internal/updater/install_darwin_test.go
  syfthub-desktop/internal/updater/install_linux.go
  syfthub-desktop/internal/updater/install_windows.go
  syfthub-desktop/internal/updater/launch_state.go
  syfthub-desktop/internal/updater/manifest.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

ci(desktop): track go.mod Go version; require Apple signing for macOS
  .github/workflows/release-desktop.yml
Due: none

Add collective API pricing and settlement UX
  components/backend/scripts/seed_collective_demo.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/chat/prepaid-account-row.tsx
  components/frontend/src/components/collectives/collective-accounts-modal.tsx
  components/frontend/src/components/collectives/collective-endpoints-modal.tsx
  components/frontend/src/components/collectives/collective-price.tsx
  components/frontend/src/components/collectives/shared-endpoints-tab.tsx
  components/frontend/src/components/collectives/view-balances-button.tsx
  components/frontend/src/components/collectives/view-endpoints-button.tsx
  components/frontend/src/components/ui/modal.tsx
  components/frontend/src/hooks/use-collective-billing.ts
  components/frontend/src/hooks/use-collective-query-readiness.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): remove verification badge from collective admin settings
  components/frontend/src/pages/collective-admin.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): remove verification badge from collective admin settings (#442)
  components/frontend/src/pages/collective-admin.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(landing): add UTM capture to hi forms and scroll-to nav
  components/frontend/public/hi/index.html
  components/frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Refine influence functions and machine unlearning copy on hi page.
  components/frontend/public/hi/index.html
Due: none

feat(landing): add UTM capture to hi forms and scroll-to nav (#445)
  components/frontend/public/hi/index.html
  components/frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(backend): extract shared _parse_unit billing helper
  components/backend/src/syfthub/services/collective_service.py
Due: none

refactor(frontend): extract shared prepaid-wallet polling engine
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/collectives/collective-accounts-modal.tsx
  components/frontend/src/hooks/use-collective-query-readiness.ts
  components/frontend/src/hooks/use-prepaid-wallet-balances.ts
  components/frontend/src/lib/query-keys.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(frontend): reuse formatPriceSlice in collective endpoints modal
  components/frontend/src/components/collectives/collective-endpoints-modal.tsx
  components/frontend/src/components/collectives/collective-price.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(backend): enable pydantic.mypy plugin to fix false missing-arg errors
  components/backend/pyproject.toml
Due: none

fix(frontend): resolve pre-existing collectives lint/format errors
  components/frontend/src/components/chat/prepaid-account-row.tsx
  components/frontend/src/components/collectives/collective-price.tsx
  components/frontend/src/components/collectives/view-balances-button.tsx
  components/frontend/src/components/ui/modal.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(backend): auth-gate collective billing summary endpoint
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/tests/test_collective_billing.py
  components/backend/tests/test_collectives.py
Due: none

feat(frontend): collective billing settlement lib and UI
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/collectives/__tests__/collective-price.test.ts
  components/frontend/src/components/collectives/collective-accounts-modal.tsx
  components/frontend/src/hooks/use-collective-query-readiness.ts
  components/frontend/src/hooks/use-xendit-precheck.ts
  components/frontend/src/lib/__tests__/collective-billing.test.ts
  components/frontend/src/lib/collective-billing.ts
  components/frontend/src/lib/collectives-api.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): select collective shared endpoints as chat sources
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/components/hero.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck
