Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

refactor(backend): deduplicate satellite token minting and audience validation
  components/backend/src/syfthub/api/endpoints/token.py
  components/backend/src/syfthub/auth/satellite_tokens.py
Due: none

refactor(backend): service layer fixes — N+1, O(n^2) search, shared domain extraction, enum checks
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/src/syfthub/services/organization_service.py
  components/backend/src/syfthub/services/user_service.py
Due: none

refactor(backend): consolidate auth response helpers into AuthService
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/services/auth_service.py
Due: none

refactor(syfthub): use lifespan http client
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/schemas/endpoint.py
Due: none

test(auth): adapt blacklist and audience path
  components/backend/tests/test_auth/test_security.py
  components/backend/tests/test_idp.py
Due: none

fix(tests): mock internal logger and scalar results
  components/backend/tests/test_repositories/test_base.py
Due: none

refactor(backend): route, service, health, and integration fixes (#325)
  components/backend/src/syfthub/api/endpoints/accounting.py
  components/backend/src/syfthub/api/endpoints/token.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/auth/satellite_tokens.py
  components/backend/src/syfthub/auth/security.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/repositories/base.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/src/syfthub/services/organization_service.py
  components/backend/src/syfthub/services/user_service.py
  components/backend/tests/test_auth/test_security.py
  components/backend/tests/test_idp.py
  components/backend/tests/test_repositories/test_base.py
Due: none

refactor(sdk): extract ComputeSetupStatus, shared frontmatter parsing, and harden marketplace install
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/nodeops/deps.go
  sdk/golang/syfthubapi/nodeops/endpoint.go
  sdk/golang/syfthubapi/nodeops/frontmatter.go
  sdk/golang/syfthubapi/nodeops/marketplace.go
  sdk/golang/syfthubapi/nodeops/marketplace_test.go
  sdk/golang/syfthubapi/nodeops/setup.go
  sdk/golang/syfthubapi/nodeops/setup_test.go
  sdk/golang/syfthubapi/nodeops/setup_types.go
  sdk/golang/syfthubapi/nodeops/types.go
  sdk/golang/syfthubapi/setupflow/engine_test.go
  sdk/golang/syfthubapi/setupflow/handlers/engine.go
  sdk/golang/syfthubapi/setupflow/integration_test.go
  sdk/golang/syfthubapi/setupflow/lifecycle_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transport): persist NATS X25519 encryption key across restarts
  sdk/golang/syfthubapi/transport/crypto.go
  sdk/golang/syfthubapi/transport/nats.go
  sdk/golang/syfthubapi/transport/transport.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(cli): use shared NewDefaultEngine and remove legacy config prompts
  cli/internal/cmd/node_endpoint.go
  cli/internal/cmd/node_endpoint_setup.go
  cli/internal/cmd/node_marketplace.go
Due: cli-gofmt, cli-govet

feat(desktop): integrate setupflow engine with interactive UI dialog
  syfthub-desktop/.gitignore
  syfthub-desktop/app.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
  syfthub-desktop/frontend/package-lock.json
  syfthub-desktop/frontend/package.json
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/MarketplaceView.tsx
  syfthub-desktop/frontend/src/components/SetupFlowDialog.tsx
  syfthub-desktop/frontend/src/components/Sidebar.tsx
  syfthub-desktop/frontend/src/hooks/use-chat-workflow.ts
  syfthub-desktop/frontend/src/lib/markdown.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
  syfthub-desktop/go.mod
  syfthub-desktop/internal/app/app.go
  syfthub-desktop/marketplace.go
  syfthub-desktop/setup.go
  syfthub-desktop/setup_io.go
  syfthub-desktop/types.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(endpoint): introduce AGENT endpoint type across stack
  components/aggregator/src/aggregator/clients/syfthub.py
  components/aggregator/src/aggregator/schemas/__init__.py
  components/aggregator/src/aggregator/schemas/internal.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/frontend/src/lib/types.ts
  sdk/golang/agenttypes/agenttypes.go
  sdk/golang/go.mod
  sdk/golang/go.sum
  sdk/golang/syfthub/agent.go
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/client.go
  sdk/golang/syfthub/models.go
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_builder.go
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/endpoint_test.go
  sdk/golang/syfthubapi/filemode/agent_executor.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/provider.go
  sdk/golang/syfthubapi/nodeops/endpoint.go
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/transport/crypto.go
  sdk/golang/syfthubapi/transport/nats.go
  sdk/python/src/syfthub_sdk/models.py
  sdk/typescript/src/models/common.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(sdk): add agent endpoint support to Go, Python, and TypeScript hub clients
  sdk/golang/syfthub/chat_test.go
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/tests/unit/test_chat.py
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/agent.ts
  sdk/typescript/src/resources/agent.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/tests/chat.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(aggregator): add agent WebSocket endpoint and session management
  components/aggregator/src/aggregator/api/endpoints/__init__.py
  components/aggregator/src/aggregator/api/endpoints/agent.py
  components/aggregator/src/aggregator/api/router.py
  components/aggregator/src/aggregator/schemas/agent.py
  components/aggregator/src/aggregator/services/session_manager.py
  components/aggregator/src/aggregator/services/session_transport.py
Due: none

feat(deploy): add nginx WebSocket proxy for agent sessions
  deploy/nginx/nginx.dev.conf
  deploy/nginx/nginx.prod.conf
Due: none

feat(cli): add agent endpoint type display
  cli/go.mod
  cli/go.sum
  cli/internal/output/output.go
Due: cli-gofmt, cli-govet

feat(frontend): add agent endpoint UI and centralize type visual utils
  components/frontend/src/app.tsx
  components/frontend/src/components/agent/agent-event-list.tsx
  components/frontend/src/components/agent/agent-input.tsx
  components/frontend/src/components/agent/agent-view.tsx
  components/frontend/src/components/agent/event-cards/message-bubble.tsx
  components/frontend/src/components/agent/event-cards/status-badge.tsx
  components/frontend/src/components/agent/event-cards/thinking-block.tsx
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/chat/search-input.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/global-directory.tsx
  components/frontend/src/components/prompt-kit/markdown.tsx
  components/frontend/src/components/prompt-kit/tool.tsx
  components/frontend/src/hooks/use-agent-workflow.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/pages/agent.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(desktop): extract window controls and rewrite markdown rendering
  syfthub-desktop/frontend/components.json
  syfthub-desktop/frontend/package-lock.json
  syfthub-desktop/frontend/package.json
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/OnboardingWizard.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/code-block.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/markdown.tsx
  syfthub-desktop/frontend/src/components/tabs/DocsTab.tsx
  syfthub-desktop/frontend/src/components/ui/button.tsx
  syfthub-desktop/frontend/src/components/ui/collapsible.tsx
  syfthub-desktop/frontend/src/components/ui/window-controls.tsx
  syfthub-desktop/frontend/src/index.css
  syfthub-desktop/frontend/src/lib/citation-utils.ts
Due: none

feat(desktop): add agent workflow with bidirectional session support
  syfthub-desktop/agent_operations.go
  syfthub-desktop/app.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/CreateEndpointDialog.tsx
  syfthub-desktop/frontend/src/components/MarketplaceView.tsx
  syfthub-desktop/frontend/src/components/Sidebar.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/tool.tsx
  syfthub-desktop/frontend/src/components/tool-ui/code-block/README.md
  syfthub-desktop/frontend/src/components/tool-ui/code-block/_adapter.tsx
  syfthub-desktop/frontend/src/components/tool-ui/code-block/code-block.tsx
  syfthub-desktop/frontend/src/components/tool-ui/code-block/index.tsx
  syfthub-desktop/frontend/src/components/tool-ui/code-block/schema.ts
  syfthub-desktop/frontend/src/components/tool-ui/shared/contract.ts
  syfthub-desktop/frontend/src/components/tool-ui/shared/parse.ts
  syfthub-desktop/frontend/src/components/tool-ui/shared/pierre-dark-theme.d.ts
  syfthub-desktop/frontend/src/components/tool-ui/shared/pierre-dark-theme.js
  syfthub-desktop/frontend/src/components/tool-ui/shared/pierre-light-theme.d.ts
  syfthub-desktop/frontend/src/components/tool-ui/shared/pierre-light-theme.js
  syfthub-desktop/frontend/src/components/tool-ui/shared/schema.ts
  syfthub-desktop/frontend/src/components/tool-ui/shared/use-copy-to-clipboard.ts
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/lib/utils.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
  syfthub-desktop/go.mod
  syfthub-desktop/go.sum
  syfthub-desktop/internal/app/app.go
  syfthub-desktop/types.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

docs: add agent endpoint workflow design and LLM chat architecture docs
  docs/agent-endpoint-workflow-design.md
  docs/llm-chat-workflow.md
Due: none

refactor(desktop): use shared useCopyToClipboard hook and extract UserBubble
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
Due: none

fix: include endpoint URL in connection error messages
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/clients/model.py
Due: none

fix: stale private key, wrong update field, transaction direction
  MPP_TODO.md
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/frontend/src/components/balance/balance-indicator.tsx
  components/frontend/src/components/balance/transaction-item.tsx
  components/frontend/src/components/balance/transaction-list.tsx
  components/frontend/src/hooks/use-wallet-api.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor: remove PUT /wallet endpoint, simplify transaction direction
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/backend/src/syfthub/schemas/user.py
  components/frontend/src/components/balance/balance-indicator.tsx
  components/frontend/src/components/balance/transaction-item.tsx
  components/frontend/src/components/balance/transaction-list.tsx
  components/frontend/src/components/settings/payment-settings-tab.tsx
  components/frontend/src/hooks/use-wallet-api.ts
  sdk/typescript/src/resources/accounting.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

fix: resolve CI failures (lint, format, Python version matrix)
  .github/workflows/ci.yml
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/clients/model.py
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/backend/src/syfthub/domain/exceptions.py
  components/backend/uv.lock
  components/frontend/src/context/wallet-context.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: resolve remaining CI failures
  components/aggregator/src/aggregator/clients/model.py
  components/backend/pyproject.toml
  components/backend/src/syfthub/services/tempo_utils.py
  components/backend/tests/test_auth_users.py
Due: none

ci: wire RESEND_API_KEY through staging and production deploy pipelines
  .github/workflows/ci.yml
Due: none

refactor(infra): route /q via nginx proxy
  components/frontend/src/app.tsx
  components/frontend/src/pages/query.tsx
  deploy/nginx/nginx.dev.conf
  deploy/nginx/nginx.prod.conf
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add archived field to endpoint model and schemas
  components/backend/alembic/versions/20260323_000000_add_archived_field.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
Due: none

feat: add Xendit payment policy display and bundle tiers
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add purchase flow, balance display, and credit refresh
  components/frontend/src/components/endpoint/access-policies-card.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/endpoint/xendit-balance-card.tsx
  components/frontend/src/hooks/use-xendit-balance.ts
  components/frontend/src/hooks/use-xendit-purchase.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: handle insufficient credits in chat
  components/frontend/src/hooks/use-chat-workflow.ts
  sdk/typescript/src/resources/chat.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

perf(desktop): overhaul log store with early termination, incremental stats, and buffer pooling
  syfthub-desktop/internal/logs/store.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

refactor(desktop): extract helpers, remove dead code, and DRY Go backend
  syfthub-desktop/app.go
  syfthub-desktop/app_test.go
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/marketplace.go
  syfthub-desktop/settings_test.go
  syfthub-desktop/setup.go
  syfthub-desktop/types.go
  syfthub-desktop/types_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(desktop): use yaml.Marshal in generatePolicyYAML to prevent injection
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

refactor(desktop): extract shared UI components and delete dead useApp hook
  syfthub-desktop/frontend/src/components/AggregatorSection.tsx
  syfthub-desktop/frontend/src/components/CreateEndpointDialog.tsx
  syfthub-desktop/frontend/src/components/DeleteEndpointDialog.tsx
  syfthub-desktop/frontend/src/components/MarketplaceView.tsx
  syfthub-desktop/frontend/src/components/OnboardingWizard.tsx
  syfthub-desktop/frontend/src/components/SettingsModal.tsx
  syfthub-desktop/frontend/src/components/SetupFlowDialog.tsx
  syfthub-desktop/frontend/src/components/ui/error-banner.tsx
  syfthub-desktop/frontend/src/components/ui/spinner.tsx
  syfthub-desktop/frontend/src/contexts/SettingsContext.tsx
  syfthub-desktop/frontend/src/hooks/useApp.ts
  syfthub-desktop/frontend/src/lib/utils.ts
Due: none

perf(desktop): replace init polling with events and fix callback stability
  syfthub-desktop/frontend/src/hooks/use-chat-workflow.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
Due: none

chore: add .gitnexus to gitignore
  .gitignore
Due: none

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
