Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

fix(sdk): close parity gaps across Go, Python, and TypeScript clients
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/client.go
  sdk/golang/syfthub/models.go
  sdk/golang/syfthub/search.go
  sdk/python/pyproject.toml
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/agent.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/uv.lock
  sdk/typescript/package-lock.json
  sdk/typescript/src/client.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(aggregator,sdk): surface policy metadata billing through aggregator + SDK (OME-284/285)
  components/aggregator/src/aggregator/api/endpoints/chat.py
  components/aggregator/src/aggregator/clients/_policy_meta.py
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/clients/model.py
  components/aggregator/src/aggregator/clients/nats_transport.py
  components/aggregator/src/aggregator/schemas/internal.py
  components/aggregator/src/aggregator/schemas/responses.py
  components/aggregator/src/aggregator/services/generation.py
  components/aggregator/src/aggregator/services/orchestrator.py
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/accounting.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/exceptions.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/python/src/syfthub_sdk/syftai.py
  sdk/python/tests/unit/test_chat.py
  sdk/python/tests/unit/test_search.py
  sdk/python/tests/unit/test_syftai.py
Due: none

feat(sdk): apply policy metadata billing to TypeScript and Go SDKs (OME-284)
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/chat_test.go
  sdk/golang/syfthub/errors.go
  sdk/golang/syfthub/models.go
  sdk/golang/syfthub/syftai.go
  sdk/golang/syfthub/syftai_test.go
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/src/resources/syftai.ts
  sdk/typescript/tests/syftai.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(sdk): add payment_failed and access_denied to SourceStatus enum
  sdk/python/src/syfthub_sdk/models.py
Due: none

fix(sdk): add payment_failed/access_denied SourceStatus to TS and Go SDKs
  sdk/golang/syfthub/models.go
  sdk/typescript/src/models/chat.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

test(sdk): add missing tests for agent sessions, search, and lazy-init client resources
  sdk/golang/syfthub/client.go
  sdk/golang/syfthub/search_test.go
  sdk/python/src/syfthub_sdk/agent.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/tests/unit/test_agent.py
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

chore(deps): regenerate lockfiles to fix CI npm ci failures
  components/frontend/package-lock.json
  sdk/typescript/package-lock.json
Due: frontend-prettier

fix(sdk): fix ruff SIM117 and gofmt violations in new test files
  sdk/golang/syfthub/search_test.go
  sdk/python/tests/unit/test_agent.py
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

revert: restore lockfiles to main-branch versions
  components/frontend/package-lock.json
  sdk/typescript/package-lock.json
Due: frontend-prettier

style(sdk): apply ruff format to test_agent.py
  sdk/python/tests/unit/test_agent.py
Due: none

feat(aggregator,sdk): precise source status + typed ReasonCode across SDKs
  components/aggregator/src/aggregator/clients/_policy_meta.py
  components/aggregator/src/aggregator/clients/data_source.py
  sdk/golang/syfthub/models.go
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/models/index.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(aggregator,sdk): surface policy metadata billing (OME-284/285) (#463)
  components/aggregator/src/aggregator/api/endpoints/chat.py
  components/aggregator/src/aggregator/clients/_policy_meta.py
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/clients/model.py
  components/aggregator/src/aggregator/clients/nats_transport.py
  components/aggregator/src/aggregator/schemas/internal.py
  components/aggregator/src/aggregator/schemas/responses.py
  components/aggregator/src/aggregator/services/generation.py
  components/aggregator/src/aggregator/services/orchestrator.py
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/chat_test.go
  sdk/golang/syfthub/errors.go
  sdk/golang/syfthub/models.go
  sdk/golang/syfthub/syftai.go
  sdk/golang/syfthub/syftai_test.go
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/accounting.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/exceptions.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/python/src/syfthub_sdk/syftai.py
  sdk/python/tests/unit/test_chat.py
  sdk/python/tests/unit/test_search.py
  sdk/python/tests/unit/test_syftai.py
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/src/resources/syftai.ts
  sdk/typescript/tests/syftai.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

Callis/ome 282 fix sdk parity gaps across go python and typescript clients (#464)
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/client.go
  sdk/golang/syfthub/models.go
  sdk/golang/syfthub/search.go
  sdk/golang/syfthub/search_test.go
  sdk/python/pyproject.toml
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/agent.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/tests/unit/test_agent.py
  sdk/python/uv.lock
  sdk/typescript/src/client.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(collectives): owner filter by username + member-of endpoint
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(sdk): bump python and typescript sdk to v0.3.1
  sdk/python/pyproject.toml
  sdk/typescript/package.json
Due: none

chore(sdk): bump python and typescript sdk to v0.3.1 (#467)
  sdk/python/pyproject.toml
  sdk/typescript/package.json
Due: none

style(sdk/typescript): fix prettier formatting in search.test.ts
  sdk/typescript/tests/search.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

style(sdk/typescript): fix prettier formatting in search.test.ts (#468)
  sdk/typescript/tests/search.test.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

feat(backend): raise per-endpoint health batch cap to 300
  components/backend/src/syfthub/schemas/endpoint.py
Due: none

feat(backend): raise endpoint sync batch cap to 300
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/tests/test_endpoints.py
  sdk/golang/syfthub/endpoints.go
  sdk/python/src/syfthub_sdk/my_endpoints.py
  sdk/typescript/src/resources/my-endpoints.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(aggregator): surface hybrid endpoint generated summary as a document
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/tests/test_data_source_parse.py
Due: none

style(aggregator): apply ruff format to hybrid parse test
  components/aggregator/tests/test_data_source_parse.py
Due: none

fix(aggregator): add retry parity to DataSourceClient for transient 5xx
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/tests/test_data_source_retry.py
Due: none

ci: notify syft-space-hub-docs on PR merge to main (#421)
  .github/workflows/notify-docs-on-pr-merge.yml
Due: none

fix(aggregator): add retry parity to DataSourceClient for transient 5xx (#472)
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/tests/test_data_source_retry.py
Due: none

fix(aggregator): surface a placeholder document for empty hybrid summaries
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/tests/test_data_source_parse.py
Due: none

fix(aggregator): surface a placeholder document for empty hybrid summaries (#473)
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/tests/test_data_source_parse.py
Due: none

fix(backend): stop sync work blocking the event loop + harden auth
  components/backend/Dockerfile
  components/backend/src/syfthub/api/endpoints/admin.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/api/endpoints/errors.py
  components/backend/src/syfthub/api/endpoints/nats.py
  components/backend/src/syfthub/api/endpoints/peer.py
  components/backend/src/syfthub/api/endpoints/token.py
  components/backend/src/syfthub/api/endpoints/user_aggregators.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/backend/src/syfthub/auth/db_dependencies.py
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/auth/security.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/core/rate_limit.py
  components/backend/src/syfthub/core/redis_client.py
  components/backend/src/syfthub/database/connection.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/jobs/otp_cleanup.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/services/rag_service.py
  components/backend/tests/test_auth/test_blacklist_concurrency.py
  components/backend/tests/test_auth/test_dependencies.py
  components/backend/tests/test_core/test_rate_limit.py
  components/backend/tests/test_core/test_redis_client.py
  components/backend/tests/test_database/test_dependencies.py
  components/backend/tests/test_main.py
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
  deploy/nginx/nginx.dev.conf
  deploy/nginx/nginx.prod.conf
Due: none

fix(backend): address code-review findings on the rate limiter + compose
  components/backend/Dockerfile
  components/backend/src/syfthub/api/endpoints/peer.py
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/core/rate_limit.py
  components/backend/tests/test_core/test_rate_limit.py
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
Due: none

fix(backend): centralize client-IP derivation; fix OTP per-IP limiter spoof
  components/backend/src/syfthub/auth/db_dependencies.py
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/core/client_ip.py
  components/backend/src/syfthub/core/rate_limit.py
  components/backend/src/syfthub/observability/middleware.py
  components/backend/tests/test_core/test_client_ip.py
  components/backend/tests/test_core/test_rate_limit.py
Due: none

fix(backend): stop sync work blocking the event loop + harden auth (#474)
  components/backend/Dockerfile
  components/backend/src/syfthub/api/endpoints/admin.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/api/endpoints/errors.py
  components/backend/src/syfthub/api/endpoints/nats.py
  components/backend/src/syfthub/api/endpoints/peer.py
  components/backend/src/syfthub/api/endpoints/token.py
  components/backend/src/syfthub/api/endpoints/user_aggregators.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/backend/src/syfthub/auth/db_dependencies.py
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/auth/security.py
  components/backend/src/syfthub/core/client_ip.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/core/rate_limit.py
  components/backend/src/syfthub/core/redis_client.py
  components/backend/src/syfthub/database/connection.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/jobs/otp_cleanup.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/observability/middleware.py
  components/backend/src/syfthub/services/rag_service.py
  components/backend/tests/test_auth/test_blacklist_concurrency.py
  components/backend/tests/test_auth/test_dependencies.py
  components/backend/tests/test_core/test_client_ip.py
  components/backend/tests/test_core/test_rate_limit.py
  components/backend/tests/test_core/test_redis_client.py
  components/backend/tests/test_database/test_dependencies.py
  components/backend/tests/test_main.py
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
  deploy/nginx/nginx.dev.conf
  deploy/nginx/nginx.prod.conf
Due: none

ops(backend): raise prod backend mem_limit 1G -> 5G
  deploy/docker-compose.deploy.yml
Due: none

ops(backend): raise prod backend mem_limit 1G -> 5G (#475)
  deploy/docker-compose.deploy.yml
Due: none

feat(backend): validate + enrich cluster (station-hosted shared wallet) policies
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_collective_billing.py
  components/backend/tests/test_endpoints.py
Due: none

feat(frontend): settle cluster (managed) wallets via the wallet owner audience
  components/frontend/src/components/chat/prepaid-account-row.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/hooks/use-collective-query-readiness.ts
  components/frontend/src/hooks/use-prepaid-wallet-balances.ts
  components/frontend/src/hooks/use-xendit-precheck.ts
  components/frontend/src/lib/__tests__/collective-billing.test.ts
  components/frontend/src/lib/collective-billing.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/xendit-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): register funded wallets under their satellite-token audience
  components/backend/src/syfthub/models/xendit_subscription.py
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/collectives/collective-accounts-modal.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/hooks/use-xendit-subscriptions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): prompt sign-in on the prepaid policy card when logged out
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
