Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

feat(agent): plumb x402 payment credential through agent session start + retry
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/transport/agent_dial.go
  syfthub-desktop/agent_operations.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/ChatWorkflowProvider.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

fix(x402): make payment per-turn, not per-session, on agent endpoints
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/transport/agent_dial.go
  syfthub-desktop/agent_operations.go
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

fix(x402): emit payment_amount in display units so per-endpoint caps actually fire
  sdk/golang/syfthubapi/mppxgate/gate.go
  sdk/golang/syfthubapi/mppxgate/gate_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(x402): emit payment_required wire fields at top level so EvaluatePaymentDecision sees them
  sdk/golang/syfthubapi/agent.go
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(mppx): derive gas via eth_estimateGas so Tempo TIP-20 transfers settle
  sdk/golang/mppx/signed_transfer.go
  sdk/golang/mppx/tempo.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(x402 ux): hide payment-driven session lifecycle and stop spurious reprompt
  sdk/golang/syfthubapi/agent_executor.go
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(wallet): replace top-level Wallet tab with header-anchored popover
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/wallet/WalletPopover.tsx
  syfthub-desktop/frontend/src/components/wallet/wallet-shared.ts
Due: none

feat(backend): add invite-by-path and get-invitation collective routes
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
Due: none

feat(frontend): add invitation-response landing page
  components/frontend/src/app.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/collective-invitation.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): invite endpoints by path; join with multiple endpoints
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(collectives): invitation landing page, invite-by-path, multi-endpoint join (#432)
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
  components/frontend/src/app.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
  components/frontend/src/pages/collective-invitation.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(collectives): list collectives by endpoint API
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/services/collective_service.py
Due: none

feat(endpoint): render the prepaid-credits policy card for Stripe too (#431)
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(endpoint-detail): show member collectives card
  components/frontend/src/components/endpoint/endpoint-collectives-card.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(endpoint-detail): Collectives card on endpoint detail page (#433)
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/frontend/src/components/endpoint/endpoint-collectives-card.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/hooks/use-collectives.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(mppx): surface estimateGas-over-ceiling as an error, never clamp below estimate
  sdk/golang/mppx/signed_transfer.go
  sdk/golang/mppx/tempo.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(sdk/syfthubapi): scope x402 settle path to endpoints that declare payment policy + retro-wire mppx gate
  AGENTS.md
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/invoker_agent.go
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/processor_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(desktop/wallet): enforce soft<=hard cap and record ledger amount in display units
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/payment_caps.go
  syfthub-desktop/payment_caps_test.go
  syfthub-desktop/types.go
  syfthub-desktop/wallet_operations.go
  syfthub-desktop/wallet_operations_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(desktop/ui): close x402 payment-cancel and decimals-display gaps in chat surface
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/components/chat/PaymentRequiredModal.tsx
  syfthub-desktop/frontend/src/components/tabs/X402PolicyForm.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/hooks/use-chat-workflow.ts
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(sdk): add ToolCall.Display renderer hint across Go/Python/TS
  sdk/golang/agenttypes/agenttypes.go
  sdk/golang/syfthubapi/containermode/runner/session_loop.py
  sdk/golang/syfthubapi/filemode/agent_executor.go
  sdk/typescript/src/models/agent.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop/chat): route tool calls to per-kind renderers
  syfthub-desktop/frontend/package-lock.json
  syfthub-desktop/frontend/package.json
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/tool-views/CodeToolView.tsx
  syfthub-desktop/frontend/src/components/chat/tool-views/DiffToolView.tsx
  syfthub-desktop/frontend/src/components/chat/tool-views/TerminalToolView.tsx
  syfthub-desktop/frontend/src/components/chat/tool-views/ToolDispatcher.tsx
  syfthub-desktop/frontend/src/components/chat/tool-views/WebToolView.tsx
  syfthub-desktop/frontend/src/components/tool-ui/terminal/README.md
  syfthub-desktop/frontend/src/components/tool-ui/terminal/_adapter.tsx
  syfthub-desktop/frontend/src/components/tool-ui/terminal/index.tsx
  syfthub-desktop/frontend/src/components/tool-ui/terminal/schema.ts
  syfthub-desktop/frontend/src/components/tool-ui/terminal/terminal.tsx
  syfthub-desktop/frontend/src/lib/tool-display.ts
Due: none

fix(desktop/ui): move Requests under Monitor + balance payment modal footer
  syfthub-desktop/frontend/src/components/EndpointDetail.tsx
  syfthub-desktop/frontend/src/components/chat/PaymentRequiredModal.tsx
Due: none

feat(collectives): shared endpoints — curated subsets of approved members
  components/backend/alembic/versions/20260525_000000_add_collective_shared_endpoints.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/collectives/shared-endpoints-tab.tsx
  components/frontend/src/hooks/use-shared-endpoints.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/src/resources/hub.ts
  sdk/typescript/tests/chat.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

feat(cli): close low-risk agent-endpoint parity gaps with desktop
  cli/internal/cmd/ls.go
  cli/internal/cmd/node_endpoint.go
  cli/internal/cmd/node_endpoint_log.go
  cli/internal/cmd/query.go
  cli/internal/completion/completion.go
Due: cli-gofmt, cli-govet

feat(sdk+desktop): client-side object-store attachments + 2 GiB hard cap
  cli/internal/cmd/agent_attachments.go
  sdk/golang/agenttypes/events.go
  sdk/golang/syfthubapi/attachments.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/transport/agent_attachments.go
  sdk/golang/syfthubapi/transport/agent_dial.go
  sdk/golang/syfthubapi/transport/agent_dial_attachment_key_test.go
  sdk/golang/syfthubapi/transport/attachment_downloader.go
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/internal/app/app.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

feat(sdk+desktop): attachment download progress events + Save-as dialog binding
  sdk/golang/syfthubapi/transport/agent_attachments.go
  sdk/golang/syfthubapi/transport/attachment_downloader.go
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/attachment_operations_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

fix(collectives): post-review hardening pass on shared endpoints
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
  components/frontend/src/components/chat/__tests__/add-sources-modal.test.tsx
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/hooks/use-shared-endpoints.ts
  components/frontend/src/lib/collectives-api.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(collectives): shared endpoints — curated subsets of approved members (#434)
  components/backend/alembic/versions/20260525_000000_add_collective_shared_endpoints.py
  components/backend/src/syfthub/api/endpoints/collectives.py
  components/backend/src/syfthub/models/collective.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/collective.py
  components/backend/src/syfthub/schemas/collective.py
  components/backend/src/syfthub/services/collective_service.py
  components/backend/tests/test_collectives.py
  components/frontend/src/components/chat/__tests__/add-sources-modal.test.tsx
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/collectives/shared-endpoints-tab.tsx
  components/frontend/src/hooks/use-shared-endpoints.ts
  components/frontend/src/lib/collectives-api.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/pages/collective-admin.tsx
  components/frontend/src/pages/collective-detail.tsx
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/src/resources/hub.ts
  sdk/typescript/tests/chat.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

feat(desktop/ui): delivery acks, pre-session staging, progress bars, save-as, expiring toast
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/AttachmentChip.tsx
  syfthub-desktop/frontend/src/components/chat/ChatWorkflowProvider.tsx
  syfthub-desktop/frontend/src/components/chat/ReviewChatPane.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/hooks/use-attachments.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
Due: none

feat(desktop): emit attachments.expiring event before clearing session attachment cache
  syfthub-desktop/agent_operations.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(sdk): emit user.attachment accept-ack event on host receipt of staged file
  sdk/golang/agenttypes/events.go
  sdk/golang/syfthubapi/transport/attachment_handshake_test.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

Update hi landing page with HubSpot forms and refreshed content.
  VALUE_PROPOSITION_2026.md
  components/frontend/public/hi/index.html
  components/frontend/public/hi/shapley-attribution.png
  components/frontend/src/lib/mock-data/collectives-api.ts
  components/frontend/src/lib/mock-data/endpoints.ts
  components/frontend/src/lib/mock-data/index.ts
  components/frontend/src/lib/mock-data/policies.ts
  components/frontend/src/lib/mock-data/users.ts
  components/frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Remove VALUE_PROPOSITION_2026.md from the repo.
  VALUE_PROPOSITION_2026.md
Due: none

Remove frontend mock-data helpers from the landing branch.
  components/frontend/src/lib/mock-data/collectives-api.ts
  components/frontend/src/lib/mock-data/endpoints.ts
  components/frontend/src/lib/mock-data/index.ts
  components/frontend/src/lib/mock-data/policies.ts
  components/frontend/src/lib/mock-data/users.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Simplify hi page footer by removing the contact column.
  components/frontend/public/hi/index.html
Due: none

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
