Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

feat(frontend): enhance chat UI with avatars and copy actions
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/chat/sources-section.tsx
  components/frontend/src/components/prompt-kit/message.tsx
  components/frontend/src/components/ui/avatar.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: chat UI, SSE events, and pyrightconfig (#283)
  components/aggregator/pyrightconfig.json
  components/aggregator/src/aggregator/services/orchestrator.py
  components/aggregator/tests/test_orchestrator_sse_events.py
  components/frontend/package-lock.json
  components/frontend/package.json
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/chat/sources-section.tsx
  components/frontend/src/components/chat/status-indicator.tsx
  components/frontend/src/components/prompt-kit/chain-of-thought.tsx
  components/frontend/src/components/prompt-kit/message.tsx
  components/frontend/src/components/ui/avatar.tsx
  components/frontend/src/components/ui/collapsible.tsx
  components/frontend/src/hooks/__tests__/use-chat-workflow.reducer.test.ts
  components/frontend/src/hooks/use-chat-workflow.ts
  components/frontend/src/styles/global.css
  sdk/python/src/syfthub_sdk/chat.py
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/tests/chat.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

feat(desktop): sync chat UI with dev branch components
  syfthub-desktop/app.go
  syfthub-desktop/frontend/package-lock.json
  syfthub-desktop/frontend/package.json
  syfthub-desktop/frontend/src/components/AggregatorSection.tsx
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/SettingsModal.tsx
  syfthub-desktop/frontend/src/components/chat/source-selector.tsx
  syfthub-desktop/frontend/src/components/chat/sources-section.tsx
  syfthub-desktop/frontend/src/components/chat/status-indicator.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/chain-of-thought.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/loader.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/message.tsx
  syfthub-desktop/frontend/src/components/ui/avatar.tsx
  syfthub-desktop/frontend/src/components/ui/collapsible.tsx
  syfthub-desktop/frontend/src/hooks/use-chat-workflow.ts
  syfthub-desktop/frontend/src/index.css
  syfthub-desktop/frontend/src/lib/chat-types.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/src/types/lucide-react-esm.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/settings.go
  syfthub-desktop/types.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

refactor(nats): mask token in debug logs
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(multi): introduce decryption retry and new events
  components/aggregator/src/aggregator/clients/nats_transport.py
  sdk/golang/syfthub/aggregators.go
  sdk/golang/syfthub/aggregators_test.go
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/models.go
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/markdown-message.tsx
  syfthub-desktop/frontend/src/components/chat/sources-section.tsx
  syfthub-desktop/frontend/src/hooks/use-chat-workflow.ts
  syfthub-desktop/frontend/src/index.css
  syfthub-desktop/frontend/src/lib/chat-types.ts
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

fix(frontend): rename attribution suggestion to attribution-based control
  components/frontend/src/components/hero.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): rename attribution suggestion to attribution-based control (#285)
  components/frontend/src/components/hero.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(frontend): pass source objects from modal
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/hero.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(frontend): pass source objects from modal (#286)
  components/frontend/src/components/chat/add-sources-modal.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/hero.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(hero): resolve endpoint by path on submitting suggestions
  components/frontend/src/components/hero.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(hero): resolve endpoint by path on submitting suggestions (#287)
  components/frontend/src/components/hero.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(syfthub): centralize public endpoint construction
  components/backend/MagicMock/settings.rsa_keys_directory/125077829078048/.rsa_keys.lock
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_auth/test_peer_tokens.py
  components/backend/tests/test_database/conftest.py
  components/backend/tests/test_database/test_repositories.py
  components/backend/tests/test_observability/test_error_log_repository.py
  components/backend/tests/test_services/test_auth_service.py
Due: none

refactor(syfthub): centralize public endpoint construction (#288)
  components/backend/MagicMock/settings.rsa_keys_directory/125077829078048/.rsa_keys.lock
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_auth/test_peer_tokens.py
  components/backend/tests/test_database/conftest.py
  components/backend/tests/test_database/test_repositories.py
  components/backend/tests/test_observability/test_error_log_repository.py
  components/backend/tests/test_services/test_auth_service.py
Due: none

refactor(frontend): streamline icons and date utils
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/profile-view.tsx
  components/frontend/src/components/settings/api-tokens-settings-tab.tsx
  components/frontend/src/components/settings/security-settings-tab.tsx
  components/frontend/src/hooks/use-accounting-api.ts
  components/frontend/src/hooks/use-suggested-sources.ts
  components/frontend/src/lib/__tests__/search-service.test.ts
  components/frontend/src/lib/date-utils.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/search-service.ts
  components/frontend/src/pages/browse.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(syfthub): centralize chat request preparation
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/models.go
  sdk/golang/syfthub/models_test.go
  sdk/golang/syfthubapi/filemode/executor.go
  sdk/golang/syfthubapi/filemode/executor_test.go
  sdk/python/src/syfthub_sdk/chat.py
  sdk/typescript/src/resources/chat.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(syfthub): centralize chat request preparation (#291)
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/models.go
  sdk/golang/syfthub/models_test.go
  sdk/golang/syfthubapi/filemode/executor.go
  sdk/golang/syfthubapi/filemode/executor_test.go
  sdk/python/src/syfthub_sdk/chat.py
  sdk/typescript/src/resources/chat.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(frontend): streamline icons and date utils (#289)
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/profile-view.tsx
  components/frontend/src/components/settings/api-tokens-settings-tab.tsx
  components/frontend/src/components/settings/security-settings-tab.tsx
  components/frontend/src/hooks/use-accounting-api.ts
  components/frontend/src/hooks/use-suggested-sources.ts
  components/frontend/src/lib/__tests__/search-service.test.ts
  components/frontend/src/lib/date-utils.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/search-service.ts
  components/frontend/src/pages/browse.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

build(aggregator): pin pillow to 12.1.1 to fix CVE
  components/aggregator/pyproject.toml
  components/aggregator/uv.lock
  components/backend/.serena/.gitignore
  components/backend/.serena/project.yml
  components/frontend/package-lock.json
  components/frontend/package.json
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Due: frontend-prettier

chore(serena): remove backend serena config
  components/backend/.serena/.gitignore
  components/backend/.serena/project.yml
Due: none

build: pin pillow to 12.1.1; remove backend serena config (#292)
  components/aggregator/pyproject.toml
  components/aggregator/uv.lock
  components/frontend/package-lock.json
  components/frontend/package.json
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Due: frontend-prettier

feat(frontend): add loading indicators for owners
  components/frontend/src/components/chat/search-input.tsx
  components/frontend/src/components/query/mention-popover.tsx
  components/frontend/src/hooks/use-mention.ts
  components/frontend/src/lib/endpoint-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(nginx): extend CSP script-src with clarity
  deploy/nginx/nginx.prod.conf
Due: none

feat(nginx): extend CSP script-src with clarity (#294)
  deploy/nginx/nginx.prod.conf
Due: none

feat(frontend): add loading indicators for owners (#293)
  components/frontend/src/components/chat/search-input.tsx
  components/frontend/src/components/query/mention-popover.tsx
  components/frontend/src/hooks/use-mention.ts
  components/frontend/src/lib/endpoint-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): filter data-source endpoints and owners
  components/frontend/src/hooks/use-mention.ts
  components/frontend/src/lib/endpoint-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): filter data-source endpoints and owners (#295)
  components/frontend/src/hooks/use-mention.ts
  components/frontend/src/lib/endpoint-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(multi-module): update timeout, crypto, and orchestrator
  components/aggregator/src/aggregator/clients/nats_transport.py
  components/aggregator/src/aggregator/crypto.py
  components/aggregator/src/aggregator/services/orchestrator.py
Due: none

fix(frontend): use optional chain in use-chat-workflow generation_heartbeat guard
  components/frontend/src/hooks/use-chat-workflow.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(multi-module): update timeout, crypto, and orchestrator (#296)
  components/aggregator/src/aggregator/clients/nats_transport.py
  components/aggregator/src/aggregator/crypto.py
  components/aggregator/src/aggregator/services/orchestrator.py
  components/frontend/src/hooks/use-chat-workflow.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): add marketplace view and tab
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/MarketplaceView.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/frontend/wailsjs/runtime/package.json
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
  syfthub-desktop/marketplace.go
  syfthub-desktop/settings.go
  syfthub-desktop/types.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(app): integrate marketplace toggle and view
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/Sidebar.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/runtime/package.json
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
Due: none

feat(marketplace): add marketplace component
  components/marketplace/Dockerfile
  components/marketplace/errors.go
  components/marketplace/go.mod
  components/marketplace/go.sum
  components/marketplace/handlers.go
  components/marketplace/main.go
  components/marketplace/models.go
  components/marketplace/seed.go
  components/marketplace/server.go
  components/marketplace/store.go
  components/marketplace/validation.go
  components/marketplace/zip.go
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
  deploy/nginx/nginx.dev.conf
  deploy/nginx/nginx.prod.conf
Due: none

fix(deploy): stamp baseline for pre-Alembic DBs
  deploy/scripts/deploy.sh
Due: none

fix(deploy): stamp baseline for pre-Alembic DBs (#298)
  deploy/scripts/deploy.sh
Due: none

fix(ci): add marketplace image to build matrices for staging and prod
  .github/workflows/ci.yml
Due: none

fix(nginx): add scripts.clarity.ms to CSP script-src
  deploy/nginx/nginx.prod.conf
Due: none

fix(nginx): add scripts.clarity.ms to CSP script-src (#299)
  deploy/nginx/nginx.prod.conf
Due: none

feat(frontend): enable lazy load retry and auto-reload on chunk failures
  components/frontend/nginx.conf
  components/frontend/src/app.tsx
  components/frontend/src/components/route-boundary.tsx
  components/frontend/src/lib/lazy-with-retry.ts
  deploy/nginx/nginx.prod.conf
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
