Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix: lowercase GITHUB_REPOSITORY for Docker image names
  scripts/deploy.sh
Due: none

fix: ensure GITHUB_REPOSITORY is lowercased after sourcing .env
  scripts/deploy.sh
Due: none

fix: use Python for aggregator healthcheck and 127.0.0.1 for proxy healthcheck
  docker-compose.deploy.yml
Due: none

fix: handle missing Alembic configuration gracefully in deploy.sh
  scripts/deploy.sh
Due: none

fix: use Python for aggregator health check in deploy.sh
  scripts/deploy.sh
Due: none

adding mcp server
  docker-compose.dev.yml
  docker-compose.prod.yml
  mcp/.env.example
  mcp/.gitignore
  mcp/Dockerfile
  mcp/README.md
  mcp/fastmcp.json
  mcp/pyproject.toml
  mcp/run_https.py
  mcp/server.py
  mcp/syfthub_client.py
  mcp/uv.lock
  nginx/nginx.dev.conf
  nginx/nginx.prod.conf
Due: none

feat: implement dynamic audience validation against user database, with deprecation notice for static list fallback
  backend/src/syfthub/api/endpoints/token.py
  backend/src/syfthub/auth/satellite_tokens.py
  backend/src/syfthub/core/config.py
  backend/src/syfthub/domain/exceptions.py
  backend/tests/test_auth/test_satellite_tokens.py
  backend/tests/test_idp.py
Due: none

chore: remove OAuth login handlers, comment out OAuth button sections, update sidebar icon
  frontend/src/components/auth/login-modal.tsx
  frontend/src/components/auth/register-modal.tsx
  frontend/src/components/sidebar.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add SVG favicon and update manifest with new icon; replace Sparkles icon with OpenMinedIcon in hero and sidebar components
  frontend/index.html
  frontend/public/app.webmanifest
  frontend/public/favicon/openmined-icon.svg
  frontend/src/components/hero.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/ui/openmined-icon.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update styling and layout for connection card components
  frontend/src/components/connection-card.tsx
  frontend/src/components/endpoint-detail.tsx
  frontend/src/components/endpoint-management.tsx
  frontend/src/components/participate-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add endpoint existence check and update functionality by slug in endpoint service
  backend/src/syfthub/api/endpoints/endpoints.py
  backend/src/syfthub/services/endpoint_service.py
Due: none

feat: add environment variables for RSA key pair for satellite token signing and ACME challenge directory for Let's Encrypt
  docker-compose.deploy.yml
  nginx/nginx.prod.conf
Due: none

fix: update react-router-dom to 7.12.0 to resolve security vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

chore: update dependencies from vitest 2.1.8 to vitest 3.0.0 and upgrade vite to 6.2.0 in package-lock.json and package.json
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Due: none

fix: regenerate package-lock.json with all platform-specific dependencies
  sdk/typescript/package-lock.json
Due: none

fix: update endpoint route to include 'slug' in the URL path for clarity
  backend/src/syfthub/api/endpoints/endpoints.py
Due: none

feat: add domain field update functionality in UserRepository
  backend/src/syfthub/repositories/user.py
Due: none

feat: add support for satellite authorization token in data source client
  aggregator/src/aggregator/clients/data_source.py
  aggregator/src/aggregator/clients/model.py
  aggregator/src/aggregator/schemas/internal.py
  aggregator/src/aggregator/schemas/requests.py
  aggregator/src/aggregator/services/generation.py
  aggregator/src/aggregator/services/orchestrator.py
  aggregator/src/aggregator/services/retrieval.py
  aggregator/tests/test_schemas.py
  sdk/typescript/src/client.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/resources/auth.ts
  sdk/typescript/src/resources/chat.ts
Due: none

chore: refactor connection card to support endpointSlug parameter and remove URL-related code; update connection rendering accordingly
  frontend/src/components/connection-card.tsx
  frontend/src/components/endpoint-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add ownerUsername field to model and source endpoint references in chat-view component
  frontend/src/components/chat-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor: remove clipboard copy functionality and related UI from EndpointDetail component
  frontend/src/components/endpoint-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add multi-worker support for auto-generating and persisting RSA keys with file locking and configuration
  .gitignore
  backend/src/syfthub/auth/keys.py
  backend/src/syfthub/core/config.py
Due: none

feat: add satellite token support with parallel fetching and owner extraction for secure communication
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/auth.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/python/tests/unit/test_chat.py
Due: none

feat: add normalize_domain function to handle domain normalization and update tests accordingly
  backend/src/syfthub/core/url_builder.py
  backend/tests/test_url_builder.py
Due: none

feat: add contributor count field for privacy and display purposes in endpoint responses
  backend/src/syfthub/main.py
  backend/src/syfthub/repositories/endpoint.py
  backend/src/syfthub/schemas/endpoint.py
Due: none

feat: replace contributors array with contributors_count property for better privacy and consistency
  frontend/src/components/endpoint-detail.tsx
  frontend/src/lib/endpoint-utils.ts
  frontend/src/lib/types.ts
  sdk/typescript/src/models/endpoint.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: add contributors_count attribute with value 1 in test_endpoint_service.py
  backend/tests/test_services/test_endpoint_service.py
Due: none

feat: Added Open Graph and Twitter meta tags for social media previews, updated metadata with ogImage and search keywords
  frontend/_config.ts
  frontend/index.html
  frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update AuthResponse type in login endpoint and auth service to improve type clarity and response structure
  backend/src/syfthub/auth/router.py
  backend/src/syfthub/services/auth_service.py
Due: none

chore: update ogImage URL in frontend/_config.ts for better social sharing
  frontend/_config.ts
  frontend/public/favicon/favicon-192.webp
  frontend/public/favicon/favicon-512.webp
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Update description to reference Syft AI Spaces
  frontend/_config.ts
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/status-indicator.tsx
  sdk/python/examples/demo_workflow.py
  sdk/python/examples/simple_example.py
  sdk/python/src/syfthub_sdk/hub.py
  sdk/typescript/src/resources/hub.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Add script to create datasets, models, and endpoints in SyftAI-Space for demo
  .github/workflows/ci.yml
  docker-compose.deploy.yml
  mcp/Dockerfile
  nginx/nginx.prod.conf
  scripts/demo_create_endpoints.py
  scripts/deploy.sh
Due: none

chore: remove obsolete demo_create_endpoints.py script that created and registered endpoints in SyftAI-Space and SyftHub
  scripts/demo_create_endpoints.py
Due: none

chore: parameterize SSH port and host in CI workflow for more flexible deployment
  .github/workflows/ci.yml
Due: none

chore: add RSA key generation script, update deployment configs for JWT signing, and modify server to support shared RSA keys for multi-worker setup
  docker-compose.deploy.yml
  mcp/Dockerfile
  mcp/generate_rsa_key.py
  mcp/server.py
  nginx/nginx.prod.conf
Due: none

fix(mcp): resolve OAuth race condition and SDK attribute bug
  mcp/Dockerfile
  mcp/server.py
  mcp/uv.lock
Due: none

fix(sdk/mcp): correct aggregator API path and response model attributes
  mcp/server.py
  sdk/python/src/syfthub_sdk/chat.py
Due: none

fix: updated aggregator URL to include /api/v1 suffix in server.py and chat.py for proper API routing
  mcp/server.py
  sdk/python/src/syfthub_sdk/chat.py
Due: none

Improved visual layout + about page
  frontend/package-lock.json
  frontend/src/app.tsx
  frontend/src/components/browse-view.tsx
  frontend/src/components/build-view.tsx
  frontend/src/components/hero.tsx
  frontend/src/components/participate-view.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/lib/endpoint-utils.ts
  frontend/src/pages/about.tsx
  frontend/src/pages/home.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Update SEO details
  frontend/_config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
