Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$

fix(go-sdk): remove unused noAuth authStrategy to satisfy staticcheck
  sdk/golang/syfthub/http.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix: add alembic merge migration to resolve multiple heads (#370)
  components/backend/alembic/versions/20260428_000000_merge_wallet_and_archived_heads.py
  components/backend/src/syfthub/main.py
Due: none

chore: remove accidentally committed md files and byproducts
  AGENTS.md
  cli/SIMPLIFY_TASKS.md
  components/backend/MagicMock/settings.rsa_keys_directory/130370555880384/.rsa_keys.lock
  deploy/scripts/local-build-deploy.sh
  sdk-simplify-backlog.md
Due: none

chore: remove orphaned byproduct docs
  COMPATIBILITY_ANALYSIS.md
  docs/agent-endpoint-workflow-design.md
  docs/llm-chat-workflow.md
  sdk/golang/syfthubapi/REFACTORING_PLAN.md
Due: none

docs: rewrite READMEs in popular-repo style, switch license refs to Apache 2.0
  README.md
  components/aggregator/README.md
  components/backend/README.md
  components/frontend/README.md
  components/mcp/README.md
  sdk/README.md
  sdk/golang/README.md
  sdk/golang/syfthubapi/README.md
  sdk/python/README.md
  sdk/typescript/README.md
Due: frontend-prettier

docs: remove all sub-READMEs in favor of single top-level README
  README.md
  components/aggregator/README.md
  components/backend/README.md
  components/backend/alembic/README.md
  components/backend/scripts/README.md
  components/frontend/README.md
  components/mcp/README.md
  sdk/README.md
  sdk/golang/README.md
  sdk/golang/examples/file_based/endpoints/echo-model/README.md
  sdk/golang/examples/file_based/endpoints/sample-model/README.md
  sdk/golang/examples/file_based/endpoints/simple-search/README.md
  sdk/golang/syfthubapi/README.md
  sdk/python/README.md
  sdk/typescript/README.md
  skills/README.md
Due: frontend-prettier

fix: drop readme field from pyproject.toml files
  components/aggregator/pyproject.toml
  components/backend/pyproject.toml
  sdk/python/pyproject.toml
Due: none

docs: add OpenMined logo to README
  README.md
Due: none

docs: consolidate READMEs and remove orphaned docs (#371)
  COMPATIBILITY_ANALYSIS.md
  README.md
  components/aggregator/README.md
  components/aggregator/pyproject.toml
  components/backend/README.md
  components/backend/alembic/README.md
  components/backend/pyproject.toml
  components/backend/scripts/README.md
  components/frontend/README.md
  components/mcp/README.md
  docs/agent-endpoint-workflow-design.md
  docs/llm-chat-workflow.md
  sdk/README.md
  sdk/golang/README.md
  sdk/golang/examples/file_based/endpoints/echo-model/README.md
  sdk/golang/examples/file_based/endpoints/sample-model/README.md
  sdk/golang/examples/file_based/endpoints/simple-search/README.md
  sdk/golang/syfthubapi/README.md
  sdk/golang/syfthubapi/REFACTORING_PLAN.md
  sdk/python/README.md
  sdk/python/pyproject.toml
  sdk/typescript/README.md
  skills/README.md
Due: frontend-prettier

fix: remove stale README.md COPY from Dockerfiles
  components/aggregator/Dockerfile
  components/backend/Dockerfile
Due: none

fix: remove stale README.md COPY from Dockerfiles (#372)
  components/aggregator/Dockerfile
  components/backend/Dockerfile
Due: none

chore: update CI workflow and tests
  .github/workflows/ci.yml
  Makefile
  components/backend/tests/test_core/test_redis_client.py
  components/backend/tests/test_errors_endpoint.py
  components/backend/tests/test_jobs/test_otp_cleanup.py
  components/backend/tests/test_repositories/test_api_token_extra.py
  components/backend/tests/test_repositories/test_base_extra.py
  components/backend/tests/test_repositories/test_otp.py
  components/backend/tests/test_repositories/test_user_aggregator_extra.py
  components/backend/tests/test_schemas/test_nats_schema.py
  components/backend/tests/test_services/test_otp_service.py
  components/backend/tests/test_services/test_tempo_utils.py
  components/backend/tests/test_services/test_user_aggregator_service_extra.py
  components/backend/tests/test_wallet.py
Due: none

fix: resolve open Dependabot security alerts
  components/aggregator/pyproject.toml
  components/aggregator/uv.lock
  components/backend/pyproject.toml
  components/backend/requirements.txt
  components/backend/uv.lock
  components/frontend/package-lock.json
  components/frontend/package.json
  components/mcp/pyproject.toml
  components/mcp/uv.lock
  sdk/python/pyproject.toml
  sdk/python/uv.lock
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Due: frontend-prettier

Potential fix for pull request finding 'Module is imported with 'import' and 'import from''
  components/backend/tests/test_core/test_redis_client.py
Due: none

Potential fix for pull request finding 'Module is imported with 'import' and 'import from''
  components/backend/tests/test_services/test_tempo_utils.py
Due: none

Potential fix for pull request finding 'Unused local variable'
  components/backend/tests/test_services/test_tempo_utils.py
Due: none

fix: resolve open Dependabot security alerts (#374)
  components/aggregator/pyproject.toml
  components/aggregator/uv.lock
  components/backend/pyproject.toml
  components/backend/requirements.txt
  components/backend/uv.lock
  components/frontend/package-lock.json
  components/frontend/package.json
  components/mcp/pyproject.toml
  components/mcp/uv.lock
  sdk/python/pyproject.toml
  sdk/python/uv.lock
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Due: frontend-prettier

fix: replace bare name references with tempo_module.X in tests
  components/backend/tests/test_services/test_tempo_utils.py
Due: none

chore: update CI workflow and tests (#373)
  .github/workflows/ci.yml
  Makefile
  components/backend/tests/test_core/test_redis_client.py
  components/backend/tests/test_errors_endpoint.py
  components/backend/tests/test_jobs/test_otp_cleanup.py
  components/backend/tests/test_repositories/test_api_token_extra.py
  components/backend/tests/test_repositories/test_base_extra.py
  components/backend/tests/test_repositories/test_otp.py
  components/backend/tests/test_repositories/test_user_aggregator_extra.py
  components/backend/tests/test_schemas/test_nats_schema.py
  components/backend/tests/test_services/test_otp_service.py
  components/backend/tests/test_services/test_tempo_utils.py
  components/backend/tests/test_services/test_user_aggregator_service_extra.py
  components/backend/tests/test_wallet.py
Due: none

feat(backend): persist user-funded Xendit subscriptions
  components/backend/alembic/versions/20260429_000000_add_user_xendit_subscriptions.py
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/backend/src/syfthub/database/dependencies.py
  components/backend/src/syfthub/models/__init__.py
  components/backend/src/syfthub/models/xendit_subscription.py
  components/backend/src/syfthub/repositories/__init__.py
  components/backend/src/syfthub/repositories/xendit_subscription.py
  components/backend/src/syfthub/schemas/user.py
Due: none

fix(aggregator): surface upstream 403s instead of silently degrading
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/schemas/internal.py
  components/aggregator/src/aggregator/schemas/responses.py
  components/aggregator/src/aggregator/services/orchestrator.py
Due: none

feat(frontend): unified credits panel + Xendit subscriptions
  components/frontend/src/components/balance/balance-indicator.tsx
  components/frontend/src/components/balance/credits-panel.tsx
  components/frontend/src/components/endpoint/bundle-picker.tsx
  components/frontend/src/components/settings/settings-modal.tsx
  components/frontend/src/components/settings/subscriptions-settings-tab.tsx
  components/frontend/src/hooks/use-wallet-api.ts
  components/frontend/src/hooks/use-xendit-subscriptions.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/types.ts
  components/frontend/src/lib/xendit-client.ts
  components/frontend/src/stores/settings-modal-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): inline payment gate and Xendit purchase UI
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/endpoint/access-policies-card.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/hooks/use-xendit-precheck.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: add Makefile sdk-build target
  Makefile
Due: none

fix(frontend): payment gate × must drop only the clicked row
  components/frontend/src/components/chat/chat-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(frontend): rewrite balance-indicator tests for credits panel
  components/frontend/src/components/__tests__/balance-indicator.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: Xendit payment flow — credits panel, payment gate, 403 surfacing (#376)
  Makefile
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/schemas/internal.py
  components/aggregator/src/aggregator/schemas/responses.py
  components/aggregator/src/aggregator/services/orchestrator.py
  components/backend/alembic/versions/20260429_000000_add_user_xendit_subscriptions.py
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/backend/src/syfthub/database/dependencies.py
  components/backend/src/syfthub/models/__init__.py
  components/backend/src/syfthub/models/xendit_subscription.py
  components/backend/src/syfthub/repositories/__init__.py
  components/backend/src/syfthub/repositories/xendit_subscription.py
  components/backend/src/syfthub/schemas/user.py
  components/frontend/src/components/__tests__/balance-indicator.test.tsx
  components/frontend/src/components/balance/balance-indicator.tsx
  components/frontend/src/components/balance/credits-panel.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/endpoint/access-policies-card.tsx
  components/frontend/src/components/endpoint/bundle-picker.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/components/settings/settings-modal.tsx
  components/frontend/src/components/settings/subscriptions-settings-tab.tsx
  components/frontend/src/hooks/use-wallet-api.ts
  components/frontend/src/hooks/use-xendit-precheck.ts
  components/frontend/src/hooks/use-xendit-subscriptions.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/types.ts
  components/frontend/src/lib/xendit-client.ts
  components/frontend/src/stores/settings-modal-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(xendit): prepaid credits UI polish (OME-242)
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/balance/credits-panel.tsx
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/endpoint/bundle-picker.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/lib/xendit-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(xendit): resume awaiting-payment on revisit (OME-242 #1)
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/lib/xendit-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(xendit): prepaid credits UI polish (OME-242) (#377)
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/balance/credits-panel.tsx
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/endpoint/bundle-picker.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/lib/xendit-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(wallet): replace top-bar balance pill with wallet icon (OME-247)
  components/frontend/src/components/__tests__/balance-indicator.test.tsx
  components/frontend/src/components/balance/balance-indicator.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(wallet): replace top-bar balance pill with wallet icon (OME-247) (#378)
  components/frontend/src/components/__tests__/balance-indicator.test.tsx
  components/frontend/src/components/balance/balance-indicator.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(settings): rename Subscriptions tab to "Top up credits"
  components/frontend/src/components/settings/settings-modal.tsx
  components/frontend/src/components/settings/subscriptions-settings-tab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(settings): rename Subscriptions tab to "Top up credits" (#379)
  components/frontend/src/components/settings/settings-modal.tsx
  components/frontend/src/components/settings/subscriptions-settings-tab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(ui): redesign Xendit prepaid credits policy card
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/endpoint/bundle-picker.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(ui): redesign Xendit prepaid credits policy card (#380)
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/endpoint/bundle-picker.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(policies): filter endpoint policies by viewer's applied_to audience
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_schemas/test_policy_filter.py
Due: none

feat(policies): filter endpoint policies by viewer's applied_to audience (#381)
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_schemas/test_policy_filter.py
Due: none

refactor(ui): move Access Policies card from sidebar to main column
  components/frontend/src/components/endpoint/endpoint-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck
