Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

refactor(ui): move Access Policies card from sidebar to main column (#382)
  components/frontend/src/components/endpoint/endpoint-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(policies): targeted applied_to overrides wildcard for listed viewer
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/tests/test_schemas/test_policy_filter.py
Due: none

fix(policies): targeted applied_to overrides wildcard for listed viewer (#383)
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/tests/test_schemas/test_policy_filter.py
Due: none

fix(policies): personalize public endpoint responses by viewer
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_services/test_endpoint_service.py
  components/frontend/src/lib/endpoint-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(policies): simplify per-viewer filter — review followups
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/sdk-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(policies): personalize public endpoint responses by viewer (#384)
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_services/test_endpoint_service.py
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/sdk-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(chat): surface MPP-policy endpoints in PaymentGate
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/hooks/use-xendit-precheck.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(chat): surface MPP-policy endpoints in PaymentGate (#385)
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/hooks/use-xendit-precheck.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(marketplace): add marketplace HTTP service, nginx + compose wiring
  .github/workflows/ci.yml
  components/marketplace/Dockerfile
  components/marketplace/errors.go
  components/marketplace/go.mod
  components/marketplace/go.sum
  components/marketplace/handlers.go
  components/marketplace/main.go
  components/marketplace/models.go
  components/marketplace/server.go
  components/marketplace/store.go
  components/marketplace/validation.go
  components/marketplace/zip.go
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
  deploy/nginx/nginx.dev.conf
  deploy/nginx/nginx.prod.conf
Due: none

feat(profile): add public user profile page at /:username
  components/backend/alembic/versions/20260506_000000_add_user_public_profile_fields.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/user_service.py
  components/frontend/src/app.tsx
  components/frontend/src/components/balance/credits-panel.tsx
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/endpoint-type-icon.tsx
  components/frontend/src/components/settings/profile-settings-tab.tsx
  components/frontend/src/components/settings/subscriptions-settings-tab.tsx
  components/frontend/src/components/user-profile/profile-about.tsx
  components/frontend/src/components/user-profile/profile-endpoints-list.tsx
  components/frontend/src/components/user-profile/profile-hero.tsx
  components/frontend/src/components/user-profile/profile-skeleton.tsx
  components/frontend/src/components/user-profile/profile-stats-strip.tsx
  components/frontend/src/components/user-profile/user-profile-view.tsx
  components/frontend/src/context/auth-context.tsx
  components/frontend/src/hooks/use-endpoint-queries.ts
  components/frontend/src/hooks/use-user-profile.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/sdk-client.ts
  components/frontend/src/lib/search-service.ts
  components/frontend/src/lib/types.ts
  components/frontend/src/pages/user-profile.tsx
  components/frontend/src/test/mocks/fixtures.ts
  sdk/typescript/src/models/user.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

feat(profile): add public user profile page at /:username (#386)
  components/backend/alembic/versions/20260506_000000_add_user_public_profile_fields.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/user_service.py
  components/frontend/src/app.tsx
  components/frontend/src/components/balance/credits-panel.tsx
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/endpoint-type-icon.tsx
  components/frontend/src/components/settings/profile-settings-tab.tsx
  components/frontend/src/components/settings/subscriptions-settings-tab.tsx
  components/frontend/src/components/user-profile/profile-about.tsx
  components/frontend/src/components/user-profile/profile-endpoints-list.tsx
  components/frontend/src/components/user-profile/profile-hero.tsx
  components/frontend/src/components/user-profile/profile-skeleton.tsx
  components/frontend/src/components/user-profile/profile-stats-strip.tsx
  components/frontend/src/components/user-profile/user-profile-view.tsx
  components/frontend/src/context/auth-context.tsx
  components/frontend/src/hooks/use-endpoint-queries.ts
  components/frontend/src/hooks/use-user-profile.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/sdk-client.ts
  components/frontend/src/lib/search-service.ts
  components/frontend/src/lib/types.ts
  components/frontend/src/pages/user-profile.tsx
  components/frontend/src/test/mocks/fixtures.ts
  sdk/typescript/src/models/user.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

feat(wallet): collapse Xendit subscriptions by publisher
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/backend/src/syfthub/repositories/xendit_subscription.py
  components/frontend/src/components/settings/subscriptions-settings-tab.tsx
  components/frontend/src/hooks/use-wallet-api.ts
  components/frontend/src/hooks/use-xendit-subscriptions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(wallet): cover Xendit subscription endpoints
  components/backend/src/syfthub/repositories/xendit_subscription.py
  components/backend/tests/test_wallet.py
Due: none

feat(wallet): collapse Xendit subscriptions by publisher (#388)
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/backend/src/syfthub/repositories/xendit_subscription.py
  components/backend/tests/test_wallet.py
  components/frontend/src/components/settings/subscriptions-settings-tab.tsx
  components/frontend/src/hooks/use-wallet-api.ts
  components/frontend/src/hooks/use-xendit-subscriptions.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(wallet): auto-fund new MPP wallets and offset displayed balance
  components/backend/src/syfthub/api/endpoints/wallet.py
  components/frontend/src/hooks/use-wallet-api.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(auth): expose Google OAuth config and wire up login button
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/schemas/auth.py
  components/frontend/src/app.tsx
  sdk/typescript/src/models/user.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck

feat(transaction-policy): unit 1 — Go SDK wire fields & PAYMENT_REQUIRED error code
  sdk/golang/syfthubapi/requestlog.go
  sdk/golang/syfthubapi/requestlog_test.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/schemas_test.go
  sdk/golang/syfthubapi/session_manager.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transaction-policy): unit 5 — RequestLog.Payment populated from policy metadata
  sdk/golang/syfthubapi/requestlog.go
  sdk/golang/syfthubapi/requestlog_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transaction-policy): unit 2 — processor maps Pending+payment_challenge to PAYMENT_REQUIRED
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/processor_payment_test.go
  sdk/golang/syfthubapi/schemas.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transaction-policy): unit 3 — endpoint Info() populates Policies + buildExecutorInput credential
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/endpoint_test.go
  sdk/golang/syfthubapi/schemas.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transaction-policy): unit 7 — syft node endpoint policy add --type transaction
  cli/internal/cmd/node_policy.go
  cli/internal/cmd/node_policy_test.go
  cli/internal/cmd/node_policy_transaction.go
Due: cli-gofmt, cli-govet

feat(transaction-policy): unit 4 — agent session threads PaymentCredential to CheckPolicies
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/session_payment_test.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transaction-policy): unit 9 — interactive payment_required handler in syft query/agent
  cli/internal/cmd/agent.go
  cli/internal/cmd/payment_handler.go
  cli/internal/cmd/payment_handler_test.go
  cli/internal/cmd/query.go
  cli/internal/nodeconfig/config.go
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/models.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, cli-gofmt, cli-govet

feat(transaction-policy): unit 8 — syft wallet subcommands (init/show/send)
  cli/go.mod
  cli/go.sum
  cli/internal/cmd/wallet.go
  cli/internal/cmd/wallet_init.go
  cli/internal/cmd/wallet_send.go
  cli/internal/cmd/wallet_show.go
  cli/internal/cmd/wallet_test.go
Due: cli-gofmt, cli-govet

feat(transaction-policy): unit 6 — mppx-go library (Challenge/Credential/Receipt + Tempo)
  sdk/golang/mppx/account.go
  sdk/golang/mppx/account_test.go
  sdk/golang/mppx/canonical.go
  sdk/golang/mppx/canonical_test.go
  sdk/golang/mppx/challenge.go
  sdk/golang/mppx/challenge_test.go
  sdk/golang/mppx/conformance_test.go
  sdk/golang/mppx/credential.go
  sdk/golang/mppx/credential_test.go
  sdk/golang/mppx/doc.go
  sdk/golang/mppx/encoding.go
  sdk/golang/mppx/go.mod
  sdk/golang/mppx/go.sum
  sdk/golang/mppx/hmac.go
  sdk/golang/mppx/hmac_test.go
  sdk/golang/mppx/receipt.go
  sdk/golang/mppx/receipt_test.go
  sdk/golang/mppx/tempo.go
  sdk/golang/mppx/tempo_test.go
  sdk/golang/mppx/testdata/challenge_fixture_001.txt
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transaction-policy): unit 15 — MCP surfaces PAYMENT_REQUIRED as structured tool error
  components/mcp/pyproject.toml
  components/mcp/server.py
  components/mcp/syfthub_client.py
  components/mcp/test_payment_required.py
  components/mcp/uv.lock
Due: none

feat(transaction-policy): unit 11 — backend persists endpoint policies + exposes payment_required
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/tests/test_endpoint_policies.py
Due: none

feat(transaction-policy): unit 14 — frontend paid-endpoint badge + payment history
  components/frontend/src/components/__tests__/settings-modal.test.tsx
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/settings/__tests__/payment-history-tab.test.tsx
  components/frontend/src/components/settings/payment-history-tab.tsx
  components/frontend/src/components/settings/settings-modal.tsx
  components/frontend/src/lib/__tests__/endpoint-pricing.test.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/stores/settings-modal-store.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(transaction-policy): unit 12 — frontend wallet context (browser-local key)
  components/frontend/package-lock.json
  components/frontend/package.json
  components/frontend/src/app.tsx
  components/frontend/src/context/tempo-wallet-context.tsx
  components/frontend/src/hooks/use-tempo-wallet.ts
  components/frontend/src/lib/__tests__/tempo-wallet-crypto.test.ts
  components/frontend/src/lib/__tests__/tempo-wallet-mpp.test.ts
  components/frontend/src/lib/tempo-wallet-crypto.ts
  components/frontend/src/lib/tempo-wallet-mpp.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(transaction-policy): unit 10 - aggregator PaymentNegotiator + SSE + /payment endpoint
  components/aggregator/src/aggregator/api/dependencies.py
  components/aggregator/src/aggregator/api/endpoints/__init__.py
  components/aggregator/src/aggregator/api/endpoints/chat.py
  components/aggregator/src/aggregator/api/endpoints/payment.py
  components/aggregator/src/aggregator/api/router.py
  components/aggregator/src/aggregator/clients/__init__.py
  components/aggregator/src/aggregator/clients/payment_negotiator.py
  components/aggregator/src/aggregator/main.py
  components/aggregator/tests/test_payment_negotiator.py
Due: none

feat(transaction-policy): unit 13 — frontend payment_required modal + chat handler
  components/frontend/src/components/__tests__/payment-required-modal.test.tsx
  components/frontend/src/components/chat/chat-view.tsx
  components/frontend/src/components/payment-required-modal.tsx
  components/frontend/src/hooks/__tests__/use-chat-workflow.payment.test.ts
  components/frontend/src/hooks/use-chat-workflow.ts
  components/frontend/src/lib/payment-stubs.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(transaction-policy): unit 2 — processor maps Pending+payment_challenge to PAYMENT_REQUIRED
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/processor_payment_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transaction-policy): unit 3 — endpoint Info() populates Policies + buildExecutorInput credential
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/endpoint_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(transaction-policy): unit 4 — agent session threads PaymentCredential to CheckPolicies
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/session_payment_test.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
