Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

feat: block invocation of archived endpoints
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/tests/test_archived_endpoint.py
  components/backend/tests/test_repositories/test_endpoint.py
  components/backend/tests/test_schemas/test_endpoint_schema.py
Due: none

feat: Xendit payment integration frontend
  components/frontend/src/components/endpoint/__tests__/xendit-balance-card.test.tsx
  components/frontend/src/components/endpoint/__tests__/xendit-policy-content.test.ts
  components/frontend/src/components/endpoint/access-policies-card.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-balance-card.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/hooks/__tests__/get-error-message.test.ts
  components/frontend/src/hooks/__tests__/use-chat-workflow.reducer.test.ts
  components/frontend/src/hooks/__tests__/use-xendit-balance.test.ts
  components/frontend/src/hooks/__tests__/use-xendit-purchase.test.ts
  components/frontend/src/hooks/use-chat-workflow.ts
  components/frontend/src/hooks/use-xendit-balance.ts
  components/frontend/src/hooks/use-xendit-purchase.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/test/mocks/sdk-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(sdk): unify agent sessions, add NATS improvements, and clean up SDK
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/api_test.go
  sdk/golang/syfthubapi/auth.go
  sdk/golang/syfthubapi/auth_test.go
  sdk/golang/syfthubapi/config.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/endpoint_test.go
  sdk/golang/syfthubapi/filemode/agent_executor.go
  sdk/golang/syfthubapi/filemode/executor.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/provider.go
  sdk/golang/syfthubapi/filemode/provider_test.go
  sdk/golang/syfthubapi/filemode/venv.go
  sdk/golang/syfthubapi/middleware.go
  sdk/golang/syfthubapi/middleware_test.go
  sdk/golang/syfthubapi/nodeops/deps.go
  sdk/golang/syfthubapi/nodeops/endpoint.go
  sdk/golang/syfthubapi/policy_config.go
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/requestlog.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/schemas_test.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/setupflow/handlers/http.go
  sdk/golang/syfthubapi/setupflow/handlers/prompt.go
  sdk/golang/syfthubapi/transport/http.go
  sdk/golang/syfthubapi/transport/http_test.go
  sdk/golang/syfthubapi/transport/nats.go
  sdk/golang/syfthubapi/transport/nats_kv.go
  sdk/golang/syfthubapi/transport/transport.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(desktop): delegate agent operations to shared SessionManager
  syfthub-desktop/agent_operations.go
  syfthub-desktop/app.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
Due: desktop-gofmt, desktop-govet, desktop-gotest

docs(aggregator): add API reference for Aggregator
  docs/api/aggregator.md
  docs/api/backend.md
  docs/api/mcp.md
  docs/architecture/components/aggregator.md
  docs/architecture/components/backend.md
  docs/architecture/components/frontend.md
  docs/architecture/components/mcp.md
  docs/architecture/overview.md
  docs/authentication.md
  docs/explanation/authentication.md
  docs/explanation/pki-workflow.md
  docs/explanation/rag-architecture.md
  docs/glossary.md
  docs/guides/cli.md
  docs/guides/local-setup.md
  docs/guides/onboarding.md
  docs/guides/publishing-endpoints.md
  docs/guides/python-sdk.md
  docs/guides/typescript-sdk.md
  docs/index.md
  docs/pki-workflow.md
  docs/runbooks/deploy.md
  docs/runbooks/incident-response.md
  docs/runbooks/rollback.md
  docs/traceability_overview.md
  docs/tunnel-encryption.md
Due: none

docs(aggregator): add API reference for Aggregator (#335)
  docs/api/aggregator.md
  docs/api/backend.md
  docs/api/mcp.md
  docs/architecture/components/aggregator.md
  docs/architecture/components/backend.md
  docs/architecture/components/frontend.md
  docs/architecture/components/mcp.md
  docs/architecture/overview.md
  docs/authentication.md
  docs/explanation/authentication.md
  docs/explanation/pki-workflow.md
  docs/explanation/rag-architecture.md
  docs/glossary.md
  docs/guides/cli.md
  docs/guides/local-setup.md
  docs/guides/onboarding.md
  docs/guides/publishing-endpoints.md
  docs/guides/python-sdk.md
  docs/guides/typescript-sdk.md
  docs/index.md
  docs/pki-workflow.md
  docs/runbooks/deploy.md
  docs/runbooks/incident-response.md
  docs/runbooks/rollback.md
  docs/traceability_overview.md
  docs/tunnel-encryption.md
Due: none

fix(deps): patch 5 open Dependabot security vulnerabilities
  components/aggregator/uv.lock
  components/backend/uv.lock
  components/frontend/package-lock.json
  components/mcp/uv.lock
  sdk/typescript/package-lock.json
Due: frontend-prettier

fix(deps): patch 5 open Dependabot security vulnerabilities (#337)
  components/aggregator/uv.lock
  components/backend/uv.lock
  components/frontend/package-lock.json
  components/mcp/uv.lock
  sdk/typescript/package-lock.json
Due: frontend-prettier

feat(aggregator-clients): enable httpx client injection
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/clients/error_reporter.py
  components/aggregator/src/aggregator/clients/model.py
  components/aggregator/src/aggregator/clients/nats_transport.py
  components/aggregator/src/aggregator/clients/syfthub.py
  components/aggregator/src/aggregator/core/config.py
  components/aggregator/src/aggregator/main.py
  components/aggregator/uv.lock
  components/backend/alembic/versions/20260327_000000_encrypt_accounting_password.py
  components/backend/src/syfthub/api/endpoints/accounting.py
  components/backend/src/syfthub/api/endpoints/feedback.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/auth/db_dependencies.py
  components/backend/src/syfthub/auth/security.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/src/syfthub/services/endpoint_service.py
Due: none

fix(tests): update tests for security hardening changes
  components/backend/tests/test_accounting_endpoints.py
  components/backend/tests/test_database/test_repositories.py
  components/backend/tests/test_endpoints.py
  components/backend/tests/test_main.py
  components/backend/tests/test_services/test_auth_service.py
  components/backend/tests/test_tunnel_credentials.py
Due: none

feat(aggregator-clients): enable httpx client injection (#340)
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/clients/error_reporter.py
  components/aggregator/src/aggregator/clients/model.py
  components/aggregator/src/aggregator/clients/nats_transport.py
  components/aggregator/src/aggregator/clients/syfthub.py
  components/aggregator/src/aggregator/core/config.py
  components/aggregator/src/aggregator/main.py
  components/aggregator/uv.lock
  components/backend/alembic/versions/20260327_000000_encrypt_accounting_password.py
  components/backend/src/syfthub/api/endpoints/accounting.py
  components/backend/src/syfthub/api/endpoints/feedback.py
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/auth/db_dependencies.py
  components/backend/src/syfthub/auth/security.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/models/user.py
  components/backend/src/syfthub/repositories/user.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_accounting_endpoints.py
  components/backend/tests/test_database/test_repositories.py
  components/backend/tests/test_endpoints.py
  components/backend/tests/test_main.py
  components/backend/tests/test_services/test_auth_service.py
  components/backend/tests/test_tunnel_credentials.py
Due: none

feat(sdk): add container mode support to syfthubapi
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/config.go
  sdk/golang/syfthubapi/containermode/agent_handler.go
  sdk/golang/syfthubapi/containermode/agent_handler_test.go
  sdk/golang/syfthubapi/containermode/cleanup.go
  sdk/golang/syfthubapi/containermode/cleanup_test.go
  sdk/golang/syfthubapi/containermode/executor.go
  sdk/golang/syfthubapi/containermode/executor_test.go
  sdk/golang/syfthubapi/containermode/health.go
  sdk/golang/syfthubapi/containermode/health_test.go
  sdk/golang/syfthubapi/containermode/runner/Dockerfile
  sdk/golang/syfthubapi/containermode/runner/__init__.py
  sdk/golang/syfthubapi/containermode/runner/__main__.py
  sdk/golang/syfthubapi/containermode/runner/entrypoint.sh
  sdk/golang/syfthubapi/containermode/runner/policy.py
  sdk/golang/syfthubapi/containermode/runner/server.py
  sdk/golang/syfthubapi/containermode/runner/session.py
  sdk/golang/syfthubapi/containermode/runtime.go
  sdk/golang/syfthubapi/containermode/runtime_test.go
  sdk/golang/syfthubapi/errors.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/provider.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(cli): add --container flag and container mode support to node commands
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_run.go
  cli/internal/nodeconfig/config.go
Due: cli-gofmt, cli-govet

feat(cli): add interactive agent CLI command
  cli/internal/cmd/agent.go
  cli/internal/cmd/root.go
Due: cli-gofmt, cli-govet

feat(desktop): add container mode toggle to settings
  app.sh
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/components/SettingsModal.tsx
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/internal/app/app.go
  syfthub-desktop/settings.go
  syfthub-desktop/types.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(aggregator): fix session ephemeral key retention and WS→NATS type mapping
  components/aggregator/src/aggregator/services/session_transport.py
Due: none

refactor(cli): unify config into nodeconfig and update all commands
  cli/internal/cmd/add.go
  cli/internal/cmd/agent.go
  cli/internal/cmd/config.go
  cli/internal/cmd/list_aliases.go
  cli/internal/cmd/ls.go
  cli/internal/cmd/node_endpoint_setup.go
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_marketplace.go
  cli/internal/cmd/node_run.go
  cli/internal/cmd/node_status.go
  cli/internal/cmd/query.go
  cli/internal/cmd/remove.go
  cli/internal/cmd/update_aliases.go
  cli/internal/cmd/whoami.go
  cli/internal/completion/completion.go
  cli/internal/config/config.go
  cli/internal/nodeconfig/config.go
Due: cli-gofmt, cli-govet

refactor(desktop): migrate settings to unified snake_case schema
  syfthub-desktop/app.go
  syfthub-desktop/marketplace.go
  syfthub-desktop/settings.go
  syfthub-desktop/settings_test.go
  syfthub-desktop/setup.go
  syfthub-desktop/types.go
  syfthub-desktop/types_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

refactor(desktop): update frontend types and settings UI to snake_case schema
  syfthub-desktop/frontend/src/components/SettingsModal.tsx
  syfthub-desktop/frontend/wailsjs/go/models.ts
Due: none

feat(cli): add local build support to install script
  cli/install.sh
Due: none

feat(cli+frontend): browser-based token delivery for node init
  cli/go.mod
  cli/go.sum
  cli/internal/cmd/add.go
  cli/internal/cmd/browser_auth.go
  cli/internal/cmd/completion.go
  cli/internal/cmd/config.go
  cli/internal/cmd/list_aliases.go
  cli/internal/cmd/login.go
  cli/internal/cmd/logout.go
  cli/internal/cmd/node_logs.go
  cli/internal/cmd/node_run.go
  cli/internal/cmd/node_status.go
  cli/internal/cmd/node_stop.go
  cli/internal/cmd/remove.go
  cli/internal/cmd/root.go
  cli/internal/cmd/update_aliases.go
  cli/internal/cmd/upgrade.go
  cli/internal/nodeconfig/config.go
  components/frontend/src/app.tsx
  components/frontend/src/components/auth/register-modal.tsx
  components/frontend/src/components/settings/security-settings-tab.tsx
  components/frontend/src/lib/validation.ts
  components/frontend/src/pages/cli-setup.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, cli-gofmt, cli-govet

feat(cli): interactive marketplace picker + orphan cleanup in node init
  cli/internal/cmd/node_init.go
Due: cli-gofmt, cli-govet

fix(sdk/typescript): serialize Date objects before ISO string parsing
  sdk/typescript/src/utils.ts
Due: ts-sdk-eslint, ts-sdk-typecheck

feat(marketplace): add admin token bearer auth to write endpoints
  components/marketplace/handlers.go
  components/marketplace/main.go
  components/marketplace/server.go
Due: none

feat(infra): wire MARKETPLACE_ADMIN_TOKEN through deploy pipeline
  .github/workflows/ci.yml
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
Due: none

build: replace Python CLI test target with Go test commands
  Makefile
Due: none

test(sdk/golang): expand syfthubapi test coverage
  sdk/golang/syfthubapi/api_test.go
  sdk/golang/syfthubapi/config_test.go
  sdk/golang/syfthubapi/containermode/cleanup_test.go
  sdk/golang/syfthubapi/containermode/executor_test.go
  sdk/golang/syfthubapi/containermode/runtime_test.go
  sdk/golang/syfthubapi/nodeops/marketplace_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

test(desktop): expand settings and types test coverage
  syfthub-desktop/settings_test.go
  syfthub-desktop/types_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

test(cli): add command and nodeconfig test coverage
  cli/internal/cmd/agent_test.go
  cli/internal/cmd/browser_auth_test.go
  cli/internal/cmd/node_init_test.go
  cli/internal/cmd/root_test.go
  cli/internal/nodeconfig/config_test.go
Due: cli-gofmt, cli-govet

fix(sdk/golang): resolve staticcheck lint failures
  sdk/golang/go.mod
  sdk/golang/go.sum
  sdk/golang/syfthub/agent.go
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthubapi/api_test.go
  sdk/golang/syfthubapi/transport/http_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(cli): update go.sum for coder/websocket dependency
  cli/go.sum
Due: none

fix(cli): include go.mod updates for websocket dependency swap
  cli/go.mod
Due: none

feat(cli): add pre-release support for beta releases
  .github/workflows/release-cli.yml
  cli/Makefile
  cli/install.sh
  cli/internal/update/update.go
  cli/internal/update/update_test.go
Due: cli-gofmt, cli-govet

fix(cli): extract Setsid into platform files for Windows cross-compilation
  cli/internal/cmd/node_init.go
  cli/internal/cmd/sysproc_unix.go
  cli/internal/cmd/sysproc_windows.go
Due: cli-gofmt, cli-govet

fix(migrations): restore deleted 008_encrypt_accounting_pw and fix migration chain
  components/backend/alembic/versions/20260320_000000_add_wallet_fields_to_users.py
  components/backend/alembic/versions/20260327_000000_encrypt_accounting_password.py
Due: none

fix(migrations): restore deleted 008_encrypt_accounting_pw and fix migration chain (#345)
  components/backend/alembic/versions/20260320_000000_add_wallet_fields_to_users.py
  components/backend/alembic/versions/20260327_000000_encrypt_accounting_password.py
Due: none

refactor: remove dead accounting error classes across all SDKs
  components/frontend/src/lib/sdk-client.ts
  components/frontend/src/test/mocks/sdk-client.ts
  docs/architecture/components/backend.md
  sdk/golang/syfthub/auth.go
  sdk/golang/syfthub/auth_test.go
  sdk/golang/syfthub/errors.go
  sdk/golang/syfthub/errors_test.go
  sdk/golang/syfthub/http.go
  sdk/golang/syfthub/http_test.go
  sdk/golang/syfthub/models.go
  sdk/python/src/syfthub_sdk/_http.py
  sdk/python/src/syfthub_sdk/auth.py
  sdk/python/src/syfthub_sdk/exceptions.py
  sdk/typescript/src/errors.ts
  sdk/typescript/src/http.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/resources/auth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

fix: resolve CI failures from accounting cleanup
  sdk/golang/syfthub/auth_test.go
  sdk/golang/syfthub/errors.go
  sdk/python/src/syfthub_sdk/_http.py
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor: remove dead accounting error classes across all SDKs (#346)
  components/frontend/src/lib/sdk-client.ts
  components/frontend/src/test/mocks/sdk-client.ts
  docs/architecture/components/backend.md
  sdk/golang/syfthub/auth.go
  sdk/golang/syfthub/auth_test.go
  sdk/golang/syfthub/errors.go
  sdk/golang/syfthub/errors_test.go
  sdk/golang/syfthub/http.go
  sdk/golang/syfthub/http_test.go
  sdk/golang/syfthub/models.go
  sdk/python/src/syfthub_sdk/_http.py
  sdk/python/src/syfthub_sdk/auth.py
  sdk/python/src/syfthub_sdk/exceptions.py
  sdk/typescript/src/errors.ts
  sdk/typescript/src/http.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/resources/auth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

chore: remove marketplace component
  .github/workflows/ci.yml
  cli/internal/cmd/node.go
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_init_test.go
  cli/internal/cmd/node_marketplace.go
  cli/internal/nodeconfig/config.go
  cli/internal/nodeconfig/config_test.go
  components/marketplace/Dockerfile
  components/marketplace/errors.go
  components/marketplace/go.mod
  components/marketplace/go.sum
  components/marketplace/handlers.go
  components/marketplace/main.go
  components/marketplace/models.go
  components/marketplace/server.go
  components/marketplace/store.go
  components/marketplace/validation.go
  components/marketplace/zip.go
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
  deploy/nginx/nginx.dev.conf
  deploy/nginx/nginx.prod.conf
  sdk/golang/syfthubapi/nodeops/marketplace.go
  sdk/golang/syfthubapi/nodeops/marketplace_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
