Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$

feat(frontend): enable lazy load retry and auto-reload on chunk failures (#301)
  components/frontend/nginx.conf
  components/frontend/src/app.tsx
  components/frontend/src/components/route-boundary.tsx
  components/frontend/src/lib/lazy-with-retry.ts
  deploy/nginx/nginx.prod.conf
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add showChevron prop support
  components/frontend/src/components/chat/status-indicator.tsx
  components/frontend/src/components/prompt-kit/chain-of-thought.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(auth): centralize token creation
  cli/internal/cmd/login.go
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/repositories/otp.py
  components/backend/src/syfthub/schemas/auth.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/src/syfthub/services/email_service.py
  components/frontend/src/components/auth/login-modal.tsx
  components/frontend/src/components/auth/password-reset-modal.tsx
  components/frontend/src/components/auth/verify-otp-modal.tsx
  components/frontend/src/lib/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, cli-gofmt, cli-govet

feat: add showChevron prop support (#302)
  components/frontend/src/components/chat/status-indicator.tsx
  components/frontend/src/components/prompt-kit/chain-of-thought.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(auth): align OTP and register mocks
  components/backend/tests/test_auth_otp.py
  components/frontend/src/context/__tests__/auth-context.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(deploy): add staging compose override support
  .github/workflows/ci.yml
  deploy/docker-compose.staging.yml
  deploy/scripts/deploy.sh
Due: none

feat(marketplace): decouple package creation from zip upload
  .gitignore
  components/marketplace/handlers.go
  components/marketplace/server.go
  syfthub-desktop/frontend/src/components/OnboardingWizard.tsx
  syfthub-desktop/marketplace.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(marketplace): decouple package creation from zip upload
  .gitignore
  components/marketplace/handlers.go
  components/marketplace/server.go
Due: none

feat(users): add tunnel credentials endpoint
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/tests/test_tunnel_credentials.py
Due: none

feat(ngrok): add ngrok API key support and persistence
  .env.deploy.example
  .github/workflows/ci.yml
  deploy/docker-compose.deploy.yml
Due: none

feat(ngrok): add ngrok API key support (#304)
  .env.deploy.example
  .github/workflows/ci.yml
  components/backend/src/syfthub/api/endpoints/users.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/schemas/user.py
  components/backend/tests/test_tunnel_credentials.py
  deploy/docker-compose.deploy.yml
Due: none

ci(workflow): update Go version to 1.24 in CI
  .github/workflows/ci.yml
Due: none

feat(otp): add requester_ip tracking and OTP cleanup
  components/backend/alembic/versions/20260304_000000_add_otp_requester_ip.py
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/jobs/otp_cleanup.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/models/otp.py
  components/backend/src/syfthub/repositories/otp.py
  components/backend/src/syfthub/services/email_service.py
  components/backend/src/syfthub/services/otp_service.py
  components/backend/tests/test_auth_otp.py
  components/frontend/src/lib/schemas.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(email): add Resend API email support
  components/backend/pyproject.toml
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/services/email_service.py
  components/backend/tests/test_auth_otp.py
Due: none

refactor(email): remove SMTP fallback, use Resend exclusively
  components/backend/pyproject.toml
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/services/email_service.py
  components/backend/tests/test_auth_otp.py
Due: none

refactor(auth): simplify email verification flow
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/tests/test_auth_otp.py
  components/backend/uv.lock
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
Due: none

fix(auth): resolve 3 OTP test failures in CI
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/observability/handlers.py
  components/backend/src/syfthub/repositories/otp.py
Due: none

refactor(nats): mask token in log output
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(main): embed appicon.png and use as icon
  syfthub-desktop/frontend/src/assets/images/logo-universal.png
  syfthub-desktop/main.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(marketplace): add built-in marketplace seeds and Pyproject field
  components/marketplace/seed.go
  components/marketplace/zip.go
Due: none

refactor(marketplace): drop builtin seeding
  components/marketplace/main.go
  components/marketplace/models.go
  components/marketplace/seed.go
  components/marketplace/store.go
  components/marketplace/zip.go
Due: none

feat(cli): add node command and endpoint management
  cli/go.mod
  cli/go.sum
  cli/internal/cmd/node.go
  cli/internal/cmd/node_endpoint.go
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_marketplace.go
  cli/internal/cmd/node_policy.go
  cli/internal/cmd/node_start.go
  cli/internal/cmd/node_status.go
  cli/internal/cmd/node_stop.go
  cli/internal/cmd/root.go
  cli/internal/nodeconfig/config.go
  pkg/nodeops/deps.go
  pkg/nodeops/endpoint.go
  pkg/nodeops/endpoint_test.go
  pkg/nodeops/env.go
  pkg/nodeops/frontmatter.go
  pkg/nodeops/frontmatter_test.go
  pkg/nodeops/go.mod
  pkg/nodeops/go.sum
  pkg/nodeops/marketplace.go
  pkg/nodeops/marketplace_test.go
  pkg/nodeops/policy.go
  pkg/nodeops/policy_test.go
  pkg/nodeops/slugify.go
  pkg/nodeops/slugify_test.go
  pkg/nodeops/types.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/go.mod
  syfthub-desktop/marketplace.go
Due: desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

refactor(node): migrate config path and tunneling
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_start.go
  cli/internal/cmd/node_status.go
  cli/internal/nodeconfig/config.go
  syfthub-desktop/settings.go
Due: desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

refactor(auth): migrate to API token authentication
  cli/internal/cmd/config.go
  cli/internal/cmd/login.go
  cli/internal/cmd/logout.go
  cli/internal/cmd/ls.go
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_marketplace.go
  cli/internal/cmd/query.go
  cli/internal/cmd/register.go
  cli/internal/cmd/reset_password.go
  cli/internal/cmd/root.go
  cli/internal/cmd/verify_email.go
  cli/internal/cmd/whoami.go
  cli/internal/completion/completion.go
  cli/internal/config/config.go
Due: cli-gofmt, cli-govet

feat(node): add daemonized run and logs
  cli/internal/cmd/node.go
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_logs.go
  cli/internal/cmd/node_run.go
  cli/internal/nodeconfig/config.go
Due: cli-gofmt, cli-govet

feat(cli): add endpoint log command
  cli/internal/cmd/node_endpoint.go
  cli/internal/cmd/node_endpoint_log.go
  cli/internal/cmd/node_run.go
  cli/internal/nodeconfig/config.go
Due: cli-gofmt, cli-govet

refactor(config): adopt platform-aware config dir
  cli/internal/completion/completion.go
  cli/internal/config/config.go
Due: cli-gofmt, cli-govet

refactor(config): update log dir and settings paths
  syfthub-desktop/internal/app/app.go
  syfthub-desktop/internal/logs/store.go
  syfthub-desktop/marketplace.go
  syfthub-desktop/settings.go
  syfthub-desktop/settings_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

refactor(nodeops): move to sdk/golang/syfthubapi
  cli/go.mod
  cli/internal/cmd/node_endpoint.go
  cli/internal/cmd/node_marketplace.go
  cli/internal/cmd/node_policy.go
  cli/internal/cmd/node_status.go
  pkg/nodeops/go.mod
  pkg/nodeops/go.sum
  sdk/golang/syfthubapi/nodeops/deps.go
  sdk/golang/syfthubapi/nodeops/endpoint.go
  sdk/golang/syfthubapi/nodeops/endpoint_test.go
  sdk/golang/syfthubapi/nodeops/env.go
  sdk/golang/syfthubapi/nodeops/frontmatter.go
  sdk/golang/syfthubapi/nodeops/frontmatter_test.go
  sdk/golang/syfthubapi/nodeops/marketplace.go
  sdk/golang/syfthubapi/nodeops/marketplace_test.go
  sdk/golang/syfthubapi/nodeops/policy.go
  sdk/golang/syfthubapi/nodeops/policy_test.go
  sdk/golang/syfthubapi/nodeops/slugify.go
  sdk/golang/syfthubapi/nodeops/slugify_test.go
  sdk/golang/syfthubapi/nodeops/types.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/go.mod
  syfthub-desktop/marketplace.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

feat(email): migrate to Resend; feat(otp): add requester_ip cleanup (#305)
  components/backend/alembic/versions/20260304_000000_add_otp_requester_ip.py
  components/backend/pyproject.toml
  components/backend/src/syfthub/auth/router.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/jobs/otp_cleanup.py
  components/backend/src/syfthub/main.py
  components/backend/src/syfthub/models/otp.py
  components/backend/src/syfthub/observability/handlers.py
  components/backend/src/syfthub/repositories/otp.py
  components/backend/src/syfthub/services/auth_service.py
  components/backend/src/syfthub/services/email_service.py
  components/backend/src/syfthub/services/otp_service.py
  components/backend/tests/test_auth_otp.py
  components/backend/uv.lock
  components/frontend/src/lib/schemas.ts
  deploy/docker-compose.deploy.yml
  deploy/docker-compose.dev.yml
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(auth): switch to API token-based login
  cli/go.mod
  cli/go.sum
  cli/internal/cmd/config.go
  cli/internal/cmd/login.go
  cli/internal/cmd/logout.go
  cli/internal/cmd/ls.go
  cli/internal/cmd/node.go
  cli/internal/cmd/node_endpoint.go
  cli/internal/cmd/node_endpoint_log.go
  cli/internal/cmd/node_init.go
  cli/internal/cmd/node_logs.go
  cli/internal/cmd/node_marketplace.go
  cli/internal/cmd/node_policy.go
  cli/internal/cmd/node_run.go
  cli/internal/cmd/node_status.go
  cli/internal/cmd/node_stop.go
  cli/internal/cmd/query.go
  cli/internal/cmd/register.go
  cli/internal/cmd/reset_password.go
  cli/internal/cmd/root.go
  cli/internal/cmd/verify_email.go
  cli/internal/cmd/whoami.go
  cli/internal/completion/completion.go
  cli/internal/config/config.go
  cli/internal/nodeconfig/config.go
  sdk/golang/syfthub/aggregators.go
  sdk/golang/syfthub/aggregators_test.go
  sdk/golang/syfthubapi/nodeops/deps.go
  sdk/golang/syfthubapi/nodeops/endpoint.go
  sdk/golang/syfthubapi/nodeops/endpoint_test.go
  sdk/golang/syfthubapi/nodeops/env.go
  sdk/golang/syfthubapi/nodeops/frontmatter.go
  sdk/golang/syfthubapi/nodeops/frontmatter_test.go
  sdk/golang/syfthubapi/nodeops/marketplace.go
  sdk/golang/syfthubapi/nodeops/marketplace_test.go
  sdk/golang/syfthubapi/nodeops/policy.go
  sdk/golang/syfthubapi/nodeops/policy_test.go
  sdk/golang/syfthubapi/nodeops/slugify.go
  sdk/golang/syfthubapi/nodeops/slugify_test.go
  sdk/golang/syfthubapi/nodeops/types.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, cli-gofmt, cli-govet

feat(endpoints): migrate json fields to jsonb
  components/backend/alembic/versions/20260305_000000_json_to_jsonb_endpoints.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
Due: none
