Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$

revert: remove AGENTS.md
  AGENTS.md
Due: none

feat(policies): support per-unit billing (request|document) from config (#426)
  components/backend/tests/test_endpoints.py
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/components/endpoint/bundle-picker.tsx
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
  components/frontend/src/hooks/use-xendit-precheck.ts
  components/frontend/src/lib/xendit-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(aggregator): move cost/currency to top level in response docstrings
  components/aggregator/src/aggregator/clients/data_source.py
  components/aggregator/src/aggregator/clients/model.py
Due: none

chore(chat): remove MPP payment-gate blocker
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/hooks/use-xendit-precheck.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(chat): remove MPP payment-gate blocker (#429)
  components/frontend/src/components/chat/payment-gate.tsx
  components/frontend/src/hooks/use-xendit-precheck.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sdk/containermode): bwrap-isolated handler with per-endpoint sandbox
  cli/internal/cmd/node_policy_transaction.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/containermode/build.go
  sdk/golang/syfthubapi/containermode/build_test.go
  sdk/golang/syfthubapi/containermode/executor.go
  sdk/golang/syfthubapi/containermode/executor_test.go
  sdk/golang/syfthubapi/containermode/image.go
  sdk/golang/syfthubapi/containermode/image_test.go
  sdk/golang/syfthubapi/containermode/protocol_test.go
  sdk/golang/syfthubapi/containermode/runner/Dockerfile
  sdk/golang/syfthubapi/containermode/runner/__init__.py
  sdk/golang/syfthubapi/containermode/runner/__main__.py
  sdk/golang/syfthubapi/containermode/runner/_protocol.py
  sdk/golang/syfthubapi/containermode/runner/_syft_audit.py
  sdk/golang/syfthubapi/containermode/runner/entrypoint.sh
  sdk/golang/syfthubapi/containermode/runner/policy.py
  sdk/golang/syfthubapi/containermode/runner/probe.sh
  sdk/golang/syfthubapi/containermode/runner/server.py
  sdk/golang/syfthubapi/containermode/runner/session.py
  sdk/golang/syfthubapi/containermode/runner/session_loop.py
  sdk/golang/syfthubapi/containermode/runner/syft_entry.py
  sdk/golang/syfthubapi/containermode/runner/test_session_attachments.py
  sdk/golang/syfthubapi/filemode/agent_executor.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/progress.go
  sdk/golang/syfthubapi/filemode/provider.go
  sdk/golang/syfthubapi/filemode/sandbox.go
  sdk/golang/syfthubapi/filemode/sandbox_test.go
  sdk/golang/syfthubapi/filemode/watcher.go
  sdk/golang/syfthubapi/filemode/watcher_test.go
  syfthub-desktop/endpoints/research-agent/README.md
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, cli-gofmt, cli-govet

feat(desktop): overlay endpoint load progress during startup
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/App.tsx
  syfthub-desktop/frontend/src/components/LoadProgress.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/internal/app/app.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

chore: refresh AGENTS.md gitnexus index stats
  AGENTS.md
Due: none

feat(endpoint): render the prepaid-credits policy card for Stripe too
  components/frontend/src/components/endpoint/policy-item.tsx
  components/frontend/src/components/endpoint/xendit-policy-content.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sdk/manualreview): new package — cipher, routing, and wire for review delivery
  sdk/golang/syfthubapi/manualreview/cipher.go
  sdk/golang/syfthubapi/manualreview/cipher_test.go
  sdk/golang/syfthubapi/manualreview/doc.go
  sdk/golang/syfthubapi/manualreview/integration_test.go
  sdk/golang/syfthubapi/manualreview/routing.go
  sdk/golang/syfthubapi/manualreview/wire.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(sdk): wire routing recorder into agent executor and session for hold capture
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/agent_executor_test.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/filemode/provider.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(nats-auth): add \$JS.ACK.> and syfthub.inbox review channel permissions
  components/nats-auth/README.md
  components/nats-auth/main.go
Due: none

feat(desktop): manual-review v2 delivery backend
  syfthub-desktop/agent_operations.go
  syfthub-desktop/app.go
  syfthub-desktop/go.mod
  syfthub-desktop/internal/app/app.go
  syfthub-desktop/manual_review_operations.go
  syfthub-desktop/review_inbox_listener.go
  syfthub-desktop/review_lifecycle.go
  syfthub-desktop/review_publisher.go
  syfthub-desktop/review_routing.go
  syfthub-desktop/review_routing_test.go
  syfthub-desktop/review_stream_provision.go
  syfthub-desktop/sent_reviews.go
  syfthub-desktop/sent_reviews_apply.go
  syfthub-desktop/sent_reviews_apply_test.go
  syfthub-desktop/sent_reviews_migration_test.go
  syfthub-desktop/settings.go
  syfthub-desktop/settings_device_id_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop/frontend): chat sidebar, review chat pane, and sent-review continuation
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/ChatSidebar.tsx
  syfthub-desktop/frontend/src/components/chat/ChatWorkflowProvider.tsx
  syfthub-desktop/frontend/src/components/chat/ReviewChatPane.tsx
  syfthub-desktop/frontend/src/components/chat/SentReviewsView.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
Due: none

fix(go-sdk): lowercase Dockerfile error string to satisfy staticcheck ST1005
  sdk/golang/syfthubapi/containermode/image.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(desktop): restore RoutingRecorderFactory after SaveSettings + review cleanups
  AGENTS.md
  sdk/golang/syfthubapi/internal/cryptocore/cryptocore.go
  sdk/golang/syfthubapi/internal/cryptocore/cryptocore_test.go
  sdk/golang/syfthubapi/internal/cryptocore/doc.go
  sdk/golang/syfthubapi/manualreview/cipher.go
  sdk/golang/syfthubapi/manualreview/cipher_kat_test.go
  sdk/golang/syfthubapi/transport/crypto.go
  sdk/golang/syfthubapi/transport/crypto_session.go
  sdk/golang/syfthubapi/transport/crypto_session_kat_test.go
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/components/chat/ChatSidebar.tsx
  syfthub-desktop/frontend/src/components/chat/ReviewChatPane.tsx
  syfthub-desktop/frontend/src/components/chat/SentReviewsView.tsx
  syfthub-desktop/frontend/src/components/chat/review-status-badge.tsx
  syfthub-desktop/frontend/src/components/tabs/SkillsSection.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/lib/date-utils.ts
  syfthub-desktop/frontend/src/lib/review-status.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/manual_review_operations.go
  syfthub-desktop/review_lifecycle.go
  syfthub-desktop/review_routing.go
  syfthub-desktop/sent_reviews.go
  syfthub-desktop/sent_reviews_apply.go
  syfthub-desktop/sent_reviews_apply_test.go
  syfthub-desktop/sent_reviews_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

refactor: dedupe LogPolicy/log stats helpers, simplify review pane state
  AGENTS.md
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/requestlog.go
  sdk/golang/syfthubapi/transport/nats.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/ChatSidebar.tsx
  syfthub-desktop/frontend/src/components/chat/ChatWorkflowProvider.tsx
  syfthub-desktop/frontend/src/components/chat/ReviewChatPane.tsx
  syfthub-desktop/frontend/src/components/chat/SentReviewsView.tsx
  syfthub-desktop/frontend/src/components/chat/model-selector.tsx
  syfthub-desktop/frontend/src/components/tabs/LogsTab.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/internal/logs/store.go
  syfthub-desktop/sent_reviews.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

feat(landing): add SyftHub landing-page redesign prototype
  frontend/hi/index.html
  frontend/hi/logo-options.html
  frontend/hi/shapley-attribution.png
Due: none

chore(cleanup): remove TransactionPolicy and BundleSubscriptionPolicy from desktop UI
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
Due: desktop-gofmt, desktop-govet, desktop-gotest

chore(cleanup): remove TransactionToken from syfthubapi SDK
  sdk/golang/syfthubapi/invoker.go
  sdk/golang/syfthubapi/requestlog.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/schemas_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

chore(cleanup): remove transaction-policy CLI subcommand
  cli/internal/cmd/node_policy.go
  cli/internal/cmd/node_policy_test.go
  cli/internal/cmd/node_policy_transaction.go
Due: cli-gofmt, cli-govet

feat(mppx): add signed_transfer credential variant for settle-on-success
  sdk/golang/mppx/signed_transfer.go
  sdk/golang/mppx/signed_transfer_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(sdk): replace PolicyTypeTransaction/Xendit with PolicyTypeX402PayPerRequest; remove normalizePolicyType
  sdk/golang/syfthubapi/endpoint_test.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/filemode/loader_test.go
  sdk/golang/syfthubapi/policy_config.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

chore(cleanup): remove sanitizePolicyConfig transaction-policy special case
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/endpoint_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

chore(cleanup): remove transaction-token API from hub SDKs
  sdk/golang/syfthub/accounting.go
  sdk/golang/syfthub/accounting_test.go
  sdk/golang/syfthub/auth.go
  sdk/golang/syfthub/auth_test.go
  sdk/golang/syfthub/chat.go
  sdk/golang/syfthub/chat_test.go
  sdk/golang/syfthub/models.go
  sdk/python/src/syfthub_sdk/accounting.py
  sdk/python/src/syfthub_sdk/auth.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/accounting.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/resources/auth.ts
Due: ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test

chore(test): drop normalizes_policy_types subtest (U7 removed normalizePolicyType)
  sdk/golang/syfthubapi/filemode/loader_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop): add Wails wallet operations and payment history ledger
  syfthub-desktop/go.mod
  syfthub-desktop/go.sum
  syfthub-desktop/wallet_history.go
  syfthub-desktop/wallet_history_test.go
  syfthub-desktop/wallet_operations.go
  syfthub-desktop/wallet_operations_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(sdk): add mppxgate package + wire processor/agent_executor for x402 settle-on-success
  sdk/golang/go.mod
  sdk/golang/go.sum
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/mppxgate/gate.go
  sdk/golang/syfthubapi/mppxgate/gate_test.go
  sdk/golang/syfthubapi/mppxgate/secret_store.go
  sdk/golang/syfthubapi/mppxgate/wallet.go
  sdk/golang/syfthubapi/payment.go
  sdk/golang/syfthubapi/processor.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop): add Wallet tab with transaction history, totals, and CSV export
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/tabs/PaymentCapsPanel.tsx
  syfthub-desktop/frontend/src/components/tabs/WalletTab.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
Due: none

feat(desktop): add x402 policy template, config form, and producer Receipts panel
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/endpoint_operations_test.go
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
  syfthub-desktop/frontend/src/components/tabs/X402PolicyForm.tsx
  syfthub-desktop/frontend/src/components/tabs/X402ReceiptsPanel.tsx
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop): handle agent.payment_required with per-endpoint spend caps
  syfthub-desktop/frontend/src/components/chat/PaymentRequiredModal.tsx
  syfthub-desktop/frontend/src/hooks/use-chat-workflow.ts
  syfthub-desktop/frontend/src/hooks/use-payment-caps.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/payment_caps.go
  syfthub-desktop/payment_caps_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(sdk): re-invoke runner with policy_phase=post after x402 settlement
  sdk/golang/syfthubapi/invoker.go
  sdk/golang/syfthubapi/mppxgate/gate.go
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/processor_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

chore(landing): serve hi prototype at /hi via Vite public dir
  components/frontend/public/hi/index.html
  components/frontend/public/hi/logo-options.html
  components/frontend/public/hi/shapley-attribution.png
Due: none

fix(wallet): correct pathUSD address + Tempo testnet URLs + restore legacy YAML normalizer
  sdk/golang/syfthubapi/filemode/loader.go
  syfthub-desktop/frontend/src/components/tabs/WalletTab.tsx
  syfthub-desktop/frontend/src/components/tabs/X402PolicyForm.tsx
  syfthub-desktop/frontend/src/components/tabs/X402ReceiptsPanel.tsx
  syfthub-desktop/wallet_operations.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

feat(wallet): fund via Tempo faucet API instead of browser redirect
  syfthub-desktop/frontend/src/components/tabs/WalletTab.tsx
  syfthub-desktop/wallet_operations.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(desktop): wire mppxgate.TempoGate so x402 policies surface payment challenges
  syfthub-desktop/app.go
  syfthub-desktop/internal/app/app.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(sdk): propagate mppx gate through filemode.Provider so AgentExecutors get it at construction
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/filemode/provider.go
  syfthub-desktop/internal/app/app.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest
