Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, ts-sdk-eslint, ts-sdk-typecheck, go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd components/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd components/frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd components/frontend && npm run typecheck'
  language: system
  pass_filenames: false

ts-sdk-eslint:
  name: ESLint (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run lint'
  language: system
  pass_filenames: false

ts-sdk-typecheck:
  name: TypeScript check (sdk/typescript)
  entry: sh -c 'cd sdk/typescript && npm run typecheck'
  language: system
  pass_filenames: false

go-sdk-fmt:
  name: go fmt (sdk/golang)
  entry: sh -c 'cd sdk/golang && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-sdk-vet:
  name: go vet (sdk/golang)
  entry: sh -c 'cd sdk/golang && go vet ./...'
  language: system
  pass_filenames: false

go-sdk-test:
  name: go test (sdk/golang)
  entry: sh -c 'cd sdk/golang && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

desktop-gofmt:
  name: go fmt (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

desktop-govet:
  name: go vet (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go vet ./...'
  language: system
  pass_filenames: false

desktop-gotest:
  name: go test (syfthub-desktop)
  entry: sh -c 'cd syfthub-desktop && go test ./... -count=1'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cli-gofmt:
  name: go fmt (cli)
  entry: sh -c 'cd cli && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

cli-govet:
  name: go vet (cli)
  entry: sh -c 'cd cli && go vet ./...'
  language: system
  pass_filenames: false

chore(desktop): normalize wails runtime file modes + trailing newlines
  syfthub-desktop/frontend/wailsjs/runtime/package.json
  syfthub-desktop/frontend/wailsjs/runtime/runtime.d.ts
  syfthub-desktop/frontend/wailsjs/runtime/runtime.js
Due: none

feat(frontend): add Overview/Uptime tabs to endpoint detail page
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/endpoint/uptime-strip.tsx
  components/frontend/src/components/endpoint/uptime-summary-card.tsx
  components/frontend/src/components/endpoint/uptime-tab.tsx
  components/frontend/src/hooks/use-endpoint-uptime.ts
  components/frontend/src/lib/__tests__/uptime.test.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/uptime.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): add Overview/Uptime tabs to endpoint detail page (#414)
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/endpoint/uptime-strip.tsx
  components/frontend/src/components/endpoint/uptime-summary-card.tsx
  components/frontend/src/components/endpoint/uptime-tab.tsx
  components/frontend/src/hooks/use-endpoint-uptime.ts
  components/frontend/src/lib/__tests__/uptime.test.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/uptime.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Sync main into dev
  components/aggregator/uv.lock
  components/backend/alembic/versions/20260513_000000_add_endpoint_uptime_telemetry.py
  components/backend/alembic/versions/20260513_120000_drop_endpoint_uptime_latency_fields.py
  components/backend/requirements.txt
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/core/config.py
  components/backend/src/syfthub/jobs/health_monitor.py
  components/backend/src/syfthub/models/__init__.py
  components/backend/src/syfthub/models/endpoint.py
  components/backend/src/syfthub/repositories/endpoint.py
  components/backend/src/syfthub/schemas/endpoint.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_jobs/test_health_monitor.py
  components/backend/tests/test_repositories/test_endpoint_uptime.py
  components/backend/tests/test_services/test_endpoint_service.py
  components/frontend/src/components/browse-view.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/components/endpoint/uptime-strip.tsx
  components/frontend/src/components/endpoint/uptime-summary-card.tsx
  components/frontend/src/components/endpoint/uptime-tab.tsx
  components/frontend/src/hooks/use-endpoint-uptime.ts
  components/frontend/src/lib/__tests__/uptime.test.ts
  components/frontend/src/lib/query-keys.ts
  components/frontend/src/lib/uptime.ts
  components/mcp/pyproject.toml
  components/mcp/uv.lock
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(uptime): allow window_hours up to 90 days, matching retention
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
Due: none

fix(uptime): allow window_hours up to 90 days, matching retention (#415)
  components/backend/src/syfthub/api/endpoints/endpoints.py
  components/backend/src/syfthub/services/endpoint_service.py
  components/backend/tests/test_endpoints.py
Due: none

fix(post-merge): circular import + base64 alphabet + uv.lock regen
  components/aggregator/src/aggregator/clients/nats_object_store.py
  components/aggregator/uv.lock
  components/backend/uv.lock
  components/mcp/uv.lock
  sdk/golang/syfthubapi/transport/attachment_uploader_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

chore(deps): bump Mako to 1.3.12 and urllib3 to 2.7.0 (#417)
  components/aggregator/pyproject.toml
  components/aggregator/uv.lock
  components/backend/pyproject.toml
  components/backend/requirements.txt
  components/backend/uv.lock
  components/mcp/pyproject.toml
Due: none

feat(frontend): add API tab with SDK snippets to endpoint detail page
  components/frontend/src/components/endpoint/api-tab.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ci): resolve aggregator ruff + go-sdk staticcheck lint failures
  components/aggregator/src/aggregator/schemas/agent.py
  components/aggregator/tests/test_attachment_crypto.py
  sdk/golang/syfthubapi/endpoint.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

style(aggregator): apply ruff format to test_session_attachment_key_handshake
  components/aggregator/tests/test_session_attachment_key_handshake.py
Due: none

feat(frontend): add API tab with SDK snippets to endpoint detail page (#418)
  components/frontend/src/components/endpoint/api-tab.tsx
  components/frontend/src/components/endpoint/endpoint-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(desktop): agent session transcript, cancellation handling, and UI polish
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_transcript_test.go
  sdk/golang/syfthubapi/schemas.go
  syfthub-desktop/agent_operations.go
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/DeleteEndpointDialog.tsx
  syfthub-desktop/frontend/src/components/SettingsModal.tsx
  syfthub-desktop/frontend/src/components/tabs/SettingsTab.tsx
  syfthub-desktop/frontend/src/components/tabs/SkillsSection.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

style(desktop): refresh chat UI with unified design tokens and tighter visual hierarchy
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/AttachmentChip.tsx
  syfthub-desktop/frontend/src/components/chat/model-selector.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/markdown.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/prompt-input.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/scroll-button.tsx
  syfthub-desktop/frontend/src/components/prompt-kit/tool.tsx
  syfthub-desktop/frontend/src/index.css
Due: none

fix(desktop): track build/appicon.png so wails embed succeeds in CI
  .gitignore
  syfthub-desktop/build/appicon.png
Due: none

fix(desktop): expose updater Download/Install state via bound getters
  syfthub-desktop/download.go
  syfthub-desktop/install.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(aggregator): translate pre-session tunnel errors to session.failed
  components/aggregator/src/aggregator/services/session_transport.py
  components/aggregator/tests/test_session_transport_tunnel_error.py
Due: none

feat(desktop): route chat agent sessions through the hub aggregator
  syfthub-desktop/agent_operations.go
  syfthub-desktop/app.go
  syfthub-desktop/attachment_operations.go
  syfthub-desktop/attachment_operations_test.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/model-selector.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
  syfthub-desktop/frontend/src/hooks/use-attachments.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.d.ts
  syfthub-desktop/frontend/wailsjs/go/main/App.js
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/go.mod
  syfthub-desktop/go.sum
  syfthub-desktop/types.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(frontend): derive endpoint status from connection reachability
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(frontend): update endpoint status tests for reachability logic
  components/frontend/src/lib/__tests__/endpoint-utils.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): derive endpoint status from connection reachability (#419)
  components/frontend/src/components/endpoint/endpoint-detail.tsx
  components/frontend/src/lib/__tests__/endpoint-utils.test.ts
  components/frontend/src/lib/endpoint-utils.ts
  components/frontend/src/lib/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(desktop): simplify onboarding to a single connect step
  syfthub-desktop/frontend/src/components/OnboardingWizard.tsx
Due: none

feat(sdk-golang): log inbound NATS agent sessions via RequestLogHook
  components/aggregator/src/aggregator/services/session_transport.py
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/transport/nats.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

chore: drop auto-update-plan doc from dev (desktop-only)
  docs/architecture/auto-update-plan.md
Due: none

chore: drop auto-update-plan doc
  docs/architecture/auto-update-plan.md
Due: none

fix(desktop/chat): refresh hub catalog on chat view open
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/model-selector.tsx
  syfthub-desktop/frontend/src/stores/appStore.ts
Due: none

fix(sdk-golang): propagate endpoint deletion to hub on empty registry
  sdk/golang/syfthubapi/api.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/internal/app/app.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

feat(logs): live agent-session snapshots with lifecycle status
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/requestlog.go
  sdk/golang/syfthubapi/requestlog_test.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/transport/nats.go
  syfthub-desktop/app.go
  syfthub-desktop/frontend/src/components/tabs/LogsTab.tsx
  syfthub-desktop/frontend/src/lib/log-status.ts
  syfthub-desktop/frontend/src/stores/appStore.ts
  syfthub-desktop/frontend/wailsjs/go/models.ts
  syfthub-desktop/internal/logs/store.go
  syfthub-desktop/internal/logs/store_test.go
  syfthub-desktop/types.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test, desktop-gofmt, desktop-govet, desktop-gotest

refactor(logs): rename LogStatusCancelled → LogStatusTerminated
  sdk/golang/syfthubapi/requestlog.go
  sdk/golang/syfthubapi/requestlog_test.go
  sdk/golang/syfthubapi/transport/nats.go
  syfthub-desktop/frontend/src/components/tabs/LogsTab.tsx
  syfthub-desktop/frontend/src/lib/log-status.ts
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

fix(sdk-golang/agent): enforce policies on every user message in agent sessions
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/invoker_agent.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/session_manager_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

ci: notify syft-space-hub-docs on PR merge to main
  .github/workflows/notify-docs-on-pr-merge.yml
Due: none

refactor(sdk-golang/syfthubapi): remove typed errors, middleware, and slogAdapter
  sdk/golang/examples/file_based/main.go
  sdk/golang/examples/http_server/main.go
  sdk/golang/examples/nats_tunnel/main.go
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_builder.go
  sdk/golang/syfthubapi/agent_transcript_test.go
  sdk/golang/syfthubapi/api.go
  sdk/golang/syfthubapi/api_test.go
  sdk/golang/syfthubapi/auth.go
  sdk/golang/syfthubapi/auth_test.go
  sdk/golang/syfthubapi/codec.go
  sdk/golang/syfthubapi/config.go
  sdk/golang/syfthubapi/config_test.go
  sdk/golang/syfthubapi/containermode/executor.go
  sdk/golang/syfthubapi/containermode/image.go
  sdk/golang/syfthubapi/containermode/runtime.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/endpoint_test.go
  sdk/golang/syfthubapi/errors.go
  sdk/golang/syfthubapi/errors_test.go
  sdk/golang/syfthubapi/filemode/executor.go
  sdk/golang/syfthubapi/filemode/executor_test.go
  sdk/golang/syfthubapi/filemode/loader.go
  sdk/golang/syfthubapi/invoker.go
  sdk/golang/syfthubapi/invoker_agent.go
  sdk/golang/syfthubapi/middleware.go
  sdk/golang/syfthubapi/middleware_test.go
  sdk/golang/syfthubapi/processor.go
  sdk/golang/syfthubapi/processor_test.go
  sdk/golang/syfthubapi/transport/attachment_encryptor_test.go
  sdk/golang/syfthubapi/transport/attachment_object_store.go
  sdk/golang/syfthubapi/transport/attachment_object_store_memory_test.go
  sdk/golang/syfthubapi/transport/attachment_uploader.go
  sdk/golang/syfthubapi/transport/http.go
  sdk/golang/syfthubapi/transport/nats.go
  sdk/golang/syfthubapi/transport/nats_test.go
  sdk/golang/syfthubapi/transport/transport.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

refactor(cli, desktop): remove slogAdapter and switch to SyncEndpointsAsync
  cli/internal/cmd/node_run.go
  syfthub-desktop/endpoint_operations.go
  syfthub-desktop/internal/app/app.go
  syfthub-desktop/internal/app/app_test.go
Due: desktop-gofmt, desktop-govet, desktop-gotest, cli-gofmt, cli-govet

chore: add AGENTS.md with GitNexus code-intelligence instructions
  AGENTS.md
Due: none

fix(desktop): use native window chrome with custom centered title bar
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/OnboardingWizard.tsx
  syfthub-desktop/frontend/src/components/ui/window-controls.tsx
  syfthub-desktop/frontend/src/index.css
  syfthub-desktop/main.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

fix(desktop): frameless window on Windows/Linux, native title bar on macOS
  syfthub-desktop/frontend/src/components/AppShell.tsx
  syfthub-desktop/frontend/src/components/OnboardingWizard.tsx
  syfthub-desktop/frontend/src/components/ui/window-controls.tsx
  syfthub-desktop/main.go
Due: desktop-gofmt, desktop-govet, desktop-gotest

feat(desktop): replace blinking-dots loader with debounced ThinkingIndicator
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/thinking-indicator.tsx
  syfthub-desktop/frontend/src/components/ui/openmined-icon.tsx
  syfthub-desktop/frontend/src/index.css
Due: none

refactor(sdk-golang/agent): gate agent turns via AgentExecutor decorator
  sdk/golang/syfthubapi/agent.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/agent_executor_test.go
  sdk/golang/syfthubapi/endpoint.go
  sdk/golang/syfthubapi/filemode/agent_executor_integration_test.go
  sdk/golang/syfthubapi/invoker_agent.go
  sdk/golang/syfthubapi/schemas.go
  sdk/golang/syfthubapi/session_manager.go
  sdk/golang/syfthubapi/session_manager_test.go
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

feat(desktop): render agent policy outcomes as distinct notice cards
  sdk/golang/syfthub/agent_session.go
  sdk/golang/syfthubapi/agent_executor.go
  sdk/golang/syfthubapi/agent_executor_test.go
  syfthub-desktop/frontend/src/components/ChatView.tsx
  syfthub-desktop/frontend/src/components/chat/policy-notice.tsx
  syfthub-desktop/frontend/src/hooks/use-agent-workflow.ts
Due: go-sdk-fmt, go-sdk-vet, go-sdk-test

Path conditions:
  frontend-eslint: any of: ^components/frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^components/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^components/frontend/.*\.(ts|tsx)$
  ts-sdk-eslint: any of: ^sdk/typescript/.*\.(js|ts)$
  ts-sdk-typecheck: any of: ^sdk/typescript/.*\.ts$
  go-sdk-fmt: any of: ^sdk/golang/.*\.go$
  go-sdk-vet: any of: ^sdk/golang/.*\.go$
  go-sdk-test: any of: ^sdk/golang/.*\.go$
  desktop-gofmt: any of: ^syfthub-desktop/.*\.go$
  desktop-govet: any of: ^syfthub-desktop/.*\.go$
  desktop-gotest: any of: ^syfthub-desktop/.*\.go$
  cli-gofmt: any of: ^cli/.*\.go$
  cli-govet: any of: ^cli/.*\.go$
