Repository OpenMined/syfthub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: ESLint (frontend)
  entry: sh -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: sh -c 'cd frontend && npx prettier --check src/'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript check (frontend)
  entry: sh -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

chore: remove looseMatches from no-match message and category results to only high relevance (>= 0.5)
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/no-match-message.tsx
  frontend/src/lib/search-service.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: remove looseMatches from no-match message and category results to only high relevance (>= 0.5) (#52)
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/no-match-message.tsx
  frontend/src/lib/search-service.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: add SDK dev tests and TypeScript SDK dev tests to the test target
  Makefile
Due: none

feat: add support for pre-selected model from navigation state in chat view and related components
  frontend/src/components/chat-view.tsx
  frontend/src/components/hero.tsx
  frontend/src/pages/chat.tsx
  frontend/src/pages/home.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add message queue API endpoints for pub/consume, status, peek, and clear
  backend/pyproject.toml
  backend/src/syfthub/api/endpoints/mq.py
  backend/src/syfthub/api/router.py
  backend/src/syfthub/core/config.py
  backend/src/syfthub/core/redis_client.py
  backend/src/syfthub/database/dependencies.py
  backend/src/syfthub/main.py
  backend/src/syfthub/schemas/mq.py
  backend/src/syfthub/services/mq_service.py
Due: none

chore: add Redis service dependency and environment variable for message queue in docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

chore: extend mypy overrides to include redis_client and mq_service modules for better type checking
  backend/pyproject.toml
Due: none

test: add initial tests for core module
  backend/tests/test_core/__init__.py
  backend/tests/test_core/test_html_sanitizer.py
  backend/tests/test_core/test_ssrf_protection.py
  backend/tests/test_observability/__init__.py
  backend/tests/test_observability/test_sanitizer.py
Due: none

chore: remove unnecessary pytest import and fix formatting of HTML sanitizer test string
  backend/tests/test_core/test_html_sanitizer.py
  backend/tests/test_core/test_ssrf_protection.py
  backend/tests/test_observability/test_sanitizer.py
Due: none

feat: Add comprehensive tests for HTML sanitizer and SSRF protection (#55)
  Makefile
  backend/tests/test_core/__init__.py
  backend/tests/test_core/test_html_sanitizer.py
  backend/tests/test_core/test_ssrf_protection.py
  backend/tests/test_observability/__init__.py
  backend/tests/test_observability/test_sanitizer.py
Due: none

fix: scroll to top on page navigation in SPA
  frontend/src/app.tsx
  frontend/src/components/scroll-to-top.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update CI workflow to include dev branch, build and push images to GHCR, and deploy to staging
  .github/workflows/ci.yml
Due: none

fix: preserve CI-provided IMAGE_TAG in deploy.sh to prevent .env override
  scripts/deploy.sh
Due: none

feat: Add Redis-backed message queue endpoints and service (#54)
  backend/pyproject.toml
  backend/src/syfthub/api/endpoints/mq.py
  backend/src/syfthub/api/router.py
  backend/src/syfthub/core/config.py
  backend/src/syfthub/core/redis_client.py
  backend/src/syfthub/database/dependencies.py
  backend/src/syfthub/main.py
  backend/src/syfthub/schemas/mq.py
  backend/src/syfthub/services/mq_service.py
  docker-compose.dev.yml
Due: none

chore: add CI/CD workflow, example, and check endpoints script
  Makefile
  syfthub-api/.env.example
  syfthub-api/.github/workflows/ci.yml
  syfthub-api/.pre-commit-config.yaml
  syfthub-api/README.md
  syfthub-api/check_endpoints.py
  syfthub-api/example.py
  syfthub-api/pyproject.toml
  syfthub-api/src/syfthub_api/__init__.py
  syfthub-api/src/syfthub_api/app.py
  syfthub-api/src/syfthub_api/config.py
  syfthub-api/src/syfthub_api/exceptions.py
  syfthub-api/src/syfthub_api/logging.py
  syfthub-api/src/syfthub_api/py.typed
  syfthub-api/src/syfthub_api/schemas.py
  syfthub-api/tests/__init__.py
  syfthub-api/tests/conftest.py
  syfthub-api/tests/test_app.py
  syfthub-api/tests/test_config.py
  syfthub-api/tests/test_integration.py
  syfthub-api/tests/test_schemas.py
  syfthub-api/tests/test_sync.py
  syfthub-api/uv.lock
Due: none

chore: add 'setup' command to install dev dependencies and update help message
  Makefile
Due: none

chore: Add setup command for dev dependencies (#57)
  Makefile
  frontend/src/app.tsx
  frontend/src/components/scroll-to-top.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style: fix formatting in dependencies.py
  backend/src/syfthub/database/dependencies.py
Due: none

feat: add optional initialModel prop to ChatView for pre-selected model from navigation
  frontend/src/components/chat-view.tsx
  frontend/src/components/hero.tsx
  frontend/src/pages/chat.tsx
  frontend/src/pages/home.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update dependencies in package-lock.json, add @eslint/js and typescript-eslint for improved linting
  frontend/package-lock.json
Due: frontend-prettier

feat: Add optional pre-selected model support in chat and hero components (#58)
  frontend/package-lock.json
  frontend/src/components/chat-view.tsx
  frontend/src/components/hero.tsx
  frontend/src/pages/chat.tsx
  frontend/src/pages/home.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add endpoint to list guest-accessible endpoints with filtering and pagination
  backend/src/syfthub/api/endpoints/endpoints.py
  backend/src/syfthub/api/endpoints/token.py
  backend/src/syfthub/auth/satellite_tokens.py
  backend/src/syfthub/repositories/endpoint.py
  backend/src/syfthub/services/endpoint_service.py
  backend/tests/test_auth/test_satellite_tokens.py
  backend/tests/test_services/test_endpoint_service.py
Due: none

feat: add endpoint to list guest-accessible endpoints with filtering and pagination (#59)
  backend/src/syfthub/api/endpoints/endpoints.py
  backend/src/syfthub/api/endpoints/token.py
  backend/src/syfthub/auth/satellite_tokens.py
  backend/src/syfthub/repositories/endpoint.py
  backend/src/syfthub/services/endpoint_service.py
  backend/tests/test_auth/test_satellite_tokens.py
  backend/tests/test_services/test_endpoint_service.py
Due: none

feat: add EndpointConfirmation component for simplified endpoint selection flow
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/endpoint-confirmation.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: update dependencies in package-lock.json, including @syfthub/sdk version to 0.1.1 and added @eslint/js and typescript-eslint
  frontend/package-lock.json
Due: frontend-prettier

feat: Add endpoint confirmation flow with search and selection (#60)
  frontend/src/components/chat-view.tsx
  frontend/src/components/chat/endpoint-confirmation.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: Add API token management endpoints (#41)
  backend/src/syfthub/auth/api_tokens.py
  backend/src/syfthub/auth/db_dependencies.py
  backend/src/syfthub/auth/router.py
  backend/src/syfthub/database/dependencies.py
  backend/src/syfthub/models/__init__.py
  backend/src/syfthub/models/api_token.py
  backend/src/syfthub/repositories/__init__.py
  backend/src/syfthub/repositories/api_token.py
  backend/src/syfthub/schemas/__init__.py
  backend/src/syfthub/schemas/api_token.py
  backend/src/syfthub/services/api_token_service.py
  backend/tests/test_auth/test_api_tokens.py
  backend/tests/test_auth/test_dependencies.py
  backend/tests/test_database/test_dependencies.py
  backend/tests/test_repositories/conftest.py
  backend/tests/test_repositories/test_api_token.py
  backend/tests/test_schemas/test_api_token_schema.py
  backend/tests/test_services/test_api_token_service.py
  frontend/src/components/settings/api-tokens-settings-tab.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/context/settings-modal-context.tsx
  frontend/src/lib/sdk-client.ts
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/_http.py
  sdk/python/src/syfthub_sdk/api_tokens.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/typescript/src/client.ts
  sdk/typescript/src/http.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/api-token.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/resources/api-tokens.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: remove TweakCN live preview script from index.html
  frontend/index.html
Due: none

chore: remove TweakCN live preview script from index.html (#61)
  frontend/index.html
Due: none

feat: include all endpoints for health check; handle endpoints without connect or domain by marking unhealthy
  backend/src/syfthub/jobs/health_monitor.py
  backend/tests/test_jobs/test_health_monitor.py
Due: none

test: add comprehensive integration tests for heartbeat functionality
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/models.py
  sdk/python/src/syfthub_sdk/users.py
  sdk/python/tests/integration/test_heartbeat.py
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/models/user.ts
  sdk/typescript/src/resources/users.ts
  sdk/typescript/tests/integration/users.test.ts
  syfthub-api/src/syfthub_api/__init__.py
  syfthub-api/src/syfthub_api/app.py
  syfthub-api/src/syfthub_api/config.py
  syfthub-api/src/syfthub_api/heartbeat.py
  syfthub-api/tests/test_heartbeat.py
Due: none

feat: implement MQResource with publish, consume, peek, status, and clear methods
  backend/src/syfthub/schemas/user.py
  backend/src/syfthub/services/user_service.py
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/client.py
  sdk/python/src/syfthub_sdk/mq.py
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/models/mq.ts
  sdk/typescript/src/resources/mq.ts
  syfthub-api/src/syfthub_api/__init__.py
  syfthub-api/src/syfthub_api/app.py
  syfthub-api/src/syfthub_api/config.py
  syfthub-api/src/syfthub_api/schemas.py
  syfthub-api/tunnel_client.py
  syfthub-api/tunneled_example.py
Due: none

feat: Add reserved queue support and tunneling endpoints, schemas, and tests
  backend/src/syfthub/api/endpoints/mq.py
  backend/src/syfthub/schemas/mq.py
  backend/src/syfthub/services/mq_service.py
  backend/tests/test_services/test_mq_service.py
  sdk/python/src/syfthub_sdk/__init__.py
  sdk/python/src/syfthub_sdk/_http.py
  sdk/python/src/syfthub_sdk/chat.py
  sdk/python/src/syfthub_sdk/mq.py
  sdk/python/tests/integration/test_mq.py
  sdk/python/tests/unit/test_mq.py
  sdk/typescript/src/http.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/models/chat.ts
  sdk/typescript/src/models/index.ts
  sdk/typescript/src/models/mq.ts
  sdk/typescript/src/resources/api-tokens.ts
  sdk/typescript/src/resources/chat.ts
  sdk/typescript/src/resources/hub.ts
  sdk/typescript/src/resources/mq.ts
  sdk/typescript/src/resources/my-endpoints.ts
  syfthub-api/tests/test_tunnel.py
Due: none

feat: add tunneling support via MQ, including TunnelClient, dependencies, and updates to services and schemas for tunneling endpoints
  aggregator/src/aggregator/api/dependencies.py
  aggregator/src/aggregator/clients/tunnel.py
  aggregator/src/aggregator/core/config.py
  aggregator/src/aggregator/observability/constants.py
  aggregator/src/aggregator/schemas/requests.py
  aggregator/src/aggregator/services/generation.py
  aggregator/src/aggregator/services/orchestrator.py
  aggregator/src/aggregator/services/retrieval.py
  aggregator/tests/test_tunnel.py
Due: none

feat: include all endpoints for health check; handle endpoints without connect or domain by marking unhealthy (#62)
  backend/src/syfthub/jobs/health_monitor.py
  backend/tests/test_jobs/test_health_monitor.py
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
